Repository MaiNhan94/esp_idf_c3: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-kconfigs, check-deprecated-kconfigs-options, cmake-lint, check-codeowners

check-kconfigs:
  name: Validate Kconfig files
  entry: tools/ci/check_kconfigs.py
  language: python

check-deprecated-kconfigs-options:
  name: Check if any Kconfig Options Deprecated
  entry: tools/ci/check_deprecated_kconfigs.py
  language: python

cmake-lint:
  name: Check CMake Files Format
  entry: cmakelint --linelength=120 --spaces=4 --filter=-whitespace/indent
  language: python
  additional_dependencies:
  - cmakelint==1.4.1

check-codeowners:
  name: Validate Codeowner File
  entry: tools/ci/check_codeowners.py ci-check
  language: python
  pass_filenames: false

fix: drop s3, c3 support for pppos test apps
  tools/test_apps/protocols/pppos/README.md
Due: none

fix(test_apps): add supported targets for memprot, panic, monitor_ide
  tools/test_apps/system/memprot/README.md
  tools/test_apps/system/monitor_ide_integration/README.md
  tools/test_apps/system/panic/README.md
Due: none

fix: add spi_flash.h for s2, s3, c3 targets in cpu_start.c
  components/esp32c3/ld/esp32c3.project.ld.in
  components/esp32s3/ld/esp32s3.project.ld.in
  components/esp_rom/esp32c3/ld/esp32c3.rom.ld
  components/esp_rom/esp32s2/ld/esp32s2.rom.ld
  components/esp_rom/esp32s3/ld/esp32s3.rom.ld
  components/esp_system/port/cpu_start.c
Due: none

Add support for FTM operation
  components/esp_event/event_send.c
  components/esp_event/event_send_compat.inc
  components/esp_event/include/esp_event_legacy.h
  components/esp_wifi/Kconfig
  components/esp_wifi/include/esp_private/wifi.h
  components/esp_wifi/include/esp_wifi.h
  components/esp_wifi/include/esp_wifi_types.h
  components/esp_wifi/src/wifi_init.c
  docs/en/api-guides/wifi.rst
  examples/wifi/README.md
  examples/wifi/ftm/CMakeLists.txt
  examples/wifi/ftm/README.md
  examples/wifi/ftm/main/CMakeLists.txt
  examples/wifi/ftm/main/ftm_station_main.c
Due: check-kconfigs, cmake-lint

wifi/ftm: Stability fixes, raw FTM data in event
  components/esp_wifi/include/esp_wifi_types.h
  examples/wifi/ftm/main/ftm_station_main.c
Due: none

Update bt_discovery demo and README
  components/bt/host/bluedroid/api/include/api/esp_a2dp_api.h
  components/bt/host/bluedroid/api/include/api/esp_avrc_api.h
  components/bt/host/bluedroid/api/include/api/esp_bt_device.h
  components/bt/host/bluedroid/api/include/api/esp_bt_main.h
  components/bt/host/bluedroid/api/include/api/esp_gap_bt_api.h
  components/bt/host/bluedroid/api/include/api/esp_hf_ag_api.h
  components/bt/host/bluedroid/api/include/api/esp_hf_client_api.h
  components/bt/host/bluedroid/api/include/api/esp_spp_api.h
  components/bt/host/bluedroid/bta/av/bta_av_aact.c
  components/bt/host/bluedroid/bta/av/bta_av_main.c
  components/bt/host/bluedroid/bta/av/bta_av_ssm.c
  components/bt/host/bluedroid/bta/av/include/bta_av_int.h
  components/bt/include/esp32/include/esp_bt.h
  examples/bluetooth/bluedroid/classic_bt/bt_discovery/README.md
  examples/bluetooth/bluedroid/classic_bt/bt_discovery/main/bt_discovery.c
  examples/bluetooth/bluedroid/classic_bt/bt_spp_acceptor/ESP32_SSP.md
  examples/bluetooth/bluedroid/classic_bt/bt_spp_acceptor/README.md
  examples/bluetooth/bluedroid/classic_bt/bt_spp_initiator/README.md
  examples/bluetooth/bluedroid/classic_bt/bt_spp_initiator/main/CMakeLists.txt
  examples/bluetooth/bluedroid/classic_bt/bt_spp_initiator/main/app_spp_msg_prs.c
  examples/bluetooth/bluedroid/classic_bt/bt_spp_initiator/main/app_spp_msg_prs.h
  examples/bluetooth/bluedroid/classic_bt/bt_spp_initiator/main/app_spp_msg_set.c
  examples/bluetooth/bluedroid/classic_bt/bt_spp_initiator/main/app_spp_msg_set.h
  examples/bluetooth/bluedroid/classic_bt/bt_spp_initiator/main/console_uart.c
  examples/bluetooth/bluedroid/classic_bt/bt_spp_initiator/main/console_uart.h
  examples/bluetooth/bluedroid/classic_bt/bt_spp_initiator/main/example_spp_initiator_demo.c
Due: cmake-lint

add coexist hook functions and fix bugs for coexistence
  components/bt/controller/esp32c3/bt.c
  components/bt/controller/esp32s3/bt.c
  components/esp_rom/esp32s3/ld/esp32s3.rom.ld
Due: none

fix ble restart faild when enable ble sleep
  components/esp32s3/system_api_esp32s3.c
  components/soc/esp32s3/include/soc/syscon_reg.h
Due: none

fix read multi char failed(GATT_27001)
  components/bt/host/bluedroid/bta/gatt/bta_gattc_act.c
Due: none

fix a2dp sink crash due to ble 5.0 code
  components/bt/host/bluedroid/hci/hci_layer.c
  components/bt/host/bluedroid/stack/btu/btu_hcif.c
  components/bt/host/bluedroid/stack/hcic/hciblecmds.c
  components/bt/host/bluedroid/stack/include/stack/bt_types.h
  components/bt/host/bluedroid/stack/include/stack/hcimsgs.h
Due: none

disable bluedroid congest error log print
  components/bt/host/bluedroid/stack/gatt/gatt_cl.c
  components/bt/host/bluedroid/stack/l2cap/l2c_api.c
Due: none

app_update: fix warnings in tests for ESP32-C3 build
  components/app_update/test/test_switch_ota.c
Due: none

unit-test-app: add config for app_update tests for ESP32-C3
  tools/unit-test-app/configs/app_update_c3
Due: none

Security: ESP32C3 memory protection feature (IRAM0/DRAM0)
  components/driver/test/test_spi_master.c
  components/esp32c3/CMakeLists.txt
  components/esp32c3/include/esp32c3/memprot.h
  components/esp32c3/ld/esp32c3.project.ld.in
  components/esp32c3/memprot.c
  components/esp32s2/Kconfig
  components/esp_system/Kconfig
  components/esp_system/port/arch/riscv/panic_arch.c
  components/esp_system/port/arch/xtensa/panic_arch.c
  components/esp_system/port/cpu_start.c
  components/esp_system/port/panic_handler.c
  components/esp_system/sdkconfig.rename
  components/esp_system/system_api.c
  components/hal/esp32c3/include/hal/memprot_ll.h
  components/heap/test/test_malloc_caps.c
  components/heap/test/test_realloc.c
  components/heap/test/test_runtime_heap_reg.c
  components/riscv/include/esp_private/panic_reason.h
  components/riscv/vectors.S
  components/soc/esp32c3/include/soc/soc.h
  components/soc/esp32c3/soc_memory_layout.c
  components/soc/esp32s2/soc_memory_layout.c
  tools/unit-test-app/sdkconfig.defaults.esp32c3
  tools/unit-test-app/sdkconfig.defaults.esp32s2
Due: check-kconfigs, check-deprecated-kconfigs-options, cmake-lint

add ble examples default sdkconfig for esp32s3
  components/bt/host/bluedroid/stack/btu/btu_hcif.c
  examples/bluetooth/bluedroid/ble/ble_ancs/sdkconfig.defaults.esp32s3
  examples/bluetooth/bluedroid/ble/ble_compatibility_test/sdkconfig.defaults.esp32s3
  examples/bluetooth/bluedroid/ble/ble_eddystone/sdkconfig.defaults.esp32s3
  examples/bluetooth/bluedroid/ble/ble_hid_device_demo/sdkconfig.defaults.esp32s3
  examples/bluetooth/bluedroid/ble/ble_ibeacon/sdkconfig.defaults.esp32s3
  examples/bluetooth/bluedroid/ble/ble_spp_client/sdkconfig.defaults.esp32s3
  examples/bluetooth/bluedroid/ble/ble_spp_server/sdkconfig.defaults.esp32s3
  examples/bluetooth/bluedroid/ble/ble_throughput/throughput_client/sdkconfig.defaults.esp32s3
  examples/bluetooth/bluedroid/ble/ble_throughput/throughput_server/sdkconfig.defaults.esp32s3
  examples/bluetooth/bluedroid/ble/blufi/sdkconfig.defaults.esp32c3
  examples/bluetooth/bluedroid/ble/blufi/sdkconfig.defaults.esp32s3
  examples/bluetooth/bluedroid/ble/gatt_client/sdkconfig.defaults.esp32s3
  examples/bluetooth/bluedroid/ble/gatt_security_client/sdkconfig.defaults.esp32s3
  examples/bluetooth/bluedroid/ble/gatt_security_server/sdkconfig.defaults.esp32s3
  examples/bluetooth/bluedroid/ble/gatt_server/sdkconfig.defaults.esp32s3
  examples/bluetooth/bluedroid/ble/gatt_server_service_table/sdkconfig.defaults.esp32s3
  examples/bluetooth/bluedroid/ble/gattc_multi_connect/sdkconfig.defaults.esp32s3
  examples/bluetooth/bluedroid/ble_50/ble50_security_client/sdkconfig.defaults.esp32s3
  examples/bluetooth/bluedroid/ble_50/multi-adv/sdkconfig.defaults.esp32s3
  examples/bluetooth/bluedroid/ble_50/peroidic_adv/sdkconfig.defaults.esp32s3
  examples/bluetooth/bluedroid/ble_50/peroidic_sync/sdkconfig.defaults.esp32s3
  examples/bluetooth/bluedroid/coex/gattc_gatts_coex/sdkconfig.defaults.esp32s3
Due: check-deprecated-kconfigs-options

fix ble connection maximum latency is 499
  components/bt/host/bluedroid/api/include/api/esp_bt_defs.h
  components/bt/host/bluedroid/stack/include/stack/btm_ble_api.h
Due: none

bugfix/if bta_hf_client_sco_co_out_data is called, it will crash when sco disconnected
  components/bt/host/bluedroid/btc/profile/std/hf_client/bta_hf_client_co.c
Due: none

FTM support for ESP32-C3 and connectionless mode
  components/esp_wifi/Kconfig
  components/esp_wifi/include/esp_wifi.h
  components/esp_wifi/include/esp_wifi_types.h
  components/esp_wifi/src/wifi_init.c
  docs/en/api-guides/wifi.rst
  examples/wifi/ftm/README.md
  examples/wifi/ftm/main/CMakeLists.txt
  examples/wifi/ftm/main/ftm_main.c
Due: check-kconfigs, cmake-lint

esp_eth: deprecate esp_eth_receive
  components/esp_eth/include/esp_eth.h
Due: none

esp_eth: fix typo in lan8720 driver
  components/esp_eth/src/esp_eth_phy_lan8720.c
Due: none

feat(ci): update known_failure_cases_repo before running tests
  tools/ci/config/target-test.yml
Due: none

feat(tiny_test_fw): ignore known failure cases result
  tools/ci/python_packages/tiny_test_fw/bin/Runner.py
Due: none

feat(tiny_test_fw): unify all junit report test case name
  tools/ci/python_packages/tiny_test_fw/TinyFW.py
  tools/ci/python_packages/tiny_test_fw/Utility/__init__.py
  tools/ci/python_packages/ttfw_idf/__init__.py
  tools/unit-test-app/unit_test.py
Due: none

freemodbus: add support for list of area descriptors for each register area
  components/freemodbus/common/esp_modbus_slave.c
  components/freemodbus/common/mbc_slave.h
  components/freemodbus/serial_slave/modbus_controller/mbc_serial_slave.c
  components/freemodbus/tcp_slave/modbus_controller/mbc_tcp_slave.c
  examples/protocols/modbus/mb_example_common/include/modbus_params.h
  examples/protocols/modbus/serial/mb_slave/main/slave.c
  examples/protocols/modbus/tcp/mb_tcp_slave/main/tcp_slave.c
Due: none

component/bt: handle sleep wakeup event in the context of controller task instead of timer task
  components/bt/controller/esp32c3/bt.c
Due: none

enable coex config in C3 and S3 default sdkconfig
  examples/bluetooth/bluedroid/ble/blufi/sdkconfig.defaults.esp32c3
  examples/bluetooth/bluedroid/ble/blufi/sdkconfig.defaults.esp32s3
Due: check-deprecated-kconfigs-options

tools/idf.py: promote esp32c3 from preview to supported target
  tools/idf_py_actions/constants.py
Due: none

tools/gdb_panic_server: wrap b"" with bytes() for py2.7 compatibility
  tools/gdb_panic_server.py
Due: none

Refactor Bluetooth sleep mechanism
  components/bt/controller/esp32c3/bt.c
Due: none

remove use of macro "CONFIG_SPIRAM_USE_MALLOC"
  components/bt/controller/esp32c3/bt.c
Due: none

Refactor Bluetooth init/deinit mechanism
  components/bt/controller/esp32c3/bt.c
Due: none

update CN translation for ulp-risc-v partition-table tips-and-quirks and idf-monitor for api-guides
  docs/en/api-guides/jtag-debugging/tips-and-quirks.rst
  docs/en/api-guides/partition-tables.rst
  docs/en/api-guides/tools/idf-monitor.rst
  docs/en/api-guides/ulp-risc-v.rst
  docs/zh_CN/api-guides/jtag-debugging/tips-and-quirks.rst
  docs/zh_CN/api-guides/partition-tables.rst
  docs/zh_CN/api-guides/tools/idf-monitor.rst
  docs/zh_CN/api-guides/ulp-risc-v.rst
  docs/zh_CN/api-reference/storage/spi_flash.rst
Due: none

spi_flash: add config option to enable encrypted partition read/write
  components/bootloader/Kconfig.projbuild
  components/spi_flash/Kconfig
  components/spi_flash/partition.c
Due: check-kconfigs

Revert "esp_partition: disable encrypted reads/writes if flash encryption is disabled"
  components/spi_flash/partition.c
Due: none

unit-test-app: disable encrypted flash read/write in psram config to fix build failure
  tools/unit-test-app/configs/psram
Due: none

temporarily disable hardware encryption for esp32s3
  components/mbedtls/Kconfig
  components/mbedtls/test/test_mbedtls_mpi.c
  examples/bluetooth/bluedroid/ble/blufi/sdkconfig.defaults.esp32s3
Due: check-kconfigs, check-deprecated-kconfigs-options

Mac BB power down in light sleep
  components/bt/controller/esp32c3/Kconfig.in
  components/bt/controller/esp32c3/bt.c
  components/bt/include/esp32c3/include/esp_bt.h
  components/esp_rom/esp32c3/ld/esp32c3.rom.ld
  components/esp_system/include/esp_sleep.h
  components/esp_system/sleep_modes.c
  components/esp_wifi/Kconfig
  components/esp_wifi/include/esp_phy_init.h
  components/esp_wifi/include/esp_private/wifi.h
  components/esp_wifi/src/phy_init.c
  components/esp_wifi/src/wifi_init.c
  components/hal/interrupt_controller_hal.c
  components/soc/esp32c3/include/soc/soc.h
Due: check-kconfigs

fix(coredump): parse registers values from stack
  components/espcoredump/corefile/xtensa.py
Due: none

fix throughput example build error
  examples/bluetooth/bluedroid/ble/ble_throughput/throughput_client/main/example_ble_client_throughput.c
  examples/bluetooth/bluedroid/ble/ble_throughput/throughput_server/main/example_ble_server_throughput.c
Due: none

Path conditions:
  check-kconfigs: any of: ^Kconfig$|Kconfig.*$
  check-deprecated-kconfigs-options: any of: sdkconfig\.ci$|sdkconfig\.rename$|sdkconfig.*$
  cmake-lint: any of: CMakeLists.txt$|\.cmake$, but not: \/third_party\/
  check-codeowners: any of: \.gitlab/CODEOWNERS
