Repository MaiNhan94/esp_idf_c3: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-kconfigs, check-deprecated-kconfigs-options, cmake-lint, check-codeowners

check-kconfigs:
  name: Validate Kconfig files
  entry: tools/ci/check_kconfigs.py
  language: python

check-deprecated-kconfigs-options:
  name: Check if any Kconfig Options Deprecated
  entry: tools/ci/check_deprecated_kconfigs.py
  language: python

cmake-lint:
  name: Check CMake Files Format
  entry: cmakelint --linelength=120 --spaces=4 --filter=-whitespace/indent
  language: python
  additional_dependencies:
  - cmakelint==1.4.1

check-codeowners:
  name: Validate Codeowner File
  entry: tools/ci/check_codeowners.py ci-check
  language: python
  pass_filenames: false

bootloader/esp32c3: Adds secure boot (not yet supported)
  components/app_update/esp_ota_ops.c
  components/app_update/include/esp_ota_ops.h
  components/bootloader/Kconfig.projbuild
  components/bootloader/subproject/CMakeLists.txt
  components/bootloader_support/src/esp32c3/secure_boot.c
  components/bootloader_support/src/esp32c3/secure_boot_signatures.c
  components/bootloader_support/src/idf/secure_boot_signatures.c
  components/efuse/src/esp32c3/esp_efuse_fields.c
  components/esp_common/include/esp_fault.h
  components/esp_rom/include/esp32c3/rom/rsa_pss.h
  components/esp_rom/include/esp32c3/rom/secure_boot.h
  components/esp_rom/include/esp32s2/rom/secure_boot.h
  components/soc/esp32c3/include/soc/soc_caps.h
  docs/en/security/secure-boot-v2.rst
Due: check-kconfigs, cmake-lint

soc: Adds a soc_caps define for all chips to define the number of boot key digests
  components/bootloader_support/src/esp32s2/secure_boot.c
  components/bootloader_support/src/esp32s3/secure_boot.c
  components/soc/esp32/include/soc/soc_caps.h
  components/soc/esp32s2/include/soc/soc_caps.h
  components/soc/esp32s3/include/soc/soc_caps.h
Due: none

esp_ringbuf: add kconfig opt to move ringbuffer functions into flash
  components/esp_ringbuf/linker.lf
  components/esp_ringbuf/test/test_ringbuf.c
  components/freertos/linker.lf
  tools/unit-test-app/configs/freertos_flash
Due: none

examples/blink: convert tabs to spaces
  examples/get-started/blink/main/blink.c
Due: none

pylint: increase instance attribute number from 7 to 12
  .pylintrc
Due: none

pre-commit: Add double-quote-string-fixer and isort for python files
  .pre-commit-config.yaml
Due: none

esp32s2: Fix wakeup fail issue when pd peripheral in lightsleep. esp32s2: fix wrong deepsleep configuration issue.
  components/esp_hw_support/port/esp32s2/rtc_sleep.c
  components/soc/esp32s2/include/soc/rtc.h
Due: none

esp32s2/esp32s3: Improve 32k xtal startup time
  components/soc/esp32s2/include/soc/rtc.h
  components/soc/esp32s3/include/soc/rtc.h
Due: none

light sleep: libphy optimization for esp32c3
  components/esp_rom/esp32c3/ld/esp32c3.rom.ld
  components/esp_wifi/include/phy.h
  components/esp_wifi/src/phy_init.c
Due: none

deep sleep: add empty interface rtc_deep_sleep_start for esp32c3
  components/esp_hw_support/port/esp32c3/rtc_sleep.c
  components/soc/esp32c3/include/soc/rtc.h
Due: none

ble_mesh: stack: Fix proxy client may fail to resend msg
  components/bt/esp_ble_mesh/mesh_core/adv.c
  components/bt/esp_ble_mesh/mesh_core/net.c
Due: none

ble_mesh: stack: Use different random for each provisioning
  components/bt/esp_ble_mesh/mesh_core/provisioner_prov.c
Due: none

NimBLE: Support APIs for whitelist remove and set packet length in controller
  components/bt/host/nimble/Kconfig.in
Due: check-kconfigs

ble_mesh: stack: Remove node set device name return status check
  components/bt/esp_ble_mesh/mesh_core/bluedroid_host/mesh_bearer_adapt.c
Due: none

wifi_prov_mgr: Make BLE transport option visible in example config except for S2
  examples/provisioning/wifi_prov_mgr/main/Kconfig.projbuild
Due: check-kconfigs

docs: fix uart number naming error
  docs/en/api-reference/peripherals/uart.rst
Due: none

bootloader: fix external 32k xtal not found error
  components/bootloader/subproject/CMakeLists.txt
  components/esp_system/CMakeLists.txt
Due: cmake-lint

ttfw/IDFDUT: i) Added option to erase_flash in the IDFDUT class ii) Renamed the method dump_flush to dump_flash
  tools/ci/python_packages/ttfw_idf/IDFDUT.py
  tools/test_apps/system/panic/test_panic_util/test_panic_util.py
Due: none

light sleep: add system light sleep example support
  examples/system/light_sleep/main/light_sleep_example_main.c
Due: none

esp_wifi: Add pairwise cipher support in softAP config
  components/esp_wifi/include/esp_wifi_types.h
  components/wpa_supplicant/src/esp_supplicant/esp_hostap.c
  components/wpa_supplicant/src/esp_supplicant/esp_wifi_driver.h
Due: none

esp_tls: Fix memory leak when esp-tls server session is deleted
  components/esp-tls/esp_tls_mbedtls.c
  components/esp-tls/esp_tls_wolfssl.c
Due: none

esp-tls: Fix mem leak when global_ca_store is freed
  components/esp-tls/esp_tls_mbedtls.c
Due: none

esp_tls_wolfssl: Move order of crt_bundle check to match that in esp_tls_mbedtls
  components/esp-tls/esp_tls_wolfssl.c
Due: none

https_request_example: Updated the example to showcase cacert_buf and global_ca store * Made required changes in the example_test
  examples/protocols/https_request/example_test.py
  examples/protocols/https_request/main/CMakeLists.txt
  examples/protocols/https_request/main/component.mk
  examples/protocols/https_request/main/https_request_example_main.c
  examples/protocols/https_request/main/server_root_cert.pem
Due: cmake-lint

esp-tls: Added unit tests
  components/esp-tls/test/CMakeLists.txt
  components/esp-tls/test/component.mk
  components/esp-tls/test/test_esp_tls.c
  tools/unit-test-app/configs/default_2
  tools/unit-test-app/configs/default_2_c3
  tools/unit-test-app/configs/default_2_s2
  tools/unit-test-app/configs/esp_tls
  tools/unit-test-app/configs/psram
  tools/unit-test-app/configs/release_2
  tools/unit-test-app/configs/single_core_2
Due: cmake-lint

add brownout reset option prompt to menuconfig
  components/esp32c3/Kconfig
Due: check-kconfigs

light sleep: fix cpu pd bug of normal light sleep
  components/esp_system/sleep_modes.c
Due: none

newlib: keep esp_rtc_get_time_us when rewrite the value of RTC_SLOW_CLK_CAL_REG
  components/esp_system/sleep_modes.c
  components/newlib/port/esp_time_impl.c
Due: none

CI: add build ESP32C3 SSC jobs
  tools/ci/config/build.yml
Due: none

core dump: modify the test according to the refactor
  components/espcoredump/test/expected_output
  components/espcoredump/test/test_espcoredump.py
  components/espcoredump/test/test_espcoredump.sh
  tools/test_idf_monitor/tests/core1_out.txt
Due: none

core dump: Add corefile package for parse/build bin/elf core files
  components/espcoredump/corefile/__init__.py
  components/espcoredump/corefile/elf.py
  components/espcoredump/corefile/gdb.py
  components/espcoredump/corefile/loader.py
  components/espcoredump/corefile/xtensa.py
Due: none

core dump: add extra pip dependency construct==2.10.54
  requirements.txt
Due: none

core dump: rewrite espcoredump.py with corefile package
  components/espcoredump/espcoredump.py
Due: none

spi_slave_hd: add DMA Append Mode feature
  components/driver/include/driver/spi_slave_hd.h
  components/driver/spi_common.c
  components/driver/spi_slave_hd.c
  components/driver/test/test_spi_slave_hd.c
  components/hal/esp32c3/include/hal/spi_ll.h
  components/hal/esp32s2/include/hal/spi_ll.h
  components/hal/esp32s3/include/hal/spi_ll.h
  components/hal/include/hal/spi_slave_hd_hal.h
  components/hal/include/hal/spi_types.h
  components/hal/spi_hal.c
  components/hal/spi_slave_hal.c
  components/hal/spi_slave_hd_hal.c
Due: none

wifi: remove esp_phy_enable/disable IRAM_attr
  components/esp_wifi/src/phy_init.c
Due: none

esp32c3/Digital Signature: mbedtls integration through ESP-TLS
  components/esp-tls/Kconfig
  components/esp32c3/include/esp_ds.h
  components/mbedtls/CMakeLists.txt
  components/mbedtls/port/esp_ds/esp_rsa_sign_alt.c
  components/mbedtls/port/include/esp_ds/esp_rsa_sign_alt.h
  components/mbedtls/port/include/rsa_sign_alt.h
  examples/protocols/mqtt/ssl_ds/README.md
  examples/protocols/mqtt/ssl_ds/configure_ds.py
  examples/protocols/mqtt/ssl_ds/main/CMakeLists.txt
  examples/protocols/mqtt/ssl_ds/main/app_main.c
Due: check-kconfigs, cmake-lint

configure_ds.py: Fix double quoted strings ( pre_hook check )
  examples/protocols/mqtt/ssl_ds/configure_ds.py
Due: none

Make OTA example support keepalive
  examples/system/ota/advanced_https_ota/main/advanced_https_ota_example.c
  examples/system/ota/native_ota_example/main/native_ota_example.c
  examples/system/ota/simple_ota_example/main/simple_ota_example.c
Due: none

Add options for esp_http_client and esp_websocket_client to support keepalive
  components/esp_http_client/esp_http_client.c
  components/esp_http_client/include/esp_http_client.h
  components/esp_websocket_client/esp_websocket_client.c
  components/esp_websocket_client/include/esp_websocket_client.h
Due: none

Path conditions:
  check-kconfigs: any of: ^Kconfig$|Kconfig.*$
  check-deprecated-kconfigs-options: any of: sdkconfig\.ci$|sdkconfig\.rename$|sdkconfig.*$
  cmake-lint: any of: CMakeLists.txt$|\.cmake$, but not: \/third_party\/
  check-codeowners: any of: \.gitlab/CODEOWNERS
