Repository MaiNhan94/esp_idf_c3: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-kconfigs, check-deprecated-kconfigs-options, cmake-lint, check-codeowners

check-kconfigs:
  name: Validate Kconfig files
  entry: tools/ci/check_kconfigs.py
  language: python

check-deprecated-kconfigs-options:
  name: Check if any Kconfig Options Deprecated
  entry: tools/ci/check_deprecated_kconfigs.py
  language: python

cmake-lint:
  name: Check CMake Files Format
  entry: cmakelint --linelength=120 --spaces=4 --filter=-whitespace/indent
  language: python
  additional_dependencies:
  - cmakelint==1.4.1

check-codeowners:
  name: Validate Codeowner File
  entry: tools/ci/check_codeowners.py ci-check
  language: python
  pass_filenames: false

esp_wifi: close tsens when close phy (backport v4.3)
  components/esp_wifi/include/phy.h
  components/esp_wifi/src/phy_init.c
Due: none

soc: add dummy bytes to ensure instr prefetch always valid
  components/bootloader/subproject/main/ld/esp32/bootloader.ld
  components/bootloader/subproject/main/ld/esp32c3/bootloader.ld
  components/bootloader/subproject/main/ld/esp32s2/bootloader.ld
  components/bootloader/subproject/main/ld/esp32s3/bootloader.ld
  components/esp32/ld/esp32.project.ld.in
  components/esp32c3/ld/esp32c3.project.ld.in
  components/esp32s2/ld/esp32s2.project.ld.in
  components/esp32s3/ld/esp32s3.project.ld.in
Due: none

driver: fix uart handler in iram calls inline uart_ll_is_tx_idle
  components/hal/esp32/include/hal/uart_ll.h
  components/hal/esp32s2/include/hal/uart_ll.h
  components/hal/esp32s3/include/hal/uart_ll.h
Due: none

bootloader: Allow 'silent assert' config to work in bootloader
  components/bootloader/subproject/CMakeLists.txt
  components/newlib/CMakeLists.txt
Due: cmake-lint

lwip: Support silent assertion configuration
  components/lwip/Kconfig
  components/lwip/port/esp32/include/arch/cc.h
Due: check-kconfigs

freertos: Use the standard assert() function for configASSERT
  components/freertos/Kconfig
  components/freertos/port/riscv/include/freertos/FreeRTOSConfig.h
  components/freertos/port/xtensa/include/freertos/FreeRTOSConfig.h
Due: check-kconfigs

esp-idf: Corrected check of Class of Device for discovered devices
  examples/bluetooth/bluedroid/classic_bt/bt_discovery/main/bt_discovery.c
Due: none

freertos: Add a small additional stack when optimization set to None
  components/freertos/port/riscv/include/freertos/FreeRTOSConfig.h
  components/freertos/port/xtensa/include/freertos/FreeRTOSConfig.h
Due: none

freertos: Increase minimum task stack size when stack smashing checker is enabled
  components/esp32/dport_access.c
  components/freertos/port/riscv/include/freertos/FreeRTOSConfig.h
  components/freertos/port/xtensa/include/freertos/FreeRTOSConfig.h
Due: none

esp_system: add VDD_SDIO power domain configuration for light sleep
  components/esp_system/include/esp_sleep.h
  components/esp_system/sleep_modes.c
Due: none

esp_system: add VDD_SDIO power domain configuration to documentation
  components/esp_system/Kconfig
  components/esp_system/sleep_modes.c
  docs/en/api-reference/system/sleep_modes.rst
Due: check-kconfigs

spi: remove HSPI macro on esp32c3 and esp32s3
  components/driver/include/driver/sdspi_host.h
  components/driver/include/driver/spi_common.h
  components/driver/include/driver/spi_slave.h
  components/driver/spi_slave.c
  components/driver/test/include/test/test_common_spi.h
  components/driver/test/test_sdio.c
  components/driver/test/test_spi_master.c
  components/driver/test/test_spi_slave.c
  components/driver/test/test_spi_slave_hd.c
  components/fatfs/test/test_fatfs_sdmmc.c
  components/hal/esp32s3/include/hal/clk_gate_ll.h
  components/hal/include/hal/spi_hal.h
  components/hal/include/hal/spi_slave_hal.h
  components/hal/include/hal/spi_types.h
  components/hal/spi_flash_hal.c
  components/hal/spi_flash_hal_iram.c
  components/soc/esp32/include/soc/spi_pins.h
  components/soc/esp32c3/include/soc/spi_pins.h
  components/soc/esp32c3/spi_periph.c
  components/soc/esp32s2/include/soc/spi_pins.h
  components/soc/esp32s3/include/soc/periph_defs.h
  components/soc/esp32s3/include/soc/spi_pins.h
  components/soc/esp32s3/spi_periph.c
  components/spi_flash/esp_flash_spi_init.c
  components/spi_flash/memspi_host_driver.c
  components/spi_flash/spi_flash_os_func_app.c
  components/spi_flash/test/test_esp_flash.c
  docs/en/api-guides/unit-tests-legacy.rst
  docs/en/api-guides/unit-tests.rst
  docs/zh_CN/api-guides/unit-tests-legacy.rst
  docs/zh_CN/api-guides/unit-tests.rst
  docs/zh_CN/api-reference/storage/spi_flash.rst
Due: none

tools: handle exception in case of logging Unicode characters
  tools/idf_monitor.py
Due: none

newlib: persist rtc clk corrections
  components/newlib/port/esp_time_impl.c
Due: none

esp_hw_support: add test for rtc clk compensation
  components/esp_hw_support/test/test_rtc_clk.c
Due: none

secure_boot_v2: Adds support SB_V2 for ESP32-C3 ECO3
  components/bootloader/Kconfig.projbuild
Due: check-kconfigs

docs: Adds secure_boot_v2 for ESP32-C3 ECO3
  docs/en/api-guides/index.rst
  docs/en/security/flash-encryption.rst
  docs/en/security/secure-boot-v2.rst
  docs/sphinx-known-warnings.txt
Due: none

esp32c3: Default supported ESP32-C3 Revision ECO3
  components/esp32c3/Kconfig
Due: check-kconfigs

unit-test-app(config): esp32c3 uses eco0 for UTs
  tools/unit-test-app/sdkconfig.defaults.esp32c3
Due: check-deprecated-kconfigs-options

esp_hw_support: fix esp_restart crash
  components/esp_hw_support/component.mk
Due: none

rtc: increase CI acceptance range for calc 8M test
  components/esp_hw_support/test/test_rtc_clk.c
Due: none

docs: add C3 TRM links
  docs/idf_extensions/format_idf_target.py
Due: none

esp32c3: Reserve RTC memory from bootloader in the app linker script
  components/esp32c3/ld/esp32c3.ld
Due: none

esp32s3: Reserve RTC memory in bootloader in the app linker script
  components/esp32s3/ld/esp32s3.ld
Due: none

bootloader: Fix "skip validate on exit deep sleep" when "Use RTC fast memory as heap" is enabled
  components/bootloader_support/src/bootloader_common_loader.c
Due: none

NimBLE: Add error prints for ACL buffer exhaustion in NPL
  components/bt/host/nimble/esp-hci/src/esp_nimble_hci.c
Due: none

esp32c3: memprot API upgrade and test application
  components/esp32c3/CMakeLists.txt
  components/esp32c3/include/esp32c3/memprot.h
  components/esp32c3/ld/esp32c3.project.ld.in
  components/esp32c3/memprot.c
  components/esp32s2/include/esp32s2/memprot.h
  components/esp32s2/ld/esp32s2.project.ld.in
  components/esp32s2/memprot.c
  components/esp_system/port/arch/riscv/panic_arch.c
  components/hal/esp32c3/include/hal/memprot_ll.h
  components/hal/esp32s2/include/hal/memprot_ll.h
  components/hal/esp32s2/include/hal/memprot_peri_ll.h
  tools/ci/config/target-test.yml
  tools/test_apps/system/memprot/CMakeLists.txt
  tools/test_apps/system/memprot/README.md
  tools/test_apps/system/memprot/app_test.py
  tools/test_apps/system/memprot/main/CMakeLists.txt
  tools/test_apps/system/memprot/main/Kconfig.projbuild
  tools/test_apps/system/memprot/main/esp32c3/return_from_panic.S
  tools/test_apps/system/memprot/main/esp32c3/test_memprot_main.c
  tools/test_apps/system/memprot/main/esp32c3/test_panic.c
  tools/test_apps/system/memprot/main/esp32s2/test_memprot_main.c
  tools/test_apps/system/memprot/main/esp32s2/test_panic.c
  tools/test_apps/system/memprot/sdkconfig.ci
Due: check-kconfigs, check-deprecated-kconfigs-options, cmake-lint

docs: fix doxygen compile warnings for doxygen 1.9.1
  components/bt/host/bluedroid/api/include/api/esp_blufi_api.h
  components/bt/host/bluedroid/api/include/api/esp_gattc_api.h
  components/bt/host/bluedroid/api/include/api/esp_hf_ag_api.h
  components/bt/host/bluedroid/api/include/api/esp_hf_client_api.h
  docs/doxygen/Doxyfile_common
  docs/en/api-guides/blufi.rst
  docs/zh_CN/api-guides/blufi.rst
Due: none

fix: reduce the consumption of touch sensor during deep sleep
  components/driver/esp32s2/include/driver/touch_sensor.h
  components/driver/esp32s2/touch_sensor.c
  components/driver/esp32s3/include/driver/touch_sensor.h
  components/esp_system/sleep_modes.c
  components/hal/esp32s2/include/hal/touch_sensor_hal.h
  components/hal/esp32s2/touch_sensor_hal.c
  components/hal/esp32s3/include/hal/touch_sensor_hal.h
  components/hal/esp32s3/touch_sensor_hal.c
  components/soc/esp32s2/include/soc/rtc.h
  components/soc/esp32s3/include/soc/rtc.h
  examples/system/deep_sleep/main/deep_sleep_example_main.c
Due: none

components: Use CONFIG_LWIP_IPV6 to strip IPv6 function in components
  components/esp-tls/esp_tls.c
  components/esp_http_server/src/httpd_main.c
  components/esp_netif/include/esp_netif.h
  components/esp_netif/include/esp_netif_slip.h
  components/esp_netif/lwip/esp_netif_lwip.c
  components/esp_netif/lwip/esp_netif_lwip_slip.c
  components/freemodbus/tcp_master/port/port_tcp_master.c
  components/freemodbus/tcp_slave/port/port_tcp_slave.c
  components/mdns/include/mdns.h
  components/mdns/mdns.c
  components/mdns/mdns_console.c
  components/mdns/mdns_networking.c
  components/tcpip_adapter/include/tcpip_adapter.h
  components/tcpip_adapter/tcpip_adapter_compat.c
Due: none

lwip: Add LWIP_IPV6 macro to strip IPv6 function in LWIP component
  components/lwip/Kconfig
  components/lwip/apps/ping/ping_sock.c
  components/lwip/include/apps/ping/ping_sock.h
  components/lwip/port/esp32/debug/lwip_debug.c
  components/lwip/port/esp32/include/lwipopts.h
Due: check-kconfigs

examples: Use CONFIG_LWIP_IPV6 to strip tcp_server example
  examples/protocols/sockets/tcp_server/CMakeLists.txt
  examples/protocols/sockets/tcp_server/Makefile
  examples/protocols/sockets/tcp_server/main/tcp_server.c
  examples/protocols/sockets/tcp_server/sdkconfig.ci.1
Due: check-deprecated-kconfigs-options, cmake-lint

examples: Make tcp_server example support tcp keepalive function
  examples/protocols/sockets/tcp_server/README.md
  examples/protocols/sockets/tcp_server/main/Kconfig.projbuild
  examples/protocols/sockets/tcp_server/main/tcp_server.c
Due: check-kconfigs

doc: Add description for CONFIG_LWIP_IPV6 in api-guides
  docs/en/api-guides/lwip.rst
Due: none

examples: Strip IPv6 function in example and use sockaddr_storage to replace sockaddr_in6
  examples/common_components/protocol_examples_common/Kconfig.projbuild
  examples/common_components/protocol_examples_common/addr_from_stdin.c
  examples/common_components/protocol_examples_common/include/addr_from_stdin.h
  examples/protocols/sockets/tcp_client/main/tcp_client.c
  examples/protocols/sockets/udp_client/main/udp_client.c
Due: check-kconfigs

lwip: Fix spelling issues in lwip_debug.c
  components/lwip/port/esp32/debug/lwip_debug.c
Due: none

gpio: Disable USB JTAG when setting pins 18 and 19 as GPIOs on ESP32C3
  components/bootloader_support/src/bootloader_console.c
  components/bootloader_support/src/bootloader_flash_config_esp32.c
  components/bootloader_support/src/esp32/bootloader_esp32.c
  components/driver/dedic_gpio.c
  components/driver/gpio.c
  components/driver/i2c.c
  components/driver/i2s.c
  components/driver/ledc.c
  components/driver/mcpwm.c
  components/driver/pcnt.c
  components/driver/rmt.c
  components/driver/sdio_slave.c
  components/driver/sdmmc_host.c
  components/driver/sigmadelta.c
  components/driver/spi_common.c
  components/driver/test/test_common_spi.c
  components/driver/test/test_i2c.c
  components/driver/test/test_i2s.c
  components/driver/test/test_rmt.c
  components/driver/uart.c
  components/esp32/spiram_psram.c
  components/esp32/test/test_ahb_arb.c
  components/esp32/test/test_fastbus.c
  components/esp32/test/test_unal_dma.c
  components/esp32s3/spiram_psram.c
  components/esp_eth/src/esp_eth_mac_esp32.c
  components/espcoredump/src/core_dump_uart.c
  components/hal/component.mk
  components/hal/esp32/emac_hal.c
  components/hal/esp32/include/hal/gpio_ll.h
  components/hal/esp32c3/include/hal/gpio_ll.h
  components/hal/esp32s2/include/hal/gpio_ll.h
  components/hal/esp32s3/include/hal/gpio_ll.h
  components/hal/include/hal/gpio_hal.h
  components/spi_flash/esp_flash_spi_init.c
Due: none

mdns: Add MDNS_STRICT_MODE config option
  components/mdns/Kconfig
  components/mdns/private_include/mdns_private.h
Due: check-kconfigs

mdns: Fix the resolver to correctly parse it's own non-strict answers
  components/mdns/mdns.c
Due: none

mdns: Fix parsing answers with questions when instance name not set
  components/mdns/mdns.c
Due: none

Path conditions:
  check-kconfigs: any of: ^Kconfig$|Kconfig.*$
  check-deprecated-kconfigs-options: any of: sdkconfig\.ci$|sdkconfig\.rename$|sdkconfig.*$
  cmake-lint: any of: CMakeLists.txt$|\.cmake$, but not: \/third_party\/
  check-codeowners: any of: \.gitlab/CODEOWNERS
