Repository MaiNhan94/esp_idf_c3: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-kconfigs, check-deprecated-kconfigs-options, cmake-lint, check-codeowners

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.3.0
    hooks:
      - id: trailing-whitespace
        exclude: '.+\.(md|rst)'
      - id: end-of-file-fixer
      - id: check-executables-have-shebangs
      - id: file-contents-sorter
        files: 'tools/ci/executable-list.txt'
      - id: mixed-line-ending
        args: ['-f=lf']
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.4
    hooks:
      - id: flake8
        args: ['--config=.flake8', '--tee', '--benchmark']
  - repo: local
    hooks:
      - id: check-executables
        name: Check File Permissions
        entry: tools/ci/check_executables.py --action executables
        language: python
        types: [executable]
        exclude: '\.pre-commit/.+'
      - id: check-executable-list
        name: Validate executable-list.txt
        entry: tools/ci/check_executables.py --action list
        language: python
        pass_filenames: false
        always_run: true
      - id: check-kconfigs
        name: Validate Kconfig files
        entry: tools/ci/check_kconfigs.py
        language: python
        files: '^Kconfig$|Kconfig.*$'
      - id: check-deprecated-kconfigs-options
        name: Check if any Kconfig Options Deprecated
        entry: tools/ci/check_deprecated_kconfigs.py
        language: python
        files: 'sdkconfig\.ci$|sdkconfig\.rename$|sdkconfig.*$'
      - id: cmake-lint
        name: Check CMake Files Format
        entry: cmakelint --linelength=120 --spaces=4 --filter=-whitespace/indent
        language: python
        additional_dependencies:
          - cmakelint==1.4.1
        files: 'CMakeLists.txt$|\.cmake$'
        exclude: '\/third_party\/'
      - id: check-codeowners
        name: Validate Codeowner File
        entry: tools/ci/check_codeowners.py ci-check
        language: python
        files: '\.gitlab/CODEOWNERS'
        pass_filenames: false

esp32c3: Disable components that are not yet supported
  components/esp_wifi/CMakeLists.txt
  components/freemodbus/CMakeLists.txt
  components/perfmon/CMakeLists.txt
Due: cmake-lint

unity: Add option to ignore performance test failures
  tools/unit-test-app/components/test_utils/Kconfig
  tools/unit-test-app/components/test_utils/include/test_utils.h
Due: check-kconfigs

esp32c3: Misc fixes needed to build & run
  components/bootloader_support/src/esp32c3/bootloader_esp32c3.c
  components/driver/CMakeLists.txt
  components/esp_common/src/task_wdt.c
  components/esp_gdbstub/esp32c3/gdbstub_target_config.h
  components/esp_pm/CMakeLists.txt
  components/esp_system/CMakeLists.txt
  components/esp_system/intr_alloc.c
  components/esp_system/sleep_modes.c
  components/hal/CMakeLists.txt
  components/hal/esp32c3/adc_hal.c
  components/hal/esp32c3/include/hal/i2s_ll.h
  components/soc/esp32c3/CMakeLists.txt
  components/ulp/CMakeLists.txt
  components/wifi_provisioning/CMakeLists.txt
Due: cmake-lint

CI: enable C3 template app
  tools/ci/build_template_app.sh
Due: none

esp_system: Don't compile sleep_mode.c on c3
  components/esp_system/CMakeLists.txt
  components/hal/esp32c3/include/hal/i2s_ll.h
  components/newlib/newlib_init.c
Due: cmake-lint

esp_common: Fix issue with SPIRAM_ALLOW_BSS_SEG_EXTERNAL_MEMORY not visible on c3
  components/bt/linker.lf
  components/esp32/ld/esp32_fragments.lf
  components/esp_common/Kconfig
  components/esp_common/Kconfig.spiram.common
  components/esp_wifi/linker.lf
  components/lwip/linker.lf
Due: check-kconfigs

esp_system: sync with C3 changes
  components/esp_system/include/esp_sleep.h
  components/esp_system/include/esp_system.h
  components/esp_system/intr_alloc.c
  components/esp_system/test/test_intr_alloc.c
  components/esp_system/test/test_sleep.c
Due: none

docs: update the documents based on customer feedbacks
  docs/en/api-reference/protocols/icmp_echo.rst
  docs/en/get-started/windows-setup.rst
  docs/zh_CN/get-started/windows-setup.rst
Due: none

component/bt: fix Blufi sends customer data will congested when connection is broken
  components/bt/host/bluedroid/btc/profile/esp/blufi/blufi_prf.c
Due: none

panic: print register dump on abort for RISC-V
  components/esp_system/port/panic_handler.c
Due: none

panic: Add support for SoC-level panic
  components/esp32c3/cache_err_int.c
  components/esp_common/src/int_wdt.c
  components/esp_system/port/arch/riscv/panic_arch.c
  components/esp_system/port/panic_handler.c
  components/hal/esp32c3/include/hal/interrupt_controller_ll.h
  components/hal/esp32c3/interrupt_descriptor_table.c
  components/hal/include/hal/interrupt_controller_hal.h
  components/hal/interrupt_controller_hal.c
  components/riscv/vectors.S
Due: none

panic on RISC-V: Take into account Merge Request comments
  components/esp32c3/cache_err_int.c
  components/esp_system/port/arch/riscv/panic_arch.c
  components/esp_system/port/arch/xtensa/panic_arch.c
  components/esp_system/port/panic_handler.c
  components/hal/include/hal/interrupt_controller_hal.h
  components/riscv/include/esp_private/panic_reason.h
  components/riscv/vectors.S
  components/spi_flash/test/test_cache_disabled.c
Due: none

panic: Add support for SoC-level panic
  components/esp32c3/cache_err_int.c
  components/esp_common/src/int_wdt.c
  components/riscv/vectors.S
  components/spi_flash/test/test_cache_disabled.c
Due: none

secure boot v2: Fix crash if signature verification fails in app
  components/bootloader_support/src/esp_image_format.c
Due: none

Imporove port detection in idf.py
  tools/idf_monitor.py
  tools/idf_py_actions/serial_ext.py
Due: none

mbedtls: Expand KConfig documentation for MBEDTLS_HAVE_TIME_DATE
  components/mbedtls/Kconfig
Due: check-kconfigs

esp_http_client.c: Clear raw_len for response buffer after dispatching HTTP_EVENT_ON_FINISH event
  components/esp_http_client/esp_http_client.c
Due: none

https_request example: Perform request over HTTP/1.1 to enable keepalive timeout
  examples/protocols/https_request/main/https_request_example_main.c
Due: none

gpio: fixed GPIO47 not available issue on ESP32s3
  components/soc/esp32s3/gpio_periph.c
Due: none

Add API to config QoS
  components/bt/CMakeLists.txt
  components/bt/host/bluedroid/api/esp_gap_bt_api.c
  components/bt/host/bluedroid/api/include/api/esp_gap_bt_api.h
  components/bt/host/bluedroid/bta/dm/bta_dm_main.c
  components/bt/host/bluedroid/bta/dm/bta_dm_qos.c
  components/bt/host/bluedroid/bta/dm/include/bta_dm_int.h
  components/bt/host/bluedroid/bta/include/bta/bta_api.h
  components/bt/host/bluedroid/btc/profile/std/gap/btc_gap_bt.c
  components/bt/host/bluedroid/btc/profile/std/include/btc_gap_bt.h
  components/bt/host/bluedroid/common/include/common/bt_target.h
  components/bt/host/bluedroid/stack/btm/btm_acl.c
  components/bt/host/bluedroid/stack/btm/include/btm_int.h
  components/bt/host/bluedroid/stack/btu/btu_task.c
  components/bt/host/bluedroid/stack/include/stack/btm_api.h
  components/bt/host/bluedroid/stack/include/stack/btu.h
Due: cmake-lint

driver: update touch sensor apis
  components/driver/esp32s2/include/driver/touch_sensor.h
  components/driver/esp32s2/touch_sensor.c
Due: none

[Peripheral/Security] DS peripheral driver
  components/esp32c3/CMakeLists.txt
  components/esp32c3/esp_ds.c
  components/esp32c3/esp_hmac.c
  components/esp32c3/include/esp_ds.h
  components/esp32c3/test/digital_signature_test_cases.h
  components/esp32c3/test/test_ds.c
  components/esp_common/include/esp_err.h
  components/esp_common/src/esp_err_to_name.c
  components/hal/CMakeLists.txt
  components/hal/component.mk
  components/hal/ds_hal.c
  components/hal/esp32c3/include/hal/ds_ll.h
  components/hal/esp32c3/include/hal/hmac_hal.h
  components/hal/include/hal/ds_hal.h
  components/soc/esp32c3/include/soc/ds_caps.h
  components/soc/esp32c3/include/soc/hwcrypto_reg.h
Due: cmake-lint

esp32c3: add mbedtls dependency for crypto tests
  components/esp32c3/test/CMakeLists.txt
Due: cmake-lint

provide user guide for ESP32-DevKitM-1
  docs/_static/esp32-DevKitM-1-front.png
  docs/_static/esp32-DevKitM-1-isometric.png
  docs/_static/esp32-DevKitM-1_v1_SystemBlock.png
  docs/_static/esp32-devkitm-1-v1-annotated-photo.png
  docs/en/get-started/index.rst
  docs/en/hw-reference/esp32/user-guide-devkitm-1.rst
  docs/zh_CN/get-started/index.rst
  docs/zh_CN/hw-reference/esp32/user-guide-devkitm-1.rst
Due: none

interrupt-allocator: reject vector allocation if its marked as not-implemented. and search to next available
  components/esp_system/intr_alloc.c
  components/freertos/port/riscv/include/freertos/xtensa_api.h
  components/freertos/port/riscv/portasm.S
  components/hal/esp32c3/include/hal/interrupt_controller_ll.h
  components/hal/esp32c3/interrupt_descriptor_table.c
  components/hal/include/hal/interrupt_controller_types.h
  components/riscv/include/riscv/interrupt.h
  components/riscv/interrupt.c
Due: none

esp32c3: format and clean up interrupt and os port code
  components/esp_common/src/int_wdt.c
  components/esp_system/include/esp_intr_alloc.h
  components/esp_system/intr_alloc.c
  components/freertos/port/riscv/port.c
  components/freertos/port/riscv/portasm.S
  components/hal/esp32/include/hal/interrupt_controller_ll.h
  components/hal/esp32c3/include/hal/interrupt_controller_ll.h
  components/hal/esp32s2/include/hal/interrupt_controller_ll.h
  components/hal/esp32s3/include/hal/interrupt_controller_ll.h
  components/riscv/expression_with_stack_riscv_asm.S
  components/riscv/vectors.S
  components/soc/esp32c3/include/soc/soc_caps.h
Due: none

freertos/riscv: move freertos aware interrupt code from vectors to the freertos riscv port.
  components/freertos/port/riscv/port.c
  components/freertos/port/riscv/portasm.S
  components/riscv/vectors.S
Due: none

esp_shared_stack: enable shared stack function for riscv and reenable the unit test
  components/freertos/port/riscv/include/freertos/xtensa_api.h
  components/riscv/CMakeLists.txt
  components/riscv/expression_with_stack_riscv.c
  components/riscv/expression_with_stack_riscv_asm.S
Due: cmake-lint

interrupt: added INTC FLEXIBLE capabillity to esp32c3 CPU caps
  components/esp_system/intr_alloc.c
  components/hal/esp32/include/hal/interrupt_controller_ll.h
  components/hal/esp32c3/interrupt_descriptor_table.c
  components/hal/esp32s2/include/hal/interrupt_controller_ll.h
  components/hal/esp32s3/include/hal/interrupt_controller_ll.h
  components/hal/include/hal/interrupt_controller_hal.h
  components/hal/include/hal/interrupt_controller_types.h
  components/soc/esp32c3/include/soc/cpu_caps.h
Due: none

interrupt: filter out reserved int number by decoding risc-v JAL instruction
  components/hal/interrupt_controller_hal.c
  components/riscv/CMakeLists.txt
  components/riscv/include/riscv/instruction_decode.h
  components/riscv/instruction_decode.c
Due: cmake-lint

hal: put cpu_ll_get_core_id to IRAM
  components/hal/esp32c3/include/hal/cpu_ll.h
  components/hal/esp32s3/include/hal/cpu_ll.h
Due: none

intr_allocator: add abstractions for priority, type and edge-ack interrupt controller functions
  components/esp_system/intr_alloc.c
  components/hal/esp32/include/hal/interrupt_controller_ll.h
  components/hal/esp32c3/include/hal/interrupt_controller_ll.h
  components/hal/esp32s2/include/hal/interrupt_controller_ll.h
  components/hal/esp32s3/include/hal/interrupt_controller_ll.h
  components/hal/include/hal/interrupt_controller_hal.h
Due: none

freertos: riscv port now uses interrupt allocator and crosscore interrupt
  components/freertos/port/riscv/port.c
  components/freertos/port/riscv/portasm.S
  components/hal/esp32c3/interrupt_descriptor_table.c
  components/riscv/vectors.S
Due: none

interrupt: removed descriptor table from esp32c3 interrupt hal.
  components/esp_common/src/int_wdt.c
  components/hal/CMakeLists.txt
  components/hal/esp32c3/include/hal/interrupt_controller_ll.h
  components/hal/esp32c3/interrupt_descriptor_table.c
  components/hal/include/hal/interrupt_controller_hal.h
  components/hal/interrupt_controller_hal.c
  components/riscv/include/riscv/interrupt.h
  components/riscv/interrupt.c
Due: cmake-lint

Bluedroid: Do not connect if peer BD_ADDR is same as own BD_ADDR.
  components/bt/controller/bt.c
  components/bt/host/bluedroid/stack/btm/btm_sec.c
  components/bt/host/bluedroid/stack/btm/include/btm_int.h
  components/bt/include/esp_bt.h
Due: none

tinyusb: Fix Mass Storage and Vendor Class builds
  components/tinyusb/CMakeLists.txt
  components/tinyusb/Kconfig
Due: check-kconfigs, cmake-lint

spi_master: fix master HD mode cannot correctly receive data issue when using DMA.
  components/hal/spi_hal_iram.c
Due: none

spi_master: add a test for HD master to receive data correctly via dma
  components/driver/test/include/test/test_common_spi.h
  components/driver/test/test_common_spi.c
  components/driver/test/test_spi_master.c
Due: none

ci: Extend the MQTT weekend test to check mqtt-enqueue api
  components/mqtt/weekend_test/mqtt_publish_test.py
  tools/test_apps/protocols/mqtt/publish_connect_test/main/publish_test.c
Due: none

Examples: MQTT DS example to use ds_peripheral API
  examples/protocols/mqtt/ssl_ds/main/app_main.c
Due: none
