Repository MaiNhan94/esp_idf_c3: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-kconfigs, check-deprecated-kconfigs-options, cmake-lint, check-codeowners

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.3.0
    hooks:
      - id: trailing-whitespace
        exclude: '.+\.(md|rst)'
      - id: end-of-file-fixer
      - id: check-executables-have-shebangs
      - id: file-contents-sorter
        files: 'tools/ci/executable-list.txt'
      - id: mixed-line-ending
        args: ['-f=lf']
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.4
    hooks:
      - id: flake8
        args: ['--config=.flake8', '--tee', '--benchmark']
  - repo: local
    hooks:
      - id: check-executables
        name: Check File Permissions
        entry: tools/ci/check_executables.py --action executables
        language: python
        types: [executable]
        exclude: '\.pre-commit/.+'
      - id: check-executable-list
        name: Validate executable-list.txt
        entry: tools/ci/check_executables.py --action list
        language: python
        pass_filenames: false
        always_run: true
      - id: check-kconfigs
        name: Validate Kconfig files
        entry: tools/ci/check_kconfigs.py
        language: python
        files: '^Kconfig$|Kconfig.*$'
      - id: check-deprecated-kconfigs-options
        name: Check if any Kconfig Options Deprecated
        entry: tools/ci/check_deprecated_kconfigs.py
        language: python
        files: 'sdkconfig\.ci$|sdkconfig\.rename$|sdkconfig.*$'
      - id: cmake-lint
        name: Check CMake Files Format
        entry: cmakelint --linelength=120 --spaces=4 --filter=-whitespace/indent
        language: python
        additional_dependencies:
          - cmakelint==1.4.1
        files: 'CMakeLists.txt$|\.cmake$'
        exclude: '\/third_party\/'
      - id: check-codeowners
        name: Validate Codeowner File
        entry: tools/ci/check_codeowners.py ci-check
        language: python
        files: '\.gitlab/CODEOWNERS'
        pass_filenames: false

esp_common fpga: Fix bootloader_fill_random() emulation
  components/esp_common/src/fpga_overrides.c
Due: none

esp32c3: Add tests for esp_sha, stack checker
  components/esp32c3/test/CMakeLists.txt
  components/esp32c3/test/component.mk
  components/esp32c3/test/test_sha.c
  components/esp32c3/test/test_stack_check.c
  components/esp32c3/test/test_stack_check_cxx.cpp
Due: cmake-lint

ci: Update rsource_test for esp32c3
  tools/test_apps/build_system/rsource_test/main/port/esp32c3/Kconfig
Due: check-kconfigs

riscv: Place stdatomic file in iram
  components/riscv/linker.lf
Due: none

esp_rom/esp_system: Add flag for ROM multiple UART output, esp32c3 console
  components/bootloader_support/src/bootloader_console.c
  components/esp_common/Kconfig
  components/esp_rom/esp32c3/ld/esp32c3.rom.api.ld
Due: check-kconfigs

wear_levelling: Re-enable for ESP32-C3
  components/wear_levelling/CMakeLists.txt
  components/wear_levelling/test/test_wl.c
Due: cmake-lint

example ulp_riscv: Set IDF_TARGET to esp32s2
  examples/system/ulp_riscv/sdkconfig.defaults
Due: check-deprecated-kconfigs-options

cmake: Add esp32c3 toolchain file
  tools/cmake/toolchain-esp32c3.cmake
Due: cmake-lint

xtensa: Disable component on esp32c3
  components/xtensa/CMakeLists.txt
Due: cmake-lint

vfs: Update for esp32c3
  components/vfs/test/test_vfs_select.c
  components/vfs/test/test_vfs_uart.c
  components/vfs/vfs_semihost.c
  components/vfs/vfs_uart.c
Due: none

esp_system: make rtc fast memory to heap configuration unified across chips
  components/esp32/Kconfig
  components/esp32c3/Kconfig
  components/esp32s2/Kconfig
  components/esp32s3/Kconfig
  components/esp_common/sdkconfig.rename
  components/esp_system/Kconfig
  components/esp_system/sleep_modes.c
  components/esp_system/test/test_sleep.c
  components/soc/esp32/soc_memory_layout.c
  components/soc/esp32c3/soc_memory_layout.c
  components/soc/esp32s2/soc_memory_layout.c
  components/soc/include/soc/soc_memory_layout.h
Due: check-kconfigs, check-deprecated-kconfigs-options

Bluedroid: Fixes for some vulnerabilities.
  components/bt/host/bluedroid/api/include/api/esp_gap_ble_api.h
  components/bt/host/bluedroid/stack/smp/smp_act.c
Due: none

Add USB Host registers and types and LL layer
  components/esp32s2/ld/esp32s2.peripherals.ld
  components/hal/esp32s2/include/hal/usbh_ll.h
  components/hal/include/hal/usb_types.h
  components/soc/esp32s2/include/soc/usbh_struct.h
Due: none

esp_wifi: Refactor wifi_interface_t
  components/esp_wifi/include/esp_wifi_types.h
Due: none

Fix minor documentation issue
  components/sdmmc/include/sdmmc_cmd.h
Due: none

esp_wifi: Update WiFi lib
  components/esp_wifi/include/esp_wifi_types.h
Due: none

esp_wifi: ESP32 phy add [sections:phy_iram]
  components/esp32/ld/esp32_fragments.lf
Due: none

CI: change icmp example test address
  examples/protocols/icmp_echo/example_test.py
Due: none

Docs: Add C3 support to build_docs
  components/esp_common/sdkconfig.rename
  components/esp_gdbstub/sdkconfig.rename
  docs/conf_common.py
  docs/doxygen/Doxyfile_common
  docs/doxygen/Doxyfile_esp32
  docs/doxygen/Doxyfile_esp32c3
  docs/doxygen/Doxyfile_esp32s2
  docs/en/api-guides/general-notes.rst
  docs/en/api-guides/index.rst
  docs/en/api-guides/jtag-debugging/esp32c3.inc
  docs/en/api-guides/jtag-debugging/tips-and-quirks.rst
  docs/en/api-reference/peripherals/adc.rst
  docs/en/api-reference/peripherals/gpio.rst
  docs/en/api-reference/peripherals/index.rst
  docs/en/api-reference/system/mem_alloc.rst
  docs/en/api-reference/template.rst
  docs/en/contribute/add-ons-reference.rst
  docs/idf_extensions/build_system/__init__.py
  docs/idf_extensions/exclude_docs.py
  docs/idf_extensions/format_idf_target.py
  docs/idf_extensions/run_doxygen.py
  docs/zh_CN/api-guides/general-notes.rst
  docs/zh_CN/api-guides/index.rst
  docs/zh_CN/api-guides/jtag-debugging/esp32c3.inc
  docs/zh_CN/api-guides/jtag-debugging/tips-and-quirks.rst
  docs/zh_CN/api-guides/linker-script-generation.rst
  docs/zh_CN/api-reference/peripherals/index.rst
  docs/zh_CN/contribute/add-ons-reference.rst
Due: check-deprecated-kconfigs-options

mbedtls: merge changes from C3
  components/hal/aes_hal.c
  components/hal/esp32c3/include/hal/gdma_ll.h
  components/idf_test/include/esp32c3/idf_performance_target.h
  components/idf_test/include/esp32s2/idf_performance_target.h
  components/idf_test/include/esp32s3/idf_performance_target.h
  components/mbedtls/port/esp32c3/bignum.c
  components/mbedtls/port/sha/dma/sha.c
  components/mbedtls/test/test_aes.c
  components/mbedtls/test/test_mbedtls_mpi.c
  components/mbedtls/test/test_mbedtls_sha.c
  components/mbedtls/test/test_rsa.c
  components/soc/esp32c3/include/soc/rsa_caps.h
  components/soc/esp32c3/include/soc/sha_caps.h
  components/soc/esp32c3/include/soc/soc_caps.h
  tools/ci/config/target-test.yml
Due: none

ci: fix flasher_args.json parser (iterate over dictionary)
  tools/ci/python_packages/ttfw_idf/IDFApp.py
  tools/ci/python_packages/ttfw_idf/IDFDUT.py
Due: none

ci: Don't swallow exception details from flashing process
  tools/ci/python_packages/ttfw_idf/IDFDUT.py
Due: none

mdns: Allow resolve its own non-strict answers
  components/mdns/mdns.c
Due: none

ci: Made socket tests more robust
  examples/protocols/sockets/tcp_client/example_test.py
  examples/protocols/sockets/tcp_server/example_test.py
  examples/protocols/sockets/udp_client/example_test.py
  examples/protocols/sockets/udp_server/example_test.py
Due: none

newlib: add _RETARGETABLE_LOCKING support
  components/esp_rom/esp32/ld/esp32.rom.newlib-data.ld
  components/esp_rom/esp32s2/ld/esp32s2.rom.newlib-data.ld
  components/esp_rom/esp32s3/ld/esp32s3.rom.newlib-data.ld
  components/esp_system/startup.c
  components/newlib/CMakeLists.txt
  components/newlib/component.mk
  components/newlib/locks.c
  components/newlib/platform_include/esp_newlib.h
  components/newlib/platform_include/sys/lock.h
  components/newlib/test/test_locks.c
Due: cmake-lint

freertos: always enable static allocation
  components/driver/Kconfig
  components/esp_ringbuf/include/freertos/ringbuf.h
  components/esp_system/test/test_sleep.c
  components/freertos/Kconfig
  components/freertos/port/riscv/include/freertos/FreeRTOSConfig.h
  components/freertos/port/xtensa/include/freertos/FreeRTOSConfig.h
  components/freertos/sdkconfig.rename
  components/freertos/test/test_freertos_backported_functions.c
  components/freertos/test/test_timers.c
  components/spi_flash/Kconfig
  components/tinyusb/Kconfig
  docs/en/api-guides/freertos-smp.rst
  docs/en/api-reference/system/freertos_additions.rst
  examples/bluetooth/esp_ble_mesh/ble_mesh_fast_provision/fast_prov_server/sdkconfig.ci.iram
  tools/unit-test-app/configs/freertos_options
  tools/unit-test-app/configs/freertos_options_s2
  tools/unit-test-app/sdkconfig.defaults
Due: check-kconfigs, check-deprecated-kconfigs-options

vfs: zero-initialize struct stat in *_stat and *_fstat handlers
  components/fatfs/vfs/vfs_fat.c
  components/spiffs/esp_spiffs.c
  components/tinyusb/additions/src/vfs_tinyusb.c
  components/vfs/vfs_cdcacm.c
  components/vfs/vfs_uart.c
Due: none

tools: Wrap flash binaries into a UF2 file for flashing through USB MSC
  components/bootloader/Makefile.projbuild
  components/esptool_py/Makefile.projbuild
  components/partition_table/Makefile.projbuild
  tools/ci/config/host-test.yml
  tools/ci/executable-list.txt
  tools/ci/test_build_system.sh
  tools/ci/test_build_system_cmake.sh
  tools/cmake/idf.cmake
  tools/cmake/project.cmake
  tools/cmake/uf2.cmake
  tools/idf.py
  tools/idf_py_actions/uf2_ext.py
  tools/mkuf2.py
  tools/test_mkuf2/test_mkuf2.py
Due: cmake-lint

tools: use riscv32-esp-elf toolchain for ESP32-S2 RISC-V ULP
  components/ulp/cmake/toolchain-esp32s2-ulp-riscv.cmake
  docs/en/api-guides/tools/idf-tools-notes.inc
  docs/en/api-guides/ulp-risc-v.rst
  docs/zh_CN/api-guides/tools/idf-tools-notes.inc
  docs/zh_CN/api-guides/ulp-risc-v.rst
  tools/ci/config/build.yml
  tools/tools.json
Due: cmake-lint

tools: merge C3 changes into master
  docs/en/api-guides/tools/idf-tools-notes.inc
  docs/zh_CN/api-guides/tools/idf-tools-notes.inc
  tools/ci/check_public_headers_exceptions.txt
  tools/ci/python_packages/ttfw_idf/CIScanTests.py
  tools/ci/python_packages/ttfw_idf/IDFAssignTest.py
  tools/ci/python_packages/ttfw_idf/IDFDUT.py
  tools/ci/python_packages/ttfw_idf/__init__.py
  tools/cmake/dfu.cmake
  tools/find_build_apps/common.py
  tools/idf_monitor.py
  tools/idf_py_actions/constants.py
  tools/ldgen/generation.py
  tools/test_idf_monitor/Makefile
  tools/test_idf_monitor/README.md
  tools/test_idf_monitor/dummy.c
  tools/test_idf_monitor/dummy.elf
  tools/test_idf_monitor/dummy_riscv.elf
  tools/test_idf_monitor/dummy_xtensa.elf
  tools/test_idf_monitor/idf_monitor_wrapper.py
  tools/test_idf_monitor/run_test_idf_monitor.py
  tools/test_idf_monitor/tests/core1_out.txt
  tools/test_idf_monitor/tests/riscv_panic1.txt
  tools/test_idf_monitor/tests/riscv_panic1_out.txt
  tools/tools.json
  tools/unit-test-app/CMakeLists.txt
  tools/unit-test-app/configs/cxx_exceptions_c3
  tools/unit-test-app/configs/cxx_rtti_c3
  tools/unit-test-app/configs/default_2_c3
  tools/unit-test-app/configs/default_c3
  tools/unit-test-app/configs/freertos_compliance_c3
  tools/unit-test-app/configs/freertos_options_c3
  tools/unit-test-app/configs/release_c3
  tools/unit-test-app/configs/rom_options_c3
  tools/unit-test-app/tools/ConfigDependency.yml
Due: cmake-lint

test: panic: make stack overflow test more robust
  tools/test_apps/system/panic/main/test_panic_main.c
Due: none

esp_hw_support: merge C3 changes to master
  components/bootloader_support/src/esp32c3/bootloader_esp32c3.c
  components/esp_hw_support/port/esp32c3/CMakeLists.txt
  components/esp_hw_support/port/esp32c3/i2c_rtc_clk.h
  components/esp_hw_support/port/esp32c3/private_include/regi2c_brownout.h
  components/esp_hw_support/port/esp32c3/private_include/regi2c_lp_bias.h
  components/esp_hw_support/port/esp32c3/private_include/regi2c_saradc.h
  components/esp_hw_support/port/esp32c3/regi2c_ctrl.h
  components/esp_hw_support/port/esp32c3/rtc_clk.c
  components/esp_hw_support/port/esp32c3/rtc_clk_common.h
  components/esp_hw_support/port/esp32c3/rtc_clk_init.c
  components/esp_hw_support/port/esp32c3/rtc_init.c
  components/esp_hw_support/port/esp32c3/rtc_sleep.c
  components/esp_hw_support/port/esp32c3/rtc_time.c
  components/esp_hw_support/test/test_rtc_clk.c
  components/esp_system/sleep_modes.c
  components/soc/esp32/include/soc/soc_caps.h
  components/soc/esp32c3/i2c_apll.h
  components/soc/esp32c3/include/soc/rtc.h
  components/soc/esp32s2/include/soc/soc_caps.h
  components/soc/esp32s3/include/soc/touch_sensor_caps.h
Due: cmake-lint

1. Fix CPU switch to 160M issue; 2. increase lightsleep voltage to make sure wakeup successfully; 3. add judgement code to whether wait or not when switch CPU frequency.
  components/esp_hw_support/port/esp32c3/rtc_clk.c
  components/soc/esp32c3/include/soc/rtc.h
Due: none

efuse: revert EARLY_LOGD to LOGD
  components/efuse/src/esp_efuse_utility.c
Due: none

[system/tools]: gdbstub support C3
  components/esp_gdbstub/CMakeLists.txt
  components/esp_gdbstub/esp32c3/gdbstub_esp32c3.c
  components/esp_gdbstub/riscv/esp_gdbstub_arch.h
  components/esp_gdbstub/riscv/gdbstub_riscv.c
Due: cmake-lint

System: add C3 root kconfig settings
  Kconfig
Due: check-kconfigs

newlib: Update esp32c3 ROM support, use single init function
  components/esp_system/startup.c
  components/newlib/CMakeLists.txt
  components/newlib/newlib_init.c
  components/newlib/platform_include/esp_newlib.h
  components/newlib/test/test_newlib.c
  tools/ci/test_build_system.sh
  tools/ci/test_build_system_cmake.sh
Due: cmake-lint
