Repository MaiNhan94/esp_idf_c3: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-kconfigs, check-deprecated-kconfigs-options, cmake-lint, check-codeowners

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.3.0
    hooks:
      - id: trailing-whitespace
        exclude: '.+\.(md|rst)'
      - id: end-of-file-fixer
      - id: check-executables-have-shebangs
      - id: file-contents-sorter
        files: 'tools/ci/executable-list.txt'
      - id: mixed-line-ending
        args: ['-f=lf']
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.4
    hooks:
      - id: flake8
        args: ['--config=.flake8', '--tee', '--benchmark']
  - repo: local
    hooks:
      - id: check-executables
        name: Check File Permissions
        entry: tools/ci/check_executables.py --action executables
        language: python
        types: [executable]
        exclude: '\.pre-commit/.+'
      - id: check-executable-list
        name: Validate executable-list.txt
        entry: tools/ci/check_executables.py --action list
        language: python
        pass_filenames: false
        always_run: true
      - id: check-kconfigs
        name: Validate Kconfig files
        entry: tools/ci/check_kconfigs.py
        language: python
        files: '^Kconfig$|Kconfig.*$'
      - id: check-deprecated-kconfigs-options
        name: Check if any Kconfig Options Deprecated
        entry: tools/ci/check_deprecated_kconfigs.py
        language: python
        files: 'sdkconfig\.ci$|sdkconfig\.rename$|sdkconfig.*$'
      - id: cmake-lint
        name: Check CMake Files Format
        entry: cmakelint --linelength=120 --spaces=4 --filter=-whitespace/indent
        language: python
        additional_dependencies:
          - cmakelint==1.4.1
        files: 'CMakeLists.txt$|\.cmake$'
        exclude: '\/third_party\/'
      - id: check-codeowners
        name: Validate Codeowner File
        entry: tools/ci/check_codeowners.py ci-check
        language: python
        files: '\.gitlab/CODEOWNERS'
        pass_filenames: false

spi_master: enable spi speed test on c3 and update the programming guide accordingly
  docs/en/api-reference/peripherals/spi_master.rst
Due: none

bootloader: Fix error in Make build system when signature options is on
  components/bootloader/Makefile.projbuild
  components/bootloader_support/component.mk
Due: none

simple_ota_example: Adds configs to test on_update_no_secure_boot option (RSA&ECDSA)
  examples/system/ota/simple_ota_example/example_test.py
  examples/system/ota/simple_ota_example/sdkconfig.ci.on_update_no_sb_ecdsa
  examples/system/ota/simple_ota_example/sdkconfig.ci.on_update_no_sb_rsa
  examples/system/ota/simple_ota_example/test/secure_boot_signing_key.pem
  examples/system/ota/simple_ota_example/test/secure_boot_signing_key_ecdsa.pem
  tools/ci/config/target-test.yml
Due: check-deprecated-kconfigs-options

bootloader: Suppress a Cmake warning - variables were not used by the project
  components/bootloader/subproject/CMakeLists.txt
Due: cmake-lint

Add ESP32-C3-DevKitC-02 User Guide and fix some typos
  docs/_static/esp32-c3-devkitc-02-v1-annotated-photo.png
  docs/_static/esp32-c3-devkitc-02-v1-block-diags.png
  docs/_static/esp32-c3-devkitc-02-v1-isometric.png
  docs/_static/esp32-c3-devkitc-02-v1-pinout.png
  docs/en/get-started/index.rst
  docs/en/hw-reference/esp32c3/user-guide-devkitc-02.rst
  docs/zh_CN/get-started/index.rst
  docs/zh_CN/hw-reference/esp32c3/user-guide-devkitc-02.rst
Due: none

docs: Update JTAG debugging guides for ESP32-C3
  docs/_static/jtag-debugging-overview.jpg
  docs/conf_common.py
  docs/en/api-guides/jtag-debugging/configure-builtin-jtag.rst
  docs/en/api-guides/jtag-debugging/esp32c3.inc
  docs/en/api-guides/jtag-debugging/index.rst
  docs/zh_CN/api-guides/jtag-debugging/configure-builtin-jtag.rst
  docs/zh_CN/api-guides/jtag-debugging/index.rst
Due: none

mbedtls: Add CONFIG_MBEDTLS_ROM_MD5 to use ROM MD5 in mbedTLS
  components/mbedtls/CMakeLists.txt
  components/mbedtls/Kconfig
  components/mbedtls/component.mk
  components/mbedtls/port/include/mbedtls/esp_config.h
  components/mbedtls/port/include/md/esp_md.h
  components/mbedtls/port/include/md5_alt.h
  components/mbedtls/port/md/esp_md.c
Due: check-kconfigs, cmake-lint

esp32c3 espefuse: Fix efuse programming timing on ESP32-C3 ECO3
  components/efuse/src/esp32c3/esp_efuse_utility.c
Due: none

wpa_supplicant: Group key reinstallation fixes
  components/wpa_supplicant/src/common/wpa_common.h
  components/wpa_supplicant/src/rsn_supp/wpa.c
  components/wpa_supplicant/src/rsn_supp/wpa_i.h
Due: none

docs: split the 'general notes' page into two
  docs/en/api-guides/bootloader.rst
  docs/en/api-guides/general-notes.rst
  docs/en/api-guides/index.rst
  docs/en/api-guides/memory-types.rst
  docs/en/api-guides/startup.rst
  docs/en/security/secure-boot-v1.rst
  docs/zh_CN/api-guides/general-notes.rst
  docs/zh_CN/api-guides/index.rst
  docs/zh_CN/api-guides/memory-types.rst
  docs/zh_CN/api-guides/startup.rst
Due: none

esp_system: Mark the startup array as 'const' to save RAM
  components/esp_system/include/esp_private/startup_internal.h
  components/esp_system/startup.c
Due: none

doc: update the memory types and startup docs
  components/spi_flash/README_legacy.rst
  docs/en/api-guides/bootloader.rst
  docs/en/api-guides/external-ram.rst
  docs/en/api-guides/general-notes.rst
  docs/en/api-guides/memory-types.rst
  docs/en/api-guides/startup.rst
  docs/en/api-reference/storage/spi_flash_concurrency.rst
  docs/en/api-reference/system/mem_alloc.rst
  docs/en/api-reference/system/system.rst
Due: none

doc: Add notes that vTaskStartScheduler() is called during startup
  components/freertos/include/freertos/task.h
  docs/en/api-guides/freertos-smp.rst
  docs/en/api-guides/memory-types.rst
Due: none

esp32c3: fix typos of c3 path
  components/esp_system/port/cpu_start.c
  components/esp_system/sleep_modes.c
Due: none

lw-ip: Fix LWIP_DEBUG define which is always defined
  components/lwip/Kconfig
  components/lwip/port/esp32/include/lwipopts.h
Due: check-kconfigs

gpio, rtcio: removed unsupported features on different targets
  components/driver/include/driver/dedic_gpio.h
  components/driver/include/driver/gpio.h
  components/driver/include/driver/rtc_io.h
  components/driver/include/esp_private/gpio.h
  components/esp_system/sleep_modes.c
  components/soc/esp32c3/include/soc/gpio_caps.h
Due: none

Fix error when `ZSH_VERSION` is unset.
  export.sh
Due: none

add default value for unset env variables
  export.sh
Due: none

backport link updates to v4.3
  docs/en/api-reference/peripherals/touch_pad.rst
  docs/en/get-started-legacy/establish-serial-connection.rst
  docs/en/get-started/establish-serial-connection.rst
  docs/zh_CN/api-reference/peripherals/touch_pad.rst
  docs/zh_CN/get-started-legacy/establish-serial-connection.rst
  docs/zh_CN/get-started/establish-serial-connection.rst
  examples/ethernet/eth2ap/README.md
  examples/peripherals/touch_pad_interrupt/README.md
  examples/peripherals/touch_pad_read/README.md
  examples/system/deep_sleep/README.md
Due: none

TWAI: Simply caps and remove unused caps
  components/driver/twai.c
  components/soc/esp32/include/soc/soc_caps.h
Due: none

TWAI: Fix incorrect CAP name
  components/hal/esp32/include/hal/twai_ll.h
Due: none

TWAI: FIFO overrun handling and errata workarounds
  components/app_trace/linker.lf
  components/driver/CMakeLists.txt
  components/driver/Kconfig
  components/driver/include/driver/twai.h
  components/driver/linker.lf
  components/driver/periph_ctrl.c
  components/driver/twai.c
  components/hal/esp32/include/hal/can_hal.h
  components/hal/esp32/include/hal/twai_ll.h
  components/hal/esp32c3/include/hal/twai_ll.h
  components/hal/esp32s2/include/hal/twai_ll.h
  components/hal/esp32s3/include/hal/twai_ll.h
  components/hal/include/hal/twai_hal.h
  components/hal/twai_hal.c
  components/hal/twai_hal_iram.c
  components/soc/esp32c3/include/soc/soc_caps.h
  components/soc/esp32s2/include/soc/soc_caps.h
  components/soc/esp32s3/include/soc/twai_caps.h
Due: check-kconfigs, cmake-lint

tools: Warning about tool beiing installed but failed to run.
  tools/idf_tools.py
Due: none

Human-readable error if Git or Python are missing.
  export.bat
  install.bat
Due: none

remove othercore cache disable
  components/spi_flash/cache_utils.c
Due: none

stdatomic: Implemented legacy __sync APIs and __atomic_exchange_n
  components/riscv/stdatomic.c
  components/xtensa/stdatomic.c
Due: none

I2C: enable all unit test for i2c on esp32c3
  components/driver/test/test_i2c.c
  components/hal/esp32c3/include/hal/i2c_ll.h
  components/hal/esp32s3/include/hal/i2c_ll.h
  examples/cxx/experimental/experimental_cpp_component/test/test_i2c.cpp
  tools/ci/config/target-test.yml
Due: none

esp_http_client_read: Add check for esp_http_client_is_complete_data_received before returning ESP_FAIL
  components/esp_http_client/esp_http_client.c
Due: none

update esp32c3 iperf config
  docs/en/api-guides/wifi.rst
  docs/zh_CN/api-guides/wifi.rst
  examples/wifi/iperf/sdkconfig.defaults.esp32c3
Due: check-deprecated-kconfigs-options

esp_wifi: update esp32c3 phy init data
  components/esp_wifi/esp32c3/include/phy_init_data.h
Due: none

spi_slave_hd: add polling api to read/write buf to essl_spi
  components/esp_serial_slave_link/essl_spi.c
  components/esp_serial_slave_link/include/esp_serial_slave_link/essl_spi.h
Due: none

spi_slave_hd: add callback after data is loaded to the DMA for segment mode
  components/driver/include/driver/spi_slave_hd.h
  components/driver/spi_slave_hd.c
  components/hal/include/hal/spi_types.h
Due: none

spi_slave_hd: add segment mode example
  docs/en/api-reference/peripherals/spi_slave_hd.rst
  examples/peripherals/spi_slave_hd/segment_mode/README.md
  examples/peripherals/spi_slave_hd/segment_mode/seg_master/CMakeLists.txt
  examples/peripherals/spi_slave_hd/segment_mode/seg_master/Makefile
  examples/peripherals/spi_slave_hd/segment_mode/seg_master/README.md
  examples/peripherals/spi_slave_hd/segment_mode/seg_master/main/CMakeLists.txt
  examples/peripherals/spi_slave_hd/segment_mode/seg_master/main/app_main.c
  examples/peripherals/spi_slave_hd/segment_mode/seg_master/main/component.mk
  examples/peripherals/spi_slave_hd/segment_mode/seg_slave/CMakeLists.txt
  examples/peripherals/spi_slave_hd/segment_mode/seg_slave/README.md
  examples/peripherals/spi_slave_hd/segment_mode/seg_slave/main/CMakeLists.txt
  examples/peripherals/spi_slave_hd/segment_mode/seg_slave/main/app_main.c
Due: cmake-lint

deep sleep: optimize sleep current in wifi softap mode
  components/esp_hw_support/port/esp32/rtc_sleep.c
  components/esp_hw_support/port/esp32c3/rtc_sleep.c
  components/esp_hw_support/port/esp32s2/rtc_sleep.c
  components/esp_hw_support/port/esp32s3/rtc_sleep.c
Due: none

components/bt: Minor fix for the range of GATTC number of reconnections.
  components/bt/host/bluedroid/Kconfig.in
Due: check-kconfigs

uart: fix misleading files for UART2
  components/esp32c3/ld/esp32c3.peripherals.ld
  components/esp_rom/include/esp32c3/rom/ets_sys.h
  components/esp_rom/include/esp32c3/rom/uart.h
  components/esp_system/port/soc/esp32c3/clk.c
  components/soc/esp32c3/include/soc/soc.h
Due: none

esp_wifi_mesh: update wifi mesh libs
  components/esp_wifi/include/esp_mesh.h
Due: none

esp_pm: allow dfs to swith down alltime if no lightsleep (backport to v4.3)
  components/esp_pm/pm_impl.c
Due: none
