Repository MaiNhan94/esp_idf_c3: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-kconfigs, check-deprecated-kconfigs-options, cmake-lint, check-codeowners

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.3.0
    hooks:
      - id: trailing-whitespace
        exclude: '.+\.(md|rst)'
      - id: end-of-file-fixer
      - id: check-executables-have-shebangs
      - id: file-contents-sorter
        files: 'tools/ci/executable-list.txt'
      - id: mixed-line-ending
        args: ['-f=lf']
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.4
    hooks:
      - id: flake8
        args: ['--config=.flake8', '--tee', '--benchmark']
  - repo: local
    hooks:
      - id: check-executables
        name: Check File Permissions
        entry: tools/ci/check_executables.py --action executables
        language: python
        types: [executable]
        exclude: '\.pre-commit/.+'
      - id: check-executable-list
        name: Validate executable-list.txt
        entry: tools/ci/check_executables.py --action list
        language: python
        pass_filenames: false
        always_run: true
      - id: check-kconfigs
        name: Validate Kconfig files
        entry: tools/ci/check_kconfigs.py
        language: python
        files: '^Kconfig$|Kconfig.*$'
      - id: check-deprecated-kconfigs-options
        name: Check if any Kconfig Options Deprecated
        entry: tools/ci/check_deprecated_kconfigs.py
        language: python
        files: 'sdkconfig\.ci$|sdkconfig\.rename$|sdkconfig.*$'
      - id: cmake-lint
        name: Check CMake Files Format
        entry: cmakelint --linelength=120 --spaces=4 --filter=-whitespace/indent
        language: python
        additional_dependencies:
          - cmakelint==1.4.1
        files: 'CMakeLists.txt$|\.cmake$'
        exclude: '\/third_party\/'
      - id: check-codeowners
        name: Validate Codeowner File
        entry: tools/ci/check_codeowners.py ci-check
        language: python
        files: '\.gitlab/CODEOWNERS'
        pass_filenames: false

component/bt: add local irk to controller
  components/bt/host/bluedroid/common/include/common/bt_target.h
  components/bt/host/bluedroid/stack/btm/btm_sec.c
  components/soc/esp32/include/soc/soc_caps.h
  components/soc/esp32c3/include/soc/soc_caps.h
  components/soc/esp32s3/include/soc/soc_caps.h
Due: none

esp_wifi: Fix PMF and FTM issues
  examples/wifi/ftm/main/ftm_main.c
Due: none

Fix that when EXT CRYS is configured but not detected, light sleep is still allowed to be used
  components/bt/controller/esp32/bt.c
  components/bt/controller/esp32c3/Kconfig.in
  components/bt/controller/esp32c3/bt.c
Due: check-kconfigs

bt: Remove unused function esp_bt_get_mac.
  components/bt/include/esp32/include/esp_bt.h
  components/bt/include/esp32c3/include/esp_bt.h
  components/bt/include/esp32s3/include/esp_bt.h
Due: none

ble_mesh: Update the SIG recommendations for CVE issues
  components/bt/esp_ble_mesh/api/core/include/esp_ble_mesh_provisioning_api.h
  components/bt/esp_ble_mesh/api/esp_ble_mesh_defs.h
  components/bt/esp_ble_mesh/mesh_core/provisioner_prov.c
Due: none

fix_esp32c3_auto_adjust_volt
  components/esp_hw_support/port/esp32c3/rtc_init.c
Due: none

ci: temp disable code_quality_report job
  tools/ci/config/build.yml
Due: none

versions: Update version to 4.3.1
  components/esp_common/include/esp_idf_version.h
  make/version.mk
  tools/cmake/version.cmake
Due: cmake-lint

nhan update for ota demo
  components/freertos/port/riscv/include/freertos/FreeRTOSConfig.h
  components/freertos/port/xtensa/include/freertos/FreeRTOSConfig.h
  components/heap/heap_caps_init.c
  export.bat
  tools/cmake/project_utils.cmake
  tools/cmake/targets.cmake
Due: cmake-lint

modify submodule for gateway system
  components/freertos/tasks.c
Due: none
