Repository MaiNhan94/esp_idf_c3: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-kconfigs, check-deprecated-kconfigs-options, cmake-lint, check-codeowners

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.3.0
    hooks:
      - id: trailing-whitespace
        exclude: '.+\.(md|rst)'
      - id: end-of-file-fixer
      - id: check-executables-have-shebangs
      - id: file-contents-sorter
        files: 'tools/ci/executable-list.txt'
      - id: mixed-line-ending
        args: ['-f=lf']
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.4
    hooks:
      - id: flake8
        args: ['--config=.flake8', '--tee', '--benchmark']
  - repo: local
    hooks:
      - id: check-executables
        name: Check File Permissions
        entry: tools/ci/check_executables.py --action executables
        language: python
        types: [executable]
        exclude: '\.pre-commit/.+'
      - id: check-executable-list
        name: Validate executable-list.txt
        entry: tools/ci/check_executables.py --action list
        language: python
        pass_filenames: false
        always_run: true
      - id: check-kconfigs
        name: Validate Kconfig files
        entry: tools/ci/check_kconfigs.py
        language: python
        files: '^Kconfig$|Kconfig.*$'
      - id: check-deprecated-kconfigs-options
        name: Check if any Kconfig Options Deprecated
        entry: tools/ci/check_deprecated_kconfigs.py
        language: python
        files: 'sdkconfig\.ci$|sdkconfig\.rename$|sdkconfig.*$'
      - id: cmake-lint
        name: Check CMake Files Format
        entry: cmakelint --linelength=120 --spaces=4 --filter=-whitespace/indent
        language: python
        additional_dependencies:
          - cmakelint==1.4.1
        files: 'CMakeLists.txt$|\.cmake$'
        exclude: '\/third_party\/'
      - id: check-codeowners
        name: Validate Codeowner File
        entry: tools/ci/check_codeowners.py ci-check
        language: python
        files: '\.gitlab/CODEOWNERS'
        pass_filenames: false

esp_eth: Fix w5500 to break from potentially infinite tx loop
  components/esp_eth/src/esp_eth_mac_w5500.c
Due: none

esp_eth: Fix w5500 to correctly read registers on -Os
  components/esp_eth/src/esp_eth_mac_w5500.c
Due: none

fix spp acceptor deadlock
  components/bt/host/bluedroid/hci/hci_hal_h4.c
  components/bt/host/bluedroid/stack/l2cap/include/l2c_int.h
  components/bt/host/bluedroid/stack/l2cap/l2c_utils.c
Due: none

transport: Add CONFI_WS_TRANSPORT for optimize the code size
  components/esp_websocket_client/CMakeLists.txt
  components/esp_websocket_client/component.mk
  components/mqtt/Kconfig
  components/tcp_transport/CMakeLists.txt
  components/tcp_transport/Kconfig
  components/tcp_transport/component.mk
  components/tcp_transport/transport_utils.c
  components/tcp_transport/transport_ws.c
Due: check-kconfigs, cmake-lint

esp_eth: Recover the w5500 driver from missed io interrupt
  components/esp_eth/src/esp_eth_mac_w5500.c
Due: none

esp_eth: Improve GPIO interrupt processing in w5500 driver
  components/esp_eth/src/esp_eth_mac_w5500.c
  components/esp_eth/src/w5500.h
Due: none

example: set example wifi scan method to all channel:
  examples/common_components/protocol_examples_common/connect.c
Due: none

coredump: Implemented esp_core_dump_image_erase() and esp_core_dump_image_get() now returns ESP_ERR_NOT_FOUND when partition is blank
  components/espcoredump/include/esp_core_dump.h
  components/espcoredump/src/core_dump_flash.c
Due: none

coredump: core dump data check can now be parametrized
  components/espcoredump/Kconfig
  components/espcoredump/include/esp_core_dump.h
  components/espcoredump/src/core_dump_flash.c
Due: check-kconfigs

espcoredump erase review comments
  components/espcoredump/include/esp_core_dump.h
  components/espcoredump/src/core_dump_flash.c
Due: none

Update TWAI driver docs and registers for esp32c3
  components/soc/esp32c3/include/soc/soc_caps.h
  components/soc/esp32c3/include/soc/twai_struct.h
  components/soc/esp32s3/include/soc/twai_caps.h
  components/soc/esp32s3/include/soc/twai_struct.h
  docs/en/api-reference/peripherals/twai.rst
Due: none

otatool: Fix incorrect using otadata.seq&crc in switch_ota_partition cmd
  components/app_update/otatool.py
Due: none

Temporarily set LANG to en code to avoid RuntimeError
  docs/en/api-guides/build-system.rst
  docs/zh_CN/api-guides/build-system.rst
  export.sh
Due: none

component/bt: fixed the assert in checking hardware sleep state during wake-up
  components/bt/controller/esp32c3/bt.c
Due: none

esp_wifi: re-enable phy calibration data to nvs for esp32c3 & esp32s3
  components/esp_wifi/Kconfig
  components/esp_wifi/src/phy_init.c
Due: check-kconfigs

docs: add rf calibration docs for S2 and C3
  docs/conf_common.py
  docs/en/api-guides/RF_calibration.rst
  docs/en/api-guides/index.rst
  docs/zh_CN/api-guides/index.rst
Due: none

[esp_system]: added __cxx_eh_arena_size_get again
  components/esp_system/startup.c
Due: none

mdns: Support for One-Shot mDNS queries
  components/mdns/mdns.c
Due: none

tools: Catch OSError which is raised when the tool is not available
  tools/idf_tools.py
Due: none

wpa_supplicant: Add WPS strict in config option
  components/wpa_supplicant/CMakeLists.txt
  components/wpa_supplicant/Kconfig
  components/wpa_supplicant/component.mk
  components/wpa_supplicant/src/esp_supplicant/esp_wps.c
  components/wpa_supplicant/src/wps/wps_attr_build.c
  components/wpa_supplicant/src/wps/wps_attr_parse.c
  components/wpa_supplicant/src/wps/wps_defs.h
  components/wpa_supplicant/src/wps/wps_validate.c
Due: check-kconfigs, cmake-lint

esp_netif: Add CONFIG_LWIP_DHCPS to sperate the code
  components/esp_netif/lwip/esp_netif_lwip.c
  components/lwip/CMakeLists.txt
  components/lwip/Kconfig
  components/lwip/component.mk
  components/lwip/port/esp32/include/lwipopts.h
Due: check-kconfigs, cmake-lint

hal: fix ee.get_gpio_in command for esp32-s3
  components/hal/esp32s3/include/hal/cpu_ll.h
Due: none

tools: fix parsing regex
  tools/tools.json
Due: none

make build system: fix build for undefined _lock_* funcs
  components/bootloader/subproject/Makefile
Due: none

make build system: fix ar warning
  make/project.mk
Due: none

newlib: Add ESP_ROM_HAS_RETARGETABLE_LOCKING capability for C3 and S3 chips
  components/esp_rom/CMakeLists.txt
  components/esp_rom/component.mk
  components/esp_rom/esp32c3/esp_rom_caps.h
  components/esp_rom/esp32s3/esp_rom_caps.h
  components/esp_rom/include/esp32c3/rom/libc_stubs.h
  components/esp_rom/include/esp32s3/rom/libc_stubs.h
  components/newlib/locks.c
  components/newlib/newlib_init.c
  components/newlib/test/test_newlib.c
Due: cmake-lint

Update toolchains to esp-2021r1
  tools/test_idf_tools/test_idf_tools.py
  tools/toolchain_versions.mk
  tools/tools.json
  tools/windows/windows_install_prerequisites.sh
Due: none

ci: fix test_build_system* fails
  components/newlib/newlib_init.c
  components/nvs_flash/src/nvs_api.cpp
Due: none

ci: add debug artifacts for test_idf_tools
  tools/ci/config/host-test.yml
  tools/test_idf_tools/test_idf_tools.py
Due: none

hid examples support esp32c3/s3
  examples/bluetooth/esp_hid_device/main/esp_hid_device_main.c
  examples/bluetooth/esp_hid_device/main/esp_hid_gap.c
  examples/bluetooth/esp_hid_device/sdkconfig.defaults.esp32c3
  examples/bluetooth/esp_hid_device/sdkconfig.defaults.esp32s3
  examples/bluetooth/esp_hid_host/main/esp_hid_gap.c
  examples/bluetooth/esp_hid_host/main/esp_hid_host_main.c
  examples/bluetooth/esp_hid_host/sdkconfig.defaults.esp32c3
  examples/bluetooth/esp_hid_host/sdkconfig.defaults.esp32s3
Due: check-deprecated-kconfigs-options

support hw recorrect
  components/bt/controller/esp32c3/Kconfig.in
  components/bt/include/esp32c3/include/esp_bt.h
Due: check-kconfigs

lwip: Add CONFIG_LWIP_ICMP and CONFIG_LWIP_ICMP6 to sperate the code
  components/lwip/CMakeLists.txt
  components/lwip/Kconfig
  components/lwip/component.mk
  components/lwip/port/esp32/include/lwipopts.h
Due: check-kconfigs, cmake-lint

esp_netif: Add CONFIG_PPP_SUPPORT and CONFIG_LWIP_SLIP_SUPPORT to sperate the code
  components/esp_netif/CMakeLists.txt
  components/esp_netif/component.mk
  components/esp_netif/lwip/esp_netif_lwip.c
  components/esp_netif/lwip/esp_netif_lwip_internal.h
  components/esp_netif/lwip/esp_netif_lwip_ppp.c
  components/esp_netif/lwip/esp_netif_lwip_slip.c
Due: cmake-lint

slip: Fix the definition of cplusplus in the code
  components/esp_netif/include/esp_netif_slip.h
Due: none
