Repository MaiNhan94/esp_idf_c3: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-kconfigs, check-deprecated-kconfigs-options, cmake-lint, check-codeowners

check-kconfigs:
  name: Validate Kconfig files
  entry: tools/ci/check_kconfigs.py
  language: python

check-deprecated-kconfigs-options:
  name: Check if any Kconfig Options Deprecated
  entry: tools/ci/check_deprecated_kconfigs.py
  language: python

cmake-lint:
  name: Check CMake Files Format
  entry: cmakelint --linelength=120 --spaces=4 --filter=-whitespace/indent
  language: python
  additional_dependencies:
  - cmakelint==1.4.1

check-codeowners:
  name: Validate Codeowner File
  entry: tools/ci/check_codeowners.py ci-check
  language: python
  pass_filenames: false

mdns: Fixed the ip header TTL to be correctly set to 255
  components/mdns/mdns_networking.c
Due: none

esp_pm: fix an issue and add an interface (backport to v4.3)
  components/esp_pm/include/esp_pm.h
  components/esp_pm/pm_impl.c
  components/esp_system/sleep_modes.c
Due: none

Fixed automatic connection in idf_monitor
  tools/idf_py_actions/errors.py
  tools/idf_py_actions/serial_ext.py
Due: none

deep sleep: fix sleep gpio wakeup fail issue
  components/driver/gpio.c
Due: none

freertos: Add unit test for deleting task which may be blocking
  components/freertos/test/test_freertos_task_delete.c
Due: none

freertos: Add some comments about deleting tasks when using SMP
  components/freertos/tasks.c
  components/freertos/test/test_freertos_task_delete.c
Due: none

freertos: Fix race condition using vTaskDelete() cross-core causing resource leak
  components/freertos/tasks.c
Due: none

esp-idf: Added an option in menuconfig to configure maximum gatt services
  components/bt/host/bluedroid/Kconfig.in
  components/bt/host/bluedroid/common/include/common/bluedroid_user_config.h
  components/bt/host/bluedroid/common/include/common/bt_target.h
Due: check-kconfigs

fix(ci): ci_fetch_submodule return full match name first
  tools/ci/python_packages/gitlab_api.py
Due: none

fix esp32c3 default mac addr count
  components/esp32c3/Kconfig
Due: check-kconfigs

add option to enable multi-connection
  components/bt/host/bluedroid/Kconfig.in
  components/bt/host/bluedroid/bta/gatt/bta_gattc_act.c
  components/bt/host/bluedroid/bta/gatt/bta_gattc_cache.c
  components/bt/host/bluedroid/common/include/common/bluedroid_user_config.h
  components/bt/host/bluedroid/common/include/common/bt_target.h
  components/bt/host/bluedroid/stack/smp/smp_act.c
  components/bt/host/bluedroid/stack/smp/smp_utils.c
Due: check-kconfigs

add BLE connection establishment retry
  components/bt/host/bluedroid/Kconfig.in
  components/bt/host/bluedroid/common/include/common/bluedroid_user_config.h
  components/bt/host/bluedroid/common/include/common/bt_target.h
  components/bt/host/bluedroid/stack/btm/btm_ble_5_gap.c
  components/bt/host/bluedroid/stack/btm/btm_ble_gap.c
  components/bt/host/bluedroid/stack/btm/btm_main.c
  components/bt/host/bluedroid/stack/l2cap/include/l2c_int.h
  components/bt/host/bluedroid/stack/l2cap/l2c_ble.c
  components/bt/host/bluedroid/stack/l2cap/l2c_link.c
  components/bt/host/bluedroid/stack/l2cap/l2c_utils.c
Due: check-kconfigs

fix ble 5.0 SMP failed
  components/bt/host/bluedroid/stack/btm/btm_ble_5_gap.c
  components/bt/host/bluedroid/stack/btm/btm_ble_gap.c
  components/bt/host/bluedroid/stack/include/stack/btm_ble_api.h
  components/bt/host/bluedroid/stack/l2cap/l2c_ble.c
Due: none

optimize C3 multi-connection
  components/bt/host/bluedroid/stack/hcic/hciblecmds.c
  components/bt/host/bluedroid/stack/l2cap/include/l2c_int.h
  components/bt/host/bluedroid/stack/l2cap/l2c_ble.c
  components/bt/include/esp32c3/include/esp_bt.h
Due: none

update con state when getting connection cancle complete
  components/bt/host/bluedroid/stack/btm/btm_ble.c
  components/bt/host/bluedroid/stack/btm/include/btm_ble_int.h
  components/bt/host/bluedroid/stack/btu/btu_hcif.c
Due: none

freertos: Fix race condition returning incorrect TCB on unpinned tasks
  components/freertos/tasks.c
Due: none

freertos: test: Add stress test for thread local storage
  components/pthread/test/test_pthread_local_storage.c
Due: none

wifi/ftm: Move FTM report logging into application and some bugfixes
  components/esp_wifi/Kconfig
  components/esp_wifi/include/esp_private/wifi.h
  components/esp_wifi/include/esp_wifi_types.h
  components/esp_wifi/src/wifi_init.c
  examples/wifi/ftm/README.md
  examples/wifi/ftm/main/Kconfig.projbuild
  examples/wifi/ftm/main/ftm_main.c
  examples/wifi/ftm/sdkconfig.defaults
Due: check-kconfigs, check-deprecated-kconfigs-options

fix(ci): return as failed when no test case result generated
  tools/ci/python_packages/tiny_test_fw/TinyFW.py
Due: none

ci: add helper info for tests with no config
  tools/ci/config/target-test.yml
Due: none

ble_mesh: stack: Fix endianness error in output or input oob data of number
  components/bt/esp_ble_mesh/mesh_core/provisioner_prov.c
Due: none

bootloader_support: fix min. revision error print for < C3-ECO3 revisions
  components/bootloader_support/src/esp32c3/bootloader_esp32c3.c
Due: none

test_apps: increase partition table offset to fix build errors
  tools/test_apps/system/bootloader_sections/sdkconfig.ci.flash_encryption
  tools/test_apps/system/build_test/sdkconfig.ci.flash_encryption_release
Due: check-deprecated-kconfigs-options

bootloader: fix print related to min. chip revision
  components/bootloader_support/src/bootloader_common_loader.c
Due: none

esp_flash: fix host number for passing ci
  components/spi_flash/test/test_esp_flash.c
Due: none

NimBLE: Add max connection config option for ESP32C3
  components/bt/host/nimble/Kconfig.in
Due: check-kconfigs

esp32s2/esp32s3/esp32c3: Decrease boot up time by delete useless slow clock calibration
  components/esp_hw_support/port/esp32c3/rtc_clk.c
  components/esp_hw_support/port/esp32c3/rtc_init.c
  components/esp_hw_support/port/esp32s2/rtc_clk.c
  components/esp_hw_support/port/esp32s2/rtc_init.c
  components/esp_hw_support/port/esp32s3/rtc_clk.c
  components/esp_hw_support/port/esp32s3/rtc_init.c
  components/soc/esp32c3/include/soc/rtc.h
  components/soc/esp32s2/include/soc/rtc.h
  components/soc/esp32s3/include/soc/rtc.h
Due: none

wpa_supplicant: Prevent reinstallation of an already in-use group key
  components/wpa_supplicant/src/common/wpa_common.h
  components/wpa_supplicant/src/rsn_supp/wpa.c
  components/wpa_supplicant/src/rsn_supp/wpa_i.h
Due: none

remove original esp32-bt-lib submodule
  .gitmodules
Due: none

component/bt: add another bt-lib submodule and refactor the directories
  .gitmodules
  components/bt/CMakeLists.txt
  components/bt/component.mk
Due: cmake-lint

[doc]: Corrected C3 LEDC docs
  docs/en/api-reference/peripherals/ledc.rst
  docs/en/contribute/documenting-code.rst
Due: none

doc: update programming guide to include ESP32-C3 updates
  docs/en/api-reference/peripherals/uart.rst
Due: none

doc: update general purpose timer for esp32-c3
  docs/en/api-reference/peripherals/index.rst
  docs/en/api-reference/peripherals/timer.rst
  docs/zh_CN/api-reference/peripherals/index.rst
  docs/zh_CN/api-reference/peripherals/timer.rst
Due: none

timer_group: added example test
  examples/peripherals/timer_group/example_test.py
Due: none

timer_group: using isr callback in example
  examples/peripherals/timer_group/README.md
  examples/peripherals/timer_group/main/timer_group_example_main.c
Due: none

adc: add adc programming guide on c3
  components/driver/include/driver/adc_common.h
  docs/en/api-reference/peripherals/adc.rst
  examples/peripherals/adc/esp32c3/adc/CMakeLists.txt
  examples/peripherals/adc/esp32c3/adc/README.md
  examples/peripherals/adc/esp32c3/adc/main/CMakeLists.txt
  examples/peripherals/adc/esp32c3/adc/main/adc_dma_example_main.c
Due: cmake-lint

spi: update esp32c3 programming guide
  docs/en/api-reference/peripherals/spi_master.rst
  docs/en/api-reference/peripherals/spi_slave.rst
Due: none

Path conditions:
  check-kconfigs: any of: ^Kconfig$|Kconfig.*$
  check-deprecated-kconfigs-options: any of: sdkconfig\.ci$|sdkconfig\.rename$|sdkconfig.*$
  cmake-lint: any of: CMakeLists.txt$|\.cmake$, but not: \/third_party\/
  check-codeowners: any of: \.gitlab/CODEOWNERS
