Repository MaiNhan94/esp_idf_c3: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-kconfigs, check-deprecated-kconfigs-options, cmake-lint, check-codeowners

check-kconfigs:
  name: Validate Kconfig files
  entry: tools/ci/check_kconfigs.py
  language: python

check-deprecated-kconfigs-options:
  name: Check if any Kconfig Options Deprecated
  entry: tools/ci/check_deprecated_kconfigs.py
  language: python

cmake-lint:
  name: Check CMake Files Format
  entry: cmakelint --linelength=120 --spaces=4 --filter=-whitespace/indent
  language: python
  additional_dependencies:
  - cmakelint==1.4.1

check-codeowners:
  name: Validate Codeowner File
  entry: tools/ci/check_codeowners.py ci-check
  language: python
  pass_filenames: false

Modify esp-tls and tcp_transport to support keep alive for tcp and ssl connection
  components/esp-tls/esp_tls.c
  components/esp-tls/esp_tls.h
  components/tcp_transport/include/esp_transport.h
  components/tcp_transport/include/esp_transport_ssl.h
  components/tcp_transport/include/esp_transport_tcp.h
  components/tcp_transport/private_include/esp_transport_internal.h
  components/tcp_transport/transport_ssl.c
  components/tcp_transport/transport_tcp.c
Due: none

ulp: set riscv-ulp as done signal source properly
  components/ulp/ulp_riscv.c
Due: none

ws_transport: Add option to propagate control packets to the app
  components/esp_websocket_client/esp_websocket_client.c
  components/tcp_transport/include/esp_transport_ws.h
  components/tcp_transport/private_include/esp_transport_utils.h
  components/tcp_transport/transport_ws.c
  examples/protocols/websocket/main/websocket_example.c
Due: none

mcpwm: fix wrong capture edge
  components/hal/esp32/include/hal/mcpwm_ll.h
Due: none

mcpwm: fix second fault line broken
  components/driver/mcpwm.c
Due: none

efuse: change prints to ESP_EARLY_LOG for function called from startup code
  components/efuse/src/esp_efuse_utility.c
Due: none

Feature/wifi wapi release
  components/esp_wifi/CMakeLists.txt
  components/esp_wifi/include/esp_private/wifi.h
  components/esp_wifi/include/esp_wifi_types.h
  components/esp_wifi/src/lib_printf.c
  components/wpa_supplicant/Kconfig
  components/wpa_supplicant/src/ap/wpa_auth.c
  components/wpa_supplicant/src/ap/wpa_auth_ie.c
  components/wpa_supplicant/src/common/defs.h
  components/wpa_supplicant/src/common/ieee802_11_common.h
  components/wpa_supplicant/src/common/ieee802_11_defs.h
  components/wpa_supplicant/src/common/wpa_common.c
  components/wpa_supplicant/src/common/wpa_common.h
  components/wpa_supplicant/src/esp_supplicant/esp_wifi_driver.h
  components/wpa_supplicant/src/esp_supplicant/esp_wpa_main.c
  components/wpa_supplicant/src/rsn_supp/wpa.c
  components/wpa_supplicant/src/rsn_supp/wpa_ie.c
Due: check-kconfigs, cmake-lint

freertos: stall systimer while CPU is in debug mode
  components/freertos/port/riscv/port.c
  components/hal/esp32c3/systimer_hal.c
  components/hal/include/hal/systimer_hal.h
Due: none

build system: don't add GCC-specific options when building with clang
  CMakeLists.txt
  examples/build_system/cmake/linux_host_app/sdkconfig.defaults
  tools/cmake/build.cmake
  tools/cmake/project.cmake
  tools/cmake/toolchain-linux.cmake
Due: check-deprecated-kconfigs-options, cmake-lint

test/freertos: add RISC-V support in thread local storage test
  components/freertos/test/test_thread_local.c
Due: none

freertos: add thread local storage support in RISC-V port
  components/freertos/port/riscv/port.c
Due: none

Support ESP32S3 (beta2) WiFi
  components/esp32s3/ld/esp32s3_fragments.lf
  components/esp_system/Kconfig
  components/esp_system/port/soc/esp32s3/clk.c
  components/esp_wifi/CMakeLists.txt
  components/esp_wifi/esp32s3/esp_adapter.c
  components/esp_wifi/esp32s3/include/phy_init_data.h
  components/esp_wifi/src/phy_init.c
  components/soc/esp32s3/include/soc/soc_caps.h
  components/soc/esp32s3/include/soc/syscon_reg.h
Due: check-kconfigs, cmake-lint

doc: update rmt doc for esp32c3
  docs/en/api-reference/peripherals/rmt.rst
Due: none

doc: update sigma-delta doc for esp32c3
  docs/_static/typical_sallenkey_LP_filter.png
  docs/en/api-reference/peripherals/sigmadelta.rst
Due: none

spi_flash: Add auto-suspend mode for ESP32-S2
  components/spi_flash/esp_flash_api.c
  components/spi_flash/esp_flash_spi_init.c
  components/spi_flash/include/memspi_host_driver.h
  components/spi_flash/memspi_host_driver.c
  components/spi_flash/spi_flash_os_func_app.c
Due: none

spi_flash: Support suspend/resume mode for operations
  components/soc/esp32s2/include/soc/spi_mem_struct.h
  components/spi_flash/Kconfig
  components/spi_flash/private_include/spi_flash_defs.h
Due: check-kconfigs

spi_flash(esp32-s2): Add the workaround of a reboot issue when SPI HW suspend is enabled
  components/hal/esp32/include/hal/spi_flash_ll.h
  components/hal/esp32s2/include/hal/spi_flash_ll.h
  components/hal/esp32s2/include/hal/spimem_flash_ll.h
  components/hal/include/hal/spi_flash_hal.h
  components/hal/include/hal/spi_flash_types.h
  components/hal/spi_flash_hal.c
  components/spi_flash/esp_flash_spi_init.c
Due: none

spi_flash: Add auto suspend mode on esp32c3
  components/bootloader_support/include_bootloader/bootloader_flash_priv.h
  components/bootloader_support/src/esp32c3/bootloader_esp32c3.c
  components/hal/esp32/include/hal/spi_flash_ll.h
  components/hal/esp32c3/include/hal/spimem_flash_ll.h
  components/hal/esp32s2/include/hal/spi_flash_ll.h
  components/hal/esp32s2/include/hal/spimem_flash_ll.h
  components/hal/esp32s3/include/hal/spimem_flash_ll.h
  components/hal/include/hal/spi_flash_hal.h
  components/hal/include/hal/spi_flash_types.h
  components/hal/spi_flash_hal.c
  components/hal/spi_flash_hal_common.inc
  components/hal/spi_flash_hal_gpspi.c
  components/hal/spi_flash_hal_iram.c
  components/soc/esp32c3/include/soc/soc_caps.h
  components/soc/esp32s2/include/soc/soc_caps.h
  components/soc/esp32s2/include/soc/spi_mem_struct.h
  components/soc/esp32s3/include/soc/soc_caps.h
  components/spi_flash/Kconfig
  components/spi_flash/esp_flash_api.c
  components/spi_flash/esp_flash_spi_init.c
  components/spi_flash/include/memspi_host_driver.h
  components/spi_flash/include/spi_flash_chip_driver.h
  components/spi_flash/include/spi_flash_chip_generic.h
  components/spi_flash/memspi_host_driver.c
  components/spi_flash/private_include/spi_flash_defs.h
  components/spi_flash/sim/stubs/soc/include/hal/spi_flash_types.h
  components/spi_flash/spi_flash_chip_gd.c
  components/spi_flash/spi_flash_chip_generic.c
  components/spi_flash/spi_flash_chip_winbond.c
  components/spi_flash/test/test_esp_flash.c
Due: check-kconfigs

spi_flash(c3): add boya chip support for suspend feature
  components/hal/include/hal/spi_flash_hal.h
  components/hal/spi_flash_hal_gpspi.c
  components/hal/spi_flash_hal_iram.c
  components/spi_flash/CMakeLists.txt
  components/spi_flash/Kconfig
  components/spi_flash/include/memspi_host_driver.h
  components/spi_flash/include/spi_flash_chip_boya.h
  components/spi_flash/linker.lf
  components/spi_flash/memspi_host_driver.c
  components/spi_flash/private_include/spi_flash_defs.h
  components/spi_flash/spi_flash_chip_boya.c
  components/spi_flash/spi_flash_chip_drivers.c
  components/spi_flash/spi_flash_chip_gd.c
  components/spi_flash/spi_flash_chip_generic.c
  components/spi_flash/spi_flash_chip_mxic.c
  components/spi_flash/spi_flash_chip_winbond.c
  tools/ci/check_public_headers_exceptions.txt
Due: check-kconfigs, cmake-lint

wpa_supplicant: Fix some memory leak issues by coverity static analyzer.
  components/wpa_supplicant/src/common/sae.c
  components/wpa_supplicant/src/esp_supplicant/esp_wpa2.c
Due: none

esp_http_client: Fix some memory leak issues by coverity static analyzer.
  components/esp_http_client/lib/http_header.c
Due: none

esp_local_ctrl: Fix some memory leak issues by coverity static analyzer.
  components/esp_local_ctrl/src/esp_local_ctrl_handler.c
Due: none

wifi_provisioning: Fix some memory leak issues by coverity static analyzer.
  components/wifi_provisioning/src/wifi_config.c
Due: none

fatfs: Fix some memory leak issues by coverity static analyzer.
  components/fatfs/src/ff.c
  components/fatfs/vfs/vfs_fat.c
Due: none

tcp_transport: Fix some memory leak issues by coverity static analyzer.
  components/tcp_transport/transport_ssl.c
  components/tcp_transport/transport_tcp.c
  components/tcp_transport/transport_ws.c
Due: none

optimization dhcp key state transition message
  components/lwip/Kconfig
  components/lwip/port/esp32/include/lwipopts.h
Due: check-kconfigs

update temperature Sensor driver for esp32c3
  components/driver/esp32c3/rtc_tempsensor.c
Due: none

adc: change the way data is formattted in adc_dma_demo
  docs/en/api-reference/peripherals/adc.rst
  examples/peripherals/adc/adc/CMakeLists.txt
  examples/peripherals/adc/adc/Makefile
  examples/peripherals/adc/adc/README.md
  examples/peripherals/adc/adc/main/CMakeLists.txt
  examples/peripherals/adc/adc/main/adc1_example_main.c
  examples/peripherals/adc/adc/main/component.mk
  examples/peripherals/adc/adc2/CMakeLists.txt
  examples/peripherals/adc/adc2/Makefile
  examples/peripherals/adc/adc2/README.md
  examples/peripherals/adc/adc2/main/CMakeLists.txt
  examples/peripherals/adc/adc2/main/Kconfig.projbuild
  examples/peripherals/adc/adc2/main/adc2_example_main.c
  examples/peripherals/adc/adc2/main/component.mk
  examples/peripherals/adc/adc_dma_demo/CMakeLists.txt
  examples/peripherals/adc/adc_dma_demo/main/CMakeLists.txt
  examples/peripherals/adc/adc_dma_demo/main/adc_dma_example_main.c
  examples/peripherals/adc_dma_demo/README.md
Due: check-kconfigs, cmake-lint

system: update edma reset in system_api_esp32c3/s3.c
  components/esp32c3/system_api_esp32c3.c
  components/esp32s3/system_api_esp32s3.c
Due: none

adc: update the monitor and filter in the HAL on C3
  components/driver/esp32c3/adc.c
  components/hal/esp32c3/adc_hal.c
  components/hal/esp32c3/include/hal/adc_hal.h
  components/hal/esp32c3/include/hal/adc_ll.h
  components/soc/esp32c3/include/soc/soc_caps.h
Due: none

adc: fix some regression issues
  components/driver/CMakeLists.txt
  components/driver/esp32c3/adc2_init_cal.c
  components/driver/esp32c3/include/driver/adc.h
  components/driver/esp32s2/adc2_init_cal.c
  components/driver/include/driver/adc_common.h
  components/driver/include/esp_private/adc_cali.h
  components/driver/test/test_adc_dma.c
  components/hal/adc_hal.c
  components/hal/esp32c3/adc_hal.c
  components/hal/esp32c3/include/hal/clk_gate_ll.h
  components/hal/esp32c3/include/hal/gdma_ll.h
  components/hal/esp32s2/adc_hal.c
  components/hal/include/hal/adc_types.h
  examples/peripherals/adc/adc_dma/main/adc_dma_example_main.c
Due: cmake-lint

driver: Update/cleanup esp32c3 rtc_tempsensor.c
  components/driver/esp32c3/rtc_tempsensor.c
  components/esp_hw_support/port/esp32c3/regi2c_ctrl.h
  components/esp_hw_support/port/esp32c3/rtc_clk_init.c
Due: none

adc_digi: add dma drivers
  components/driver/esp32c3/adc.c
  components/driver/esp32c3/include/driver/adc.h
  components/driver/include/driver/adc_common.h
  components/hal/CMakeLists.txt
  components/hal/adc_hal.c
  components/hal/esp32c3/include/hal/adc_ll.h
  components/hal/esp32c3/include/hal/clk_gate_ll.h
  components/hal/include/hal/adc_hal.h
  components/hal/include/hal/adc_types.h
  examples/peripherals/adc_dma_demo/CMakeLists.txt
  examples/peripherals/adc_dma_demo/README.md
  examples/peripherals/adc_dma_demo/main/CMakeLists.txt
  examples/peripherals/adc_dma_demo/main/adc_dma_example_main.c
Due: cmake-lint

adc: remove useless adc_ll_set_sar_clk_div in LL
  components/hal/esp32c3/include/hal/adc_ll.h
Due: none

driver: esp32c3 rtc_tempsensor compile fixes
  components/driver/CMakeLists.txt
  components/driver/esp32c3/rtc_tempsensor.c
Due: cmake-lint

adc: replace assert with esp check
  components/esp_adc_cal/esp_adc_cal_esp32c3.c
Due: none

small fix for cherrypick
  components/esp_wifi/src/wifi_init.c
  components/hal/esp32c3/include/hal/gdma_ll.h
Due: none

adc_digi: update_adc_api_for_5M_freq_limit
  components/driver/esp32c3/adc.c
  components/driver/include/driver/adc_common.h
  components/driver/test/test_adc_dma.c
  components/hal/adc_hal.c
  components/hal/esp32c3/adc_hal.c
  components/hal/esp32c3/include/hal/adc_hal.h
  components/hal/esp32c3/include/hal/adc_ll.h
  components/hal/esp32s2/include/hal/adc_ll.h
  components/hal/include/hal/adc_types.h
  examples/peripherals/adc/adc_dma/main/adc_dma_example_main.c
Due: none

adc: add comment for ADC sampling frequency
  components/driver/esp32c3/adc.c
  components/hal/include/hal/adc_types.h
  components/soc/esp32c3/include/soc/soc_caps.h
  examples/peripherals/adc/adc_dma/main/adc_dma_example_main.c
Due: none

Path conditions:
  check-kconfigs: any of: ^Kconfig$|Kconfig.*$
  check-deprecated-kconfigs-options: any of: sdkconfig\.ci$|sdkconfig\.rename$|sdkconfig.*$
  cmake-lint: any of: CMakeLists.txt$|\.cmake$, but not: \/third_party\/
  check-codeowners: any of: \.gitlab/CODEOWNERS
