Repository MaiNhan94/esp_idf_c3: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-kconfigs, check-deprecated-kconfigs-options, cmake-lint, check-codeowners

check-kconfigs:
  name: Validate Kconfig files
  entry: tools/ci/check_kconfigs.py
  language: python

check-deprecated-kconfigs-options:
  name: Check if any Kconfig Options Deprecated
  entry: tools/ci/check_deprecated_kconfigs.py
  language: python

cmake-lint:
  name: Check CMake Files Format
  entry: cmakelint --linelength=120 --spaces=4 --filter=-whitespace/indent
  language: python
  additional_dependencies:
  - cmakelint==1.4.1

check-codeowners:
  name: Validate Codeowner File
  entry: tools/ci/check_codeowners.py ci-check
  language: python
  pass_filenames: false

esp_wifi: fix nolightsleep after wifi init (backport to v4.3)
  components/esp_system/include/esp_sleep.h
  components/esp_system/sleep_modes.c
  components/esp_wifi/src/wifi_init.c
Due: none

mbedtls: Fix mbedtls_ssl_send_alert_message crash due to ssl->out_iv is NULL
  components/mbedtls/port/dynamic/esp_mbedtls_dynamic_impl.c
  components/mbedtls/port/dynamic/esp_mbedtls_dynamic_impl.h
  components/mbedtls/port/dynamic/esp_ssl_tls.c
Due: none

ci: Use GitHub Actions to generate recursive source code zips for releases
  .github/workflows/release_zips.yml
Due: none

tools: Add various fixes for idf.py gdbgui
  requirements.txt
  tools/idf_py_actions/debug_ext.py
Due: none

cmake: Fix passing PYTHON path via CMake variable if using IDF as library
  tools/cmake/build.cmake
  tools/cmake/project.cmake
Due: cmake-lint

cmake: Set IDFTOOL variable using the correct PYTHON interpreter variable
  tools/cmake/project.cmake
Due: cmake-lint

cmake: Improve the error message if the Python interpreter fails to run
  tools/cmake/build.cmake
Due: cmake-lint

freertos: Check for arithmetic overflows on queue creation
  components/freertos/queue.c
Due: none

freertos: Add addition overflow check for stream buffer
  components/freertos/stream_buffer.c
Due: none

ut: Exclude test_utils component from default_2_c3 config
  tools/unit-test-app/configs/default_2_c3
Due: none

build: fix cache issue when .flash.text section alignment is uncommon
  components/esp32c3/ld/esp32c3.project.ld.in
  components/esp32s3/ld/esp32s3.project.ld.in
Due: none

build: (Custom) App version info is now on a dedicated section, independent of the rodata alignment
  components/esp32/ld/esp32.ld
  components/esp32/ld/esp32.project.ld.in
  components/esp32c3/ld/esp32c3.ld
  components/esp32c3/ld/esp32c3.project.ld.in
  components/esp32s2/ld/esp32s2.ld
  components/esp32s2/ld/esp32s2.project.ld.in
  components/esp32s3/ld/esp32s3.ld
  components/esp32s3/ld/esp32s3.project.ld.in
  tools/test_apps/build_system/ldalign_test/CMakeLists.txt
  tools/test_apps/build_system/ldalign_test/README.txt
  tools/test_apps/build_system/ldalign_test/check_alignment.py
  tools/test_apps/build_system/ldalign_test/main/CMakeLists.txt
  tools/test_apps/build_system/ldalign_test/main/test_main.c
Due: cmake-lint

freertos: fix TLS run-time address calculation
  components/esp32/ld/esp32.project.ld.in
  components/esp32c3/ld/esp32c3.project.ld.in
  components/esp32s2/ld/esp32s2.project.ld.in
  components/esp32s3/ld/esp32s3.project.ld.in
  components/freertos/port/riscv/port.c
  components/freertos/port/xtensa/port.c
Due: none

build: fix linker scripts edition not triggering a rebuild
  components/esp32/CMakeLists.txt
  components/esp32c3/CMakeLists.txt
  components/esp32s2/CMakeLists.txt
  components/esp32s3/CMakeLists.txt
  tools/ci/test_build_system_cmake.sh
Due: cmake-lint

i2c: update api reference and example pin defination
  docs/en/api-reference/peripherals/i2c.rst
  examples/peripherals/i2c/i2c_self_test/README.md
  examples/peripherals/i2c/i2c_self_test/main/Kconfig.projbuild
  examples/peripherals/i2c/i2c_self_test/main/i2c_example_main.c
Due: check-kconfigs

esp32s2 riscv ulp: Ensure reset vector is always at offset 0x0
  components/ulp/ld/esp32s2.ulp.riscv.ld
  components/ulp/ulp_riscv/start.S
Due: none

esp32s2 riscv ulp: Make re-linking depend on linker script file
  components/ulp/cmake/CMakeLists.txt
Due: cmake-lint

bugfix: add .rodata section for riscv ulp for esp32s2
  components/ulp/ld/esp32s2.ulp.riscv.ld
Due: none

ci: allow wildcard in known failure cases
  tools/ci/python_packages/tiny_test_fw/bin/Runner.py
Due: none

ble_mesh: stack: Fix provisioning input or output count number should be at least 1
  components/bt/esp_ble_mesh/mesh_core/prov.c
  components/bt/esp_ble_mesh/mesh_core/provisioner_prov.c
Due: none

touch_sensor: fix esp32s2 touch sensor default power source
  components/hal/esp32s2/touch_sensor_hal.c
  components/hal/esp32s3/touch_sensor_hal.c
Due: none

1. open glitch reset for c3 ECO3; 2. set digital & rtc voltage to about 1.15v which storing in efuse.
  components/bootloader_support/src/esp32c3/bootloader_esp32c3.c
  components/efuse/esp32c3/esp_efuse_table.c
  components/efuse/esp32c3/esp_efuse_table.csv
  components/efuse/esp32c3/include/esp_efuse_table.h
  components/esp_hw_support/port/esp32c3/rtc_clk.c
  components/esp_hw_support/port/esp32c3/rtc_init.c
  components/esp_hw_support/port/esp32c3/rtc_sleep.c
  components/soc/esp32c3/include/soc/rtc.h
Due: none

fix C3/S3 ble multi-connection failed when device acts as master and slave
  components/bt/host/bluedroid/stack/include/stack/btm_ble_api.h
Due: none

tools: Updates OpenOCD version to 'v0.10.0-esp32-20210401'
  tools/tools.json
Due: none

[system]: Made longjmp save for context switch
  components/bootloader/subproject/Makefile
  components/esp_rom/CMakeLists.txt
  components/esp_rom/component.mk
  components/esp_rom/patches/esp_rom_longjmp.S
  components/xtensa/component.mk
  tools/test_apps/system/longjmp_test/CMakeLists.txt
  tools/test_apps/system/longjmp_test/Makefile
  tools/test_apps/system/longjmp_test/README.md
  tools/test_apps/system/longjmp_test/app_test.py
  tools/test_apps/system/longjmp_test/main/CMakeLists.txt
  tools/test_apps/system/longjmp_test/main/component.mk
  tools/test_apps/system/longjmp_test/main/hello_world_main.c
  tools/test_apps/system/longjmp_test/sdkconfig.defaults
Due: check-deprecated-kconfigs-options, cmake-lint

soc: merge C3 caps into a single soc_caps.h
  components/bootloader_support/src/bootloader_flash_config_esp32c3.c
  components/esp_system/sleep_modes.c
  components/hal/ds_hal.c
  components/hal/esp32c3/include/hal/cpu_ll.h
  components/hal/esp32c3/include/hal/ds_ll.h
  components/hal/esp32c3/include/hal/gdma_ll.h
  components/hal/esp32c3/include/hal/mpu_ll.h
  components/hal/esp32c3/include/hal/uart_ll.h
  components/hal/esp32c3/rtc_cntl_hal.c
  components/hal/esp32c3/systimer_hal.c
  components/soc/esp32c3/include/soc/brownout_caps.h
  components/soc/esp32c3/include/soc/cpu_caps.h
  components/soc/esp32c3/include/soc/ds_caps.h
  components/soc/esp32c3/include/soc/gdma_caps.h
  components/soc/esp32c3/include/soc/gpio_caps.h
  components/soc/esp32c3/include/soc/i2c_caps.h
  components/soc/esp32c3/include/soc/i2s_caps.h
  components/soc/esp32c3/include/soc/ledc_caps.h
  components/soc/esp32c3/include/soc/mpu_caps.h
  components/soc/esp32c3/include/soc/rmt_caps.h
  components/soc/esp32c3/include/soc/rtc_caps.h
  components/soc/esp32c3/include/soc/rtc_io_caps.h
  components/soc/esp32c3/include/soc/sigmadelta_caps.h
  components/soc/esp32c3/include/soc/soc_caps.h
  components/soc/esp32c3/include/soc/spi_caps.h
  components/soc/esp32c3/include/soc/systimer_caps.h
  components/soc/esp32c3/include/soc/timer_group_caps.h
  components/soc/esp32c3/include/soc/uart_caps.h
  components/soc/include/soc/adc_periph.h
Due: none

timer: add IRAM_ATTR to spinlock give/take API
  components/driver/timer.c
Due: none

[system]: put xtensa_intr_asm into IRAM
  components/xtensa/linker.lf
  components/xtensa/xtensa_intr.c
Due: none

ci: remove spi_flash_qio_s2 config
  tools/unit-test-app/configs/spi_flash_qio_s2
Due: none

docs: remove front page C3 docs not updated warning
  docs/en/api-reference/peripherals/i2c.rst
  docs/en/api-reference/peripherals/i2s.rst
  docs/en/api-reference/peripherals/sd_pullup_requirements.rst
  docs/en/api-reference/peripherals/sdio_slave.rst
  docs/en/api-reference/peripherals/sdmmc_host.rst
  docs/en/index.rst
  docs/zh_CN/api-reference/peripherals/i2c.rst
  docs/zh_CN/api-reference/storage/sdmmc.rst
  docs/zh_CN/index.rst
Due: none

modem sleep: optimize wifi station modem sleep percentage
  components/esp_wifi/Kconfig
  components/esp_wifi/src/wifi_init.c
Due: check-kconfigs

check_readme_links: remove throwing of exception before exit
  tools/ci/check_readme_links.py
Due: none

bugfix/mqtt examples: Updates the CA certificates used.
  examples/protocols/mqtt/ssl/CMakeLists.txt
  examples/protocols/mqtt/ssl/main/app_main.c
  examples/protocols/mqtt/ssl/main/component.mk
  examples/protocols/mqtt/ssl/main/mqtt_eclipse_org.pem
  examples/protocols/mqtt/ssl/main/mqtt_eclipseprojects_io.pem
  examples/protocols/mqtt/wss/CMakeLists.txt
  examples/protocols/mqtt/wss/main/app_main.c
  examples/protocols/mqtt/wss/main/component.mk
  examples/protocols/mqtt/wss/main/mqtt_eclipse_org.pem
  examples/protocols/mqtt/wss/main/mqtt_eclipseprojects_io.pem
Due: cmake-lint

fix ag use dynamic memory error
  components/bt/host/bluedroid/btc/profile/std/hf_ag/btc_hf_ag.c
  components/bt/host/bluedroid/btc/profile/std/include/btc_hf_ag.h
  components/bt/host/bluedroid/main/bte_init.c
Due: none

Remove btc_hf_idx_by_bdaddr in both btc_hf_init and btc_hf_deinit functions
  components/bt/host/bluedroid/btc/profile/std/hf_ag/btc_hf_ag.c
Due: none

NimBLE: Update NimBLE submodule to reattempt conn and to fix vulnerability
  components/bt/host/nimble/Kconfig.in
Due: check-kconfigs

mbedtls: fixed CMake build warning
  components/mbedtls/CMakeLists.txt
Due: cmake-lint

CI: re-enable wifi prov examples for C3
  examples/provisioning/wifi_prov_mgr/README.md
Due: none

Path conditions:
  check-kconfigs: any of: ^Kconfig$|Kconfig.*$
  check-deprecated-kconfigs-options: any of: sdkconfig\.ci$|sdkconfig\.rename$|sdkconfig.*$
  cmake-lint: any of: CMakeLists.txt$|\.cmake$, but not: \/third_party\/
  check-codeowners: any of: \.gitlab/CODEOWNERS
