Repository MaiNhan94/esp_idf_c3: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-kconfigs, check-deprecated-kconfigs-options, cmake-lint, check-codeowners

check-kconfigs:
  name: Validate Kconfig files
  entry: tools/ci/check_kconfigs.py
  language: python

check-deprecated-kconfigs-options:
  name: Check if any Kconfig Options Deprecated
  entry: tools/ci/check_deprecated_kconfigs.py
  language: python

cmake-lint:
  name: Check CMake Files Format
  entry: cmakelint --linelength=120 --spaces=4 --filter=-whitespace/indent
  language: python
  additional_dependencies:
  - cmakelint==1.4.1

check-codeowners:
  name: Validate Codeowner File
  entry: tools/ci/check_codeowners.py ci-check
  language: python
  pass_filenames: false

add connection parameter check
  components/bt/host/bluedroid/api/esp_gap_ble_api.c
Due: none

examples/protocols: update www.howsmyssl.com certificate to fix test failures
  examples/protocols/esp_http_client/main/howsmyssl_com_root_cert.pem
  examples/protocols/https_request/main/server_root_cert.pem
Due: none

Fix wapi authmode in NVS and S3/C3 compability.
  components/esp_wifi/include/esp_wifi_types.h
Due: none

system: Log a warning when booting bootloader or app configured for FPGA use
  components/esp_common/src/fpga_overrides.c
  tools/cmake/targets.cmake
Due: cmake-lint

esp_system: Fix some ESP_EARLY_LOG lines not being output fully
  components/esp_system/port/cpu_start.c
Due: none

heap: fix unaligned memory bug when poisoning is enabled.
  components/heap/heap_tlsf.c
  components/heap/heap_tlsf.h
  components/heap/multi_heap.c
  components/heap/multi_heap_internal.h
  components/heap/multi_heap_poisoning.c
  components/heap/test/test_aligned_alloc_caps.c
  components/heap/test_multi_heap_host/Makefile
  components/heap/test_multi_heap_host/test_multi_heap.cpp
Due: none

heap: add light poisoning configuration to the tests.
  components/heap/test/test_allocator_timings.c
  tools/ci/config/target-test.yml
  tools/unit-test-app/configs/heap_light_poison
  tools/unit-test-app/configs/heap_light_poison_c3
Due: none

esp_eth: added option to disable soft flow control when rx buffer is few
  components/esp_eth/Kconfig
  components/esp_eth/src/esp_eth_mac_esp32.c
Due: check-kconfigs

ethernet: not using test MAC address for EMAC example
  examples/ethernet/basic/main/ethernet_example_main.c
  examples/ethernet/eth2ap/main/ethernet_example_main.c
  examples/ethernet/iperf/main/cmd_ethernet.c
Due: none

Apply 1 suggestion(s) to 1 file(s)
  examples/storage/partition_api/partition_find/main/main.c
Due: none

example/storage: fix find_partition function when no partition is found
  examples/storage/partition_api/partition_find/main/main.c
Due: none

lwip: Add docs about not supported delete of task while blocked on select
  docs/en/api-guides/lwip.rst
Due: none

bootloader: Anti-rollback mode doesn't run test_app
  components/bootloader/Kconfig.projbuild
  components/bootloader_support/src/bootloader_utility.c
  components/esptool_py/CMakeLists.txt
Due: check-kconfigs, cmake-lint

Provide CN translation for part of documents in MR11884
  docs/zh_CN/about.rst
  docs/zh_CN/get-started-legacy/index.rst
  docs/zh_CN/get-started/index.rst
  docs/zh_CN/get-started/linux-setup-scratch.rst
  docs/zh_CN/index.rst
  docs/zh_CN/resources.rst
Due: none

update wifi docs
  components/esp_wifi/include/smartconfig_ack.h
  docs/en/api-guides/wifi.rst
  docs/en/api-reference/network/esp_wifi.rst
Due: none

build-system: add loadable elf support for ESP32-S2 and C3
  Kconfig
  components/esp32s2/ld/esp32s2_fragments.lf
  tools/test_apps/system/gdb_loadable_elf/app_test.py
  tools/test_apps/system/gdb_loadable_elf/gdbinit_esp32
  tools/test_apps/system/gdb_loadable_elf/gdbinit_esp32c3
  tools/test_apps/system/gdb_loadable_elf/gdbinit_esp32s2
Due: check-kconfigs

sha: dont enable/disable GDMA when enable/disable SHA module
  components/hal/esp32s3/include/hal/clk_gate_ll.h
Due: none

rtc: fix rtc slow memory layout on esp32s3
  components/esp32s3/ld/esp32s3.ld
Due: none

intr_alloc: re-enable unit test
  components/esp_system/intr_alloc.c
  components/esp_system/test/test_intr_alloc.c
  components/hal/interrupt_controller_hal.c
  tools/ci/config/target-test.yml
Due: none

websocket: Add configurable ping interval
  components/esp_websocket_client/esp_websocket_client.c
  components/esp_websocket_client/include/esp_websocket_client.h
Due: none

ci: Make the mqtt example test to send only portion of the partition
  examples/protocols/mqtt/ssl/main/Kconfig.projbuild
  examples/protocols/mqtt/ssl/main/app_main.c
  examples/protocols/mqtt/ssl/mqtt_ssl_example_test.py
Due: check-kconfigs

esp-netif: Added methods for conversion IP4/IP6 addresses from their string interpretation
  components/esp_netif/include/esp_netif.h
  components/esp_netif/lwip/esp_netif_lwip.c
  components/esp_netif/test/test_esp_netif.c
Due: none

Update chip series comparison by adding ESP32-C3 and fixing typos
  docs/en/hw-reference/chip-series-comparison.rst
Due: none

ble_mesh: stack: Enable duplicate scan for c3
  components/bt/esp_ble_mesh/Kconfig.in
Due: check-kconfigs

ble_mesh: stack: Fix hw aes no dma channel for c3
  components/bt/esp_ble_mesh/mesh_core/bluedroid_host/mesh_bearer_adapt.c
  components/bt/esp_ble_mesh/mesh_core/include/mesh_bearer_adapt.h
  components/bt/esp_ble_mesh/mesh_core/nimble_host/mesh_bearer_adapt.c
Due: none

ldgen: refactor generation internals
  tools/ldgen/entity.py
  tools/ldgen/generation.py
  tools/ldgen/ldgen.py
  tools/ldgen/linker_script.py
Due: none

ldgen: additional tests for generation support classes
  tools/ci/config/host-test.yml
  tools/ci/executable-list.txt
  tools/ldgen/output_commands.py
  tools/ldgen/test/data/base.lf
  tools/ldgen/test/data/libfreertos.a.txt
  tools/ldgen/test/data/linker_script.ld
  tools/ldgen/test/data/test_entity/libfreertos.a.txt
  tools/ldgen/test/data/test_entity/parse_test.txt
  tools/ldgen/test/test_entity.py
  tools/ldgen/test/test_output_commands.py
Due: none

adc: fixed the issue adc_gpio_init doesn't support ADC_UNIT_BOTH
  components/driver/adc_common.c
Due: none

spi: add explaination to the modes
  components/driver/include/driver/spi_master.h
  components/driver/include/driver/spi_slave.h
  components/driver/include/driver/spi_slave_hd.h
Due: none

ble_mesh: stack: Fix mbedtls aes ctx not deallocated
  components/bt/esp_ble_mesh/mesh_core/bluedroid_host/mesh_bearer_adapt.c
  components/bt/esp_ble_mesh/mesh_core/nimble_host/mesh_bearer_adapt.c
Due: none

soc: merge dac_caps.h into soc_caps.h for C3
  components/soc/esp32c3/include/soc/dac_caps.h
  components/soc/esp32c3/include/soc/soc_caps.h
Due: none

spi_flash: make the auto_suspend default y on C3
  components/spi_flash/Kconfig
Due: check-kconfigs

flash: check boya chip support
  components/bootloader_support/src/flash_qio_mode.c
Due: none

spi_flash: enable ext flash unit-test on esp32c3
  components/spi_flash/test/test_esp_flash.c
  tools/ci/config/target-test.yml
Due: none

spi_flash: fix the issue that ext flash hold is not controlled properly
  components/hal/esp32c3/include/hal/gpspi_flash_ll.h
  components/spi_flash/test/test_esp_flash.c
Due: none

add exception handling for iperf example's scan when no ap was found
  examples/wifi/iperf/main/cmd_wifi.c
Due: none

suspend_test: delay more time for erase
  components/spi_flash/test/test_esp_flash.c
Due: none

ble_mesh: example: Add sdkconfig.defaults for esp32c3
  examples/bluetooth/esp_ble_mesh/ble_mesh_fast_provision/fast_prov_client/sdkconfig.defaults.esp32c3
  examples/bluetooth/esp_ble_mesh/ble_mesh_fast_provision/fast_prov_server/partitions.csv
  examples/bluetooth/esp_ble_mesh/ble_mesh_fast_provision/fast_prov_server/sdkconfig.defaults.esp32c3
  examples/bluetooth/esp_ble_mesh/ble_mesh_node/onoff_client/sdkconfig.defaults.esp32c3
  examples/bluetooth/esp_ble_mesh/ble_mesh_node/onoff_server/sdkconfig.defaults.esp32c3
  examples/bluetooth/esp_ble_mesh/ble_mesh_provisioner/sdkconfig.defaults.esp32c3
  examples/bluetooth/esp_ble_mesh/ble_mesh_sensor_model/sensor_client/sdkconfig.defaults.esp32c3
  examples/bluetooth/esp_ble_mesh/ble_mesh_sensor_model/sensor_server/sdkconfig.defaults.esp32c3
  examples/bluetooth/esp_ble_mesh/ble_mesh_vendor_model/vendor_client/sdkconfig.defaults.esp32c3
  examples/bluetooth/esp_ble_mesh/ble_mesh_vendor_model/vendor_server/sdkconfig.defaults.esp32c3
  examples/bluetooth/esp_ble_mesh/ble_mesh_wifi_coexist/sdkconfig.defaults.esp32c3
Due: check-deprecated-kconfigs-options

Path conditions:
  check-kconfigs: any of: ^Kconfig$|Kconfig.*$
  check-deprecated-kconfigs-options: any of: sdkconfig\.ci$|sdkconfig\.rename$|sdkconfig.*$
  cmake-lint: any of: CMakeLists.txt$|\.cmake$, but not: \/third_party\/
  check-codeowners: any of: \.gitlab/CODEOWNERS
