Repository MaiNhan94/esp_idf_c3: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-kconfigs, check-deprecated-kconfigs-options, cmake-lint, check-codeowners

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.3.0
    hooks:
      - id: trailing-whitespace
        exclude: '.+\.(md|rst)'
      - id: end-of-file-fixer
      - id: check-executables-have-shebangs
      - id: file-contents-sorter
        files: 'tools/ci/executable-list.txt'
      - id: mixed-line-ending
        args: ['-f=lf']
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.4
    hooks:
      - id: flake8
        args: ['--config=.flake8', '--tee', '--benchmark']
  - repo: local
    hooks:
      - id: check-executables
        name: Check File Permissions
        entry: tools/ci/check_executables.py --action executables
        language: python
        types: [executable]
        exclude: '\.pre-commit/.+'
      - id: check-executable-list
        name: Validate executable-list.txt
        entry: tools/ci/check_executables.py --action list
        language: python
        pass_filenames: false
        always_run: true
      - id: check-kconfigs
        name: Validate Kconfig files
        entry: tools/ci/check_kconfigs.py
        language: python
        files: '^Kconfig$|Kconfig.*$'
      - id: check-deprecated-kconfigs-options
        name: Check if any Kconfig Options Deprecated
        entry: tools/ci/check_deprecated_kconfigs.py
        language: python
        files: 'sdkconfig\.ci$|sdkconfig\.rename$|sdkconfig.*$'
      - id: cmake-lint
        name: Check CMake Files Format
        entry: cmakelint --linelength=120 --spaces=4 --filter=-whitespace/indent
        language: python
        additional_dependencies:
          - cmakelint==1.4.1
        files: 'CMakeLists.txt$|\.cmake$'
        exclude: '\/third_party\/'
      - id: check-codeowners
        name: Validate Codeowner File
        entry: tools/ci/check_codeowners.py ci-check
        language: python
        files: '\.gitlab/CODEOWNERS'
        pass_filenames: false

adc: fixed efuse called in critical section issue
  components/driver/adc_common.c
  components/driver/esp32s2/adc.c
  components/driver/esp32s2/adc2_init_cal.c
  components/hal/esp32c3/adc_hal.c
  components/hal/esp32c3/include/hal/adc_hal.h
  components/hal/esp32s2/adc_hal.c
  components/hal/esp32s2/include/hal/adc_hal.h
  components/hal/esp32s3/include/hal/adc_hal.h
  components/hal/esp32s3/include/hal/adc_ll.h
Due: none

esp_http_server: Add some response error code, such as 401, 403 etc. Closes https://github.com/espressif/esp-idf/issues/5466
  components/esp_http_server/include/esp_http_server.h
  components/esp_http_server/src/httpd_txrx.c
Due: none

upload user guide for development board: ESP32-PICO-KIT-1
  docs/_static/esp32-pico-kit-1-block.png
  docs/_static/esp32-pico-kit-1-layout-front.png
  docs/_static/esp32-pico-kit-1-overview.png
  docs/_static/esp32-pico-kit-1-pinout.png
  docs/en/get-started/index.rst
  docs/en/hw-reference/esp32/get-started-pico-kit-1.rst
  docs/zh_CN/get-started/index.rst
  docs/zh_CN/hw-reference/esp32/get-started-pico-kit-1.rst
Due: none

esp_timer: Add an option to skip unhandled events for periodic timers
  components/esp_timer/include/esp_timer.h
  components/esp_timer/src/esp_timer.c
  components/esp_timer/test/test_esp_timer.c
  components/esp_timer/test/test_esp_timer_light_sleep.c
  components/esp_timer/test/test_ets_timer.c
  docs/en/api-reference/system/esp_timer.rst
  examples/cxx/experimental/experimental_cpp_component/esp_event_cxx.cpp
  examples/system/esp_timer/README.md
  examples/system/esp_timer/example_test.py
Due: none

fix spp vfs demo crash when use dynamic memory
  components/bt/host/bluedroid/btc/profile/std/spp/btc_spp.c
  examples/bluetooth/bluedroid/classic_bt/bt_spp_vfs_acceptor/main/example_spp_vfs_acceptor_demo.c
  examples/bluetooth/bluedroid/classic_bt/bt_spp_vfs_initiator/main/example_spp_vfs_initiator_demo.c
Due: none

tools: Fix requirements incompatible with Python 2
  requirements.txt
Due: none

NVS: fixed coverage-report target in Makefile
  components/nvs_flash/test_nvs_host/Makefile
Due: none

fix: RTC_FAST_MEM always power on if used for heap
  components/esp_system/sleep_modes.c
Due: none

bootloader_support: re-enable S2 unit test
  components/bootloader_support/test/test_verify_image.c
Due: none

pylint: disable more checkers
  .pylintrc
Due: none

SPI Flash: fix doc error in esp_partition.h
  components/spi_flash/include/esp_partition.h
Due: none

driver(touch): fix touch sensor false trigger in sleep mode
  components/esp_system/sleep_modes.c
  components/hal/esp32s2/include/hal/touch_sensor_ll.h
  components/hal/esp32s3/include/hal/touch_sensor_ll.h
Due: none

twai: Temporarily disable network example test
  examples/peripherals/twai/twai_network/example_test.py
Due: none

esp32c3: added target component
  components/esp32c3/CMakeLists.txt
  components/esp32c3/Kconfig
  components/esp32c3/Makefile.projbuild
  components/esp32c3/cache_err_int.c
  components/esp32c3/clk.c
  components/esp32c3/component.mk
  components/esp32c3/crosscore_int.c
  components/esp32c3/dport_access.c
  components/esp32c3/esp_crypto_lock.c
  components/esp32c3/esp_hmac.c
  components/esp32c3/hw_random.c
  components/esp32c3/include/esp32c3/brownout.h
  components/esp32c3/include/esp32c3/cache_err_int.h
  components/esp32c3/include/esp32c3/clk.h
  components/esp32c3/include/esp32c3/dport_access.h
  components/esp32c3/include/esp32c3/memprot.h
  components/esp32c3/include/esp32c3/rtc.h
  components/esp32c3/include/esp_clk.h
  components/esp32c3/include/esp_crypto_lock.h
  components/esp32c3/include/esp_hmac.h
  components/esp32c3/ld/esp32c3.ld
  components/esp32c3/ld/esp32c3.peripherals.ld
  components/esp32c3/ld/esp32c3.project.ld.in
  components/esp32c3/ld/esp32c3_fragments.lf
  components/esp32c3/linker.lf
  components/esp32c3/project_include.cmake
  components/esp32c3/system_api_esp32c3.c
Due: check-kconfigs, cmake-lint

esp32c3: added 2nd bootloader project linker file
  components/bootloader/subproject/main/ld/esp32c3/bootloader.ld
Due: none

bootloader_support: added esp32-c3 support
  components/bootloader_support/component.mk
  components/bootloader_support/src/bootloader_console.c
  components/bootloader_support/src/bootloader_efuse_esp32c3.c
  components/bootloader_support/src/bootloader_flash.c
  components/bootloader_support/src/bootloader_flash_config_esp32c3.c
  components/bootloader_support/src/bootloader_random_esp32c3.c
  components/bootloader_support/src/esp32c3/bootloader_esp32c3.c
  components/bootloader_support/src/esp32c3/bootloader_sha.c
  components/bootloader_support/src/esp32c3/flash_encrypt.c
  components/bootloader_support/src/esp32c3/secure_boot.c
  components/bootloader_support/src/esp32c3/secure_boot_signatures.c
  components/bootloader_support/src/esp_image_format.c
  components/bootloader_support/test/test_verify_image.c
Due: none

esp_rom: added esp_rom_install_uart_printf
  components/esp_rom/esp32/esp_rom_caps.h
  components/esp_rom/esp32/ld/esp32.rom.api.ld
  components/esp_rom/esp32c3/esp_rom_caps.h
  components/esp_rom/esp32c3/ld/esp32c3.rom.api.ld
  components/esp_rom/esp32s2/esp_rom_caps.h
  components/esp_rom/esp32s2/ld/esp32s2.rom.api.ld
  components/esp_rom/esp32s3/esp_rom_caps.h
  components/esp_rom/esp32s3/ld/esp32s3.rom.api.ld
  components/esp_rom/include/esp_rom_sys.h
  components/esp_system/port/cpu_start.c
Due: none

tools: Invoke menuconfig as named module
  make/project_config.mk
  tools/cmake/kconfig.cmake
  tools/kconfig_new/menuconfig.py
Due: cmake-lint

esp_timer: added C++ wrapper for esp_timer
  examples/cxx/experimental/esp_timer_cxx/CMakeLists.txt
  examples/cxx/experimental/esp_timer_cxx/Makefile
  examples/cxx/experimental/esp_timer_cxx/README.md
  examples/cxx/experimental/esp_timer_cxx/main/CMakeLists.txt
  examples/cxx/experimental/esp_timer_cxx/main/component.mk
  examples/cxx/experimental/esp_timer_cxx/main/esp_timer_example.cpp
  examples/cxx/experimental/esp_timer_cxx/sdkconfig.defaults
  examples/cxx/experimental/experimental_cpp_component/CMakeLists.txt
  examples/cxx/experimental/experimental_cpp_component/esp_timer_cxx.cpp
  examples/cxx/experimental/experimental_cpp_component/include/esp_timer_cxx.hpp
  examples/cxx/experimental/experimental_cpp_component/test/test_esp_timer.cpp
Due: check-deprecated-kconfigs-options, cmake-lint

ir_protocol: fix ir example timeout issue
  examples/peripherals/rmt/ir_protocols/main/ir_protocols_main.c
Due: none

log: correct timestamp formatting to unsigned integer type
  components/log/include/esp_log.h
Due: none

provide user guide for the development board ESP32-PICO-DevKitM-2
  docs/_static/esp32-pico-devkitm-2-block.png
  docs/_static/esp32-pico-devkitm-2-layout-front.png
  docs/_static/esp32-pico-devkitm-2-overview.png
  docs/_static/esp32-pico-devkitm-2-pinout.png
  docs/_static/esp32-pico-kit-1-block.png
  docs/en/get-started/index.rst
  docs/en/hw-reference/esp32/get-started-pico-devkitm-2.rst
  docs/zh_CN/get-started/index.rst
  docs/zh_CN/hw-reference/esp32/get-started-pico-devkitm-2.rst
Due: none

spi_flash: mocking should be possible now
  components/spi_flash/CMakeLists.txt
  components/spi_flash/include/esp_spi_flash.h
  components/spi_flash/include/esp_spi_flash_counters.h
  components/spi_flash/mock/mock_config.yaml
  components/spi_flash/sim/stubs/esp_common/esp_err.h
  components/spi_flash/sim/stubs/soc/include/hal/spi_flash_types.h
  components/unity/CMakeLists.txt
  tools/gen_esp_err_to_name.py
Due: cmake-lint

CMake: Fix issue in newer cmake versions
  tools/cmake/component.cmake
Due: cmake-lint

linux: added linux target
  components/spi_flash/sim/stubs/spi_flash/esp_partition.h
  components/spi_flash/sim/stubs/xtensa/esp_attr.h
  components/unity/CMakeLists.txt
  examples/build_system/cmake/linux_host_app/CMakeLists.txt
  examples/build_system/cmake/linux_host_app/README.md
  examples/build_system/cmake/linux_host_app/main/CMakeLists.txt
  examples/build_system/cmake/linux_host_app/main/linux_host_app.cpp
  examples/build_system/cmake/linux_host_app/sdkconfig.defaults
  tools/cmake/build.cmake
  tools/cmake/component.cmake
  tools/cmake/dfu.cmake
  tools/cmake/toolchain-linux.cmake
  tools/idf_py_actions/constants.py
Due: check-deprecated-kconfigs-options, cmake-lint

NVS flash: host-based unit test of nvs::Page
  components/nvs_flash/CMakeLists.txt
  components/nvs_flash/host_test/fixtures/test_fixtures.hpp
  components/nvs_flash/host_test/nvs_page_test/CMakeLists.txt
  components/nvs_flash/host_test/nvs_page_test/README.rst
  components/nvs_flash/host_test/nvs_page_test/main/CMakeLists.txt
  components/nvs_flash/host_test/nvs_page_test/main/nvs_page_test.cpp
  components/nvs_flash/host_test/nvs_page_test/sdkconfig.defaults
  components/nvs_flash/mock/int/crc.cpp
  components/nvs_flash/mock/int/crc.h
  components/nvs_flash/src/compressed_enum_table.hpp
  components/nvs_flash/src/nvs_api.cpp
  components/nvs_flash/src/nvs_page.cpp
  components/nvs_flash/src/nvs_page.hpp
  components/nvs_flash/src/nvs_partition.cpp
  components/nvs_flash/src/nvs_platform.hpp
  components/nvs_flash/src/nvs_storage.cpp
  components/nvs_flash/src/nvs_types.cpp
  components/nvs_flash/test_nvs_host/Makefile
  components/spi_flash/CMakeLists.txt
  components/spi_flash/include/esp_spi_flash_counters.h
Due: check-deprecated-kconfigs-options, cmake-lint

Add Linux support for find_apps and build_apps
  tools/find_build_apps/common.py
Due: none

freertos: Fix missing affinity info in vTaskList
  components/freertos/tasks.c
Due: none

nvs_flash: fix nvs initialization API documentation
  components/nvs_flash/include/nvs.h
  components/nvs_flash/include/nvs_flash.h
Due: none

ci: Ignore Python 2 deprecation warning
  tools/ci/check_build_warnings.py
Due: none

tools: Redirect some warnings to stderr
  components/app_update/otatool.py
  components/spiffs/spiffsgen.py
Due: none

esp_wifi: add esp32c3 wifi lib
  components/esp_wifi/include/esp_coexist_adapter.h
  components/esp_wifi/include/esp_private/wifi_os_adapter.h
Due: none

use "additional_duts" to overwrite dut class for different targets
  tools/ci/python_packages/ttfw_idf/__init__.py
Due: none

search case: print target as well
  tools/ci/python_packages/tiny_test_fw/Utility/SearchCases.py
Due: none

Add esp32s2 support for panic test, run as default
  tools/test_apps/system/panic/test_panic_util/test_panic_util.py
Due: none

tools/test_apps: run tests which don't need JTAG on Example_GENERIC
  tools/ci/config/target-test.yml
  tools/test_apps/system/panic/test_panic_util/test_panic_util.py
  tools/test_apps/system/startup/app_test.py
Due: none

scan test: bugfix: now can build multi target for one app
  tools/ci/python_packages/ttfw_idf/CIScanTests.py
Due: none

ci: add esp32s2 support for panic test
  tools/ci/config/target-test.yml
  tools/test_apps/system/panic/app_test.py
  tools/test_apps/system/panic/test_panic_util/test_panic_util.py
Due: none

cmake: set IDF_VERSION_* variables at requirement expansion stage
  tools/ci/test_build_system_cmake.sh
  tools/cmake/scripts/component_get_requirements.cmake
Due: cmake-lint
