Repository MaiNhan94/esp_idf_c3: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-kconfigs, check-deprecated-kconfigs-options, cmake-lint, check-codeowners

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.3.0
    hooks:
      - id: trailing-whitespace
        exclude: '.+\.(md|rst)'
      - id: end-of-file-fixer
      - id: check-executables-have-shebangs
      - id: file-contents-sorter
        files: 'tools/ci/executable-list.txt'
      - id: mixed-line-ending
        args: ['-f=lf']
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.4
    hooks:
      - id: flake8
        args: ['--config=.flake8', '--tee', '--benchmark']
  - repo: local
    hooks:
      - id: check-executables
        name: Check File Permissions
        entry: tools/ci/check_executables.py --action executables
        language: python
        types: [executable]
        exclude: '\.pre-commit/.+'
      - id: check-executable-list
        name: Validate executable-list.txt
        entry: tools/ci/check_executables.py --action list
        language: python
        pass_filenames: false
        always_run: true
      - id: check-kconfigs
        name: Validate Kconfig files
        entry: tools/ci/check_kconfigs.py
        language: python
        files: '^Kconfig$|Kconfig.*$'
      - id: check-deprecated-kconfigs-options
        name: Check if any Kconfig Options Deprecated
        entry: tools/ci/check_deprecated_kconfigs.py
        language: python
        files: 'sdkconfig\.ci$|sdkconfig\.rename$|sdkconfig.*$'
      - id: cmake-lint
        name: Check CMake Files Format
        entry: cmakelint --linelength=120 --spaces=4 --filter=-whitespace/indent
        language: python
        additional_dependencies:
          - cmakelint==1.4.1
        files: 'CMakeLists.txt$|\.cmake$'
        exclude: '\/third_party\/'
      - id: check-codeowners
        name: Validate Codeowner File
        entry: tools/ci/check_codeowners.py ci-check
        language: python
        files: '\.gitlab/CODEOWNERS'
        pass_filenames: false

test: fix some unit test results not uploaded to Jira:
  tools/unit-test-app/unit_test.py
Due: none

freertos_hooks: Fix unbalance lock in deregistration for cpu functions
  components/esp_common/src/freertos_hooks.c
Due: none

fix[cxx]: improve experimental cxx examples
  examples/cxx/experimental/esp_event_async_cxx/main/esp_event_async_cxx_example.cpp
  examples/cxx/experimental/esp_timer_cxx/main/esp_timer_example.cpp
  examples/cxx/experimental/sensor_mcp9808/main/sensor_mcp9808.cpp
Due: none

NVS: fix string comparison
  components/nvs_flash/src/nvs_api.cpp
Due: none

Docs: fix doxygen warnings
  components/hal/include/hal/adc_types.h
  components/tinyusb/additions/include/tusb_cdc_acm.h
Due: none

components/bt: Fixed the problem of early release of pointer(p_ccb) in funcion
  components/bt/host/bluedroid/stack/l2cap/l2c_utils.c
Due: none

ajust espnow channel range
  examples/wifi/espnow/main/Kconfig.projbuild
Due: check-kconfigs

esptool_py: make script generic for serial ops
  components/esptool_py/get_port_args.cmake
  components/esptool_py/project_include.cmake
  components/esptool_py/run_cmd.cmake
  components/esptool_py/run_serial_tool.cmake
Due: cmake-lint

app_update: support port and baud env variables for otatool targets
  components/app_update/CMakeLists.txt
Due: cmake-lint

otatool: let fail early on exception
  components/app_update/otatool.py
Due: none

esptool_py: simplify serial tool script
  components/app_update/CMakeLists.txt
  components/esptool_py/get_port_args.cmake
  components/esptool_py/run_cmd.cmake
  components/esptool_py/run_serial_tool.cmake
Due: cmake-lint

esptool_py: use serial script for monitor
  components/esptool_py/project_include.cmake
  components/esptool_py/run_idf_monitor.cmake
Due: cmake-lint

spi_flash: Add ESP32-C3 support
  components/hal/spi_flash_hal_common.inc
  components/hal/spi_flash_hal_iram.c
  components/spi_flash/CMakeLists.txt
  components/spi_flash/Kconfig
  components/spi_flash/cache_utils.c
  components/spi_flash/esp32c3/flash_ops_esp32c3.c
  components/spi_flash/esp32c3/spi_flash_rom_patch.c
  components/spi_flash/esp_flash_api.c
  components/spi_flash/esp_flash_spi_init.c
  components/spi_flash/flash_mmap.c
  components/spi_flash/flash_ops.c
  components/spi_flash/include/spi_flash_chip_driver.h
  components/spi_flash/include/spi_flash_chip_gd.h
  components/spi_flash/include/spi_flash_chip_generic.h
  components/spi_flash/include/spi_flash_chip_issi.h
  components/spi_flash/memspi_host_driver.c
  components/spi_flash/spi_flash_chip_gd.c
  components/spi_flash/spi_flash_chip_generic.c
  components/spi_flash/spi_flash_chip_issi.c
  components/spi_flash/spi_flash_chip_mxic.c
  components/spi_flash/spi_flash_chip_winbond.c
  components/spi_flash/spi_flash_os_func_noos.c
  components/spi_flash/test/test_esp_flash.c
  components/spi_flash/test/test_mmap.c
  components/spi_flash/test/test_read_write.c
  components/spi_flash/test/test_spi_flash.c
Due: check-kconfigs, cmake-lint

soc: Remove cache constants from soc.h
  components/soc/esp32/include/soc/mmu.h
  components/soc/esp32c3/include/soc/mmu.h
  components/soc/esp32c3/include/soc/soc.h
  components/soc/esp32s2/include/soc/mmu.h
  components/soc/esp32s3/include/soc/mmu.h
  components/spi_flash/flash_mmap.c
Due: none

spi_flash: Simplify init-time size check
  components/spi_flash/esp_flash_spi_init.c
Due: none

docs:wifi: Add wifi_guide for wpa2_enterprise.
  docs/en/api-guides/wifi.rst
  examples/wifi/wpa2_enterprise/README.md
Due: none

i2c: update documents for introduction for clock allocator
  docs/en/api-reference/peripherals/i2c.rst
Due: none

update CN translation
  docs/zh_CN/hw-reference/esp32/get-started-wrover-kit.rst
Due: none

docs: Add link to layout of ESP-WROVER-KIT board in DXF format
  docs/en/hw-reference/esp32/get-started-wrover-kit.rst
  docs/zh_CN/hw-reference/esp32/get-started-wrover-kit.rst
Due: none

heap: increase the sl to reduce the fragmentation to acceptable level.
  components/heap/heap_tlsf_config.h
Due: none

esp_system: remove remaining use of old gdbstub header
  components/esp_common/include/esp_private/gdbstub.h
  components/esp_system/CMakeLists.txt
  components/esp_system/panic.c
Due: cmake-lint

fix rtc_gpio_desc_t compilation error
  components/soc/esp32/rtc_io_periph.c
  components/soc/include/soc/rtc_io_periph.h
Due: none

mDNS: Fix of collision detection during txt length calculation
  components/mdns/mdns.c
Due: none

lwip: Added KConfig option to control checksum validation on IP/UDP/ICMP
  components/lwip/Kconfig
  components/lwip/port/esp32/include/lwipopts.h
Due: check-kconfigs

lwip: Added debug config options for DHCP and TCP
  components/lwip/Kconfig
  components/lwip/port/esp32/include/lwipopts.h
Due: check-kconfigs

Secure boot v2: Fixes the issue of passing the flash calculated digest for ota verification.
  components/bootloader_support/src/idf/secure_boot_signatures.c
Due: none

Secure Boot v2: Fix the double padding of the image length during flash encryption
  components/bootloader_support/src/esp32/flash_encrypt.c
  components/bootloader_support/src/esp32s2/flash_encrypt.c
  components/bootloader_support/src/esp32s3/flash_encrypt.c
Due: none

test_apps: add build test case for RTC GPIO descriptor configuration
  tools/test_apps/system/build_test/sdkconfig.ci.rtc_gpio_desc
Due: check-deprecated-kconfigs-options

esp_wifi: Fix some wifi bugs.
  components/wpa_supplicant/src/crypto/tls_mbedtls.c
  components/wpa_supplicant/src/eap_peer/eap.c
Due: none

ble_mesh: stack: Optimize handling received mesh adv packets
  components/bt/esp_ble_mesh/mesh_core/bluedroid_host/mesh_bearer_adapt.c
  components/bt/esp_ble_mesh/mesh_core/nimble_host/mesh_bearer_adapt.c
Due: none

ble_mesh: stack: Support reporting normal ble adv packets
  components/bt/common/btc/core/btc_task.c
  components/bt/esp_ble_mesh/Kconfig.in
  components/bt/esp_ble_mesh/api/core/esp_ble_mesh_ble_api.c
  components/bt/esp_ble_mesh/api/core/include/esp_ble_mesh_ble_api.h
  components/bt/esp_ble_mesh/btc/btc_ble_mesh_ble.c
  components/bt/esp_ble_mesh/btc/include/btc_ble_mesh_ble.h
  components/bt/esp_ble_mesh/mesh_common/include/mesh_config.h
  components/bt/esp_ble_mesh/mesh_core/scan.c
  components/bt/esp_ble_mesh/mesh_core/scan.h
Due: check-kconfigs

ble_mesh: ci: Add ble & ble mesh coex sdkconfig test files
  examples/bluetooth/esp_ble_mesh/ble_mesh_fast_provision/fast_prov_server/sdkconfig.ci.adv_scan
  examples/bluetooth/esp_ble_mesh/ble_mesh_node/onoff_server/sdkconfig.ci.adv
  examples/bluetooth/esp_ble_mesh/ble_mesh_node/onoff_server/sdkconfig.ci.scan
  examples/bluetooth/esp_ble_mesh/ble_mesh_provisioner/sdkconfig.ci.adv
  examples/bluetooth/esp_ble_mesh/ble_mesh_provisioner/sdkconfig.ci.scan
Due: check-deprecated-kconfigs-options

ble_mesh: stack: Move ble scan funcitons to a single file
  components/bt/CMakeLists.txt
  components/bt/esp_ble_mesh/mesh_core/adv.c
  components/bt/esp_ble_mesh/mesh_core/adv.h
  components/bt/esp_ble_mesh/mesh_core/lpn.c
  components/bt/esp_ble_mesh/mesh_core/main.c
  components/bt/esp_ble_mesh/mesh_core/net.c
  components/bt/esp_ble_mesh/mesh_core/provisioner_prov.c
  components/bt/esp_ble_mesh/mesh_core/scan.c
  components/bt/esp_ble_mesh/mesh_core/scan.h
  components/bt/esp_ble_mesh/mesh_core/test.c
Due: cmake-lint

ble_mesh: stack: Add a btc file for ble coex functions
  components/bt/CMakeLists.txt
  components/bt/common/btc/core/btc_task.c
  components/bt/common/btc/include/btc/btc_task.h
  components/bt/esp_ble_mesh/Kconfig.in
  components/bt/esp_ble_mesh/api/core/esp_ble_mesh_ble_api.c
  components/bt/esp_ble_mesh/api/core/include/esp_ble_mesh_ble_api.h
  components/bt/esp_ble_mesh/api/esp_ble_mesh_defs.h
  components/bt/esp_ble_mesh/btc/btc_ble_mesh_ble.c
  components/bt/esp_ble_mesh/btc/btc_ble_mesh_prov.c
  components/bt/esp_ble_mesh/btc/include/btc_ble_mesh_ble.h
  components/bt/esp_ble_mesh/btc/include/btc_ble_mesh_prov.h
Due: check-kconfigs, cmake-lint

components/bt: Shutdown Bluetooth before esp_restart.
  components/bt/controller/bt.c
  components/esp_system/system_api.c
Due: none
