Repository MaiNhan94/esp_idf_c3: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-kconfigs, check-deprecated-kconfigs-options, cmake-lint, check-codeowners

check-kconfigs:
  name: Validate Kconfig files
  entry: tools/ci/check_kconfigs.py
  language: python

check-deprecated-kconfigs-options:
  name: Check if any Kconfig Options Deprecated
  entry: tools/ci/check_deprecated_kconfigs.py
  language: python

cmake-lint:
  name: Check CMake Files Format
  entry: cmakelint --linelength=120 --spaces=4 --filter=-whitespace/indent
  language: python
  additional_dependencies:
  - cmakelint==1.4.1

check-codeowners:
  name: Validate Codeowner File
  entry: tools/ci/check_codeowners.py ci-check
  language: python
  pass_filenames: false

freertos: clarify statement on task function not returning
  components/freertos/include/freertos/task.h
Due: none

docs: fatal errors: mention another reason for LoadStoreError
  docs/en/api-guides/fatal-errors.rst
  docs/zh_CN/api-guides/fatal-errors.rst
Due: none

component/bt: support BLE Read Attribute value by UUID
  components/bt/host/bluedroid/api/esp_gattc_api.c
  components/bt/host/bluedroid/api/include/api/esp_gap_ble_api.h
  components/bt/host/bluedroid/api/include/api/esp_gattc_api.h
  components/bt/host/bluedroid/bta/gatt/bta_gattc_act.c
  components/bt/host/bluedroid/bta/gatt/bta_gattc_api.c
  components/bt/host/bluedroid/bta/gatt/bta_gattc_main.c
  components/bt/host/bluedroid/bta/gatt/include/bta_gattc_int.h
  components/bt/host/bluedroid/bta/include/bta/bta_gatt_api.h
  components/bt/host/bluedroid/btc/profile/std/gatt/btc_gattc.c
  components/bt/host/bluedroid/btc/profile/std/include/btc_gattc.h
  components/bt/host/bluedroid/stack/btm/btm_sec.c
Due: none

bootloader: avoid printing load addresses with '0x'
  components/bootloader_support/src/esp_image_format.c
Due: none

doc: Remove specific details about PSRAM32 & ESP32-D0
  docs/en/api-guides/external-ram.rst
Due: none

idf_tools: Add option to replace all GitHub tools download URLs with dl.espressif.com
  docs/en/api-guides/tools/idf-tools.rst
  docs/en/get-started/index.rst
  tools/idf_tools.py
Due: none

tools: windows installer: add support for IDF_GITHUB_ASSETS
  tools/windows/tool_setup/idf_tool_setup.iss
  tools/windows/tool_setup/main.iss.inc
Due: none

tools: Use GitHub download URLs for all files that can be downloaded from GitHub
  docs/en/get-started/index.rst
  docs/en/get-started/windows-setup.rst
  tools/tools.json
Due: none

tools: windows installer: Modify IDF's archive mirror link
  tools/windows/tool_setup/idf_setup.iss.inc
Due: none

esp_crt_bundle: Allow verify_callback to correct BADCERT_BAD_MD
  components/mbedtls/esp_crt_bundle/esp_crt_bundle.c
Due: none

docs: ESP-IDF v4.2 fully supports ESP32-S2, remove documentation that describe preview support
  docs/conf_common.py
  docs/en/esp32s2.rst
  docs/en/index.rst
  docs/zh_CN/esp32s2.rst
  docs/zh_CN/index.rst
Due: none

app_update: Add definition for esp_ota_abort
  components/app_update/esp_ota_ops.c
  components/app_update/include/esp_ota_ops.h
Due: none

Update advanced_https_ota_example and native_ota_example to use esp_ota_abort in case of error
  examples/system/ota/advanced_https_ota/main/advanced_https_ota_example.c
  examples/system/ota/native_ota_example/main/native_ota_example.c
Due: none

esp_https_ota: Add definition for esp_https_ota_abort
  components/esp_https_ota/include/esp_https_ota.h
  components/esp_https_ota/src/esp_https_ota.c
Due: none

esp_http_client example: Update example to demonstrate partial HTTP downloads
  examples/protocols/esp_http_client/main/esp_http_client_example.c
Due: none

driver/adc: support for esp32s2 adc calibration scheme V2
  components/driver/adc_common.c
  components/driver/esp32s2/rtc_tempsensor.c
  components/efuse/CMakeLists.txt
  components/efuse/include/esp32s2/esp_efuse_rtc_table.h
  components/efuse/src/esp32s2/esp_efuse_rtc_table.c
  components/efuse/src/esp_efuse_utility.c
  components/esp_adc_cal/esp_adc_cal_esp32s2.c
  components/esp_adc_cal/include/esp_adc_cal.h
  components/esp_hw_support/CMakeLists.txt
  components/esp_hw_support/port/esp32s2/private_include/regi2c_ulp.h
  components/esp_hw_support/port/esp32s2/rtc_init.c
  components/hal/esp32s2/adc_hal.c
Due: cmake-lint

efuse: Add new APIs for keys, purposes, wr/rd protection
  components/efuse/include/esp32s2/esp_efuse.h
  components/efuse/include/esp32s3/esp_efuse.h
  components/efuse/include/esp_efuse.h
  components/efuse/src/esp32s2/esp_efuse_api.c
  components/efuse/src/esp32s3/esp_efuse_api.c
  components/efuse/src/esp_efuse_api.c
  components/efuse/test/test_efuse.c
  components/efuse/test/test_efuse_keys.c
  components/esp_common/src/esp_err_to_name.c
  tools/ci/config/target-test.yml
Due: none

esp_flash: update document to reflect the restrictions of mmap/cache
  components/spi_flash/README.rst
  components/spi_flash/README_CN.rst
Due: none

esp_event: fix misuse of recursive semaphore take/give calls for profiling_mutex Closes/Merges https://github.com/espressif/esp-idf/pull/6102
  components/esp_event/esp_event.c
Due: none

esp32: Provision to redirect .bss to external ram through linker fragments
  components/bt/CMakeLists.txt
  components/bt/linker.lf
  components/esp32/CMakeLists.txt
  components/esp32/component.mk
  components/esp32/ld/esp32.extram.bss.ld
  components/esp32/ld/esp32.project.ld.in
  components/esp32/ld/esp32_fragments.lf
  components/esp_common/Kconfig.spiram.common
  components/esp_wifi/linker.lf
  components/lwip/linker.lf
  docs/en/api-guides/external-ram.rst
Due: check-kconfigs, cmake-lint

ble_mesh: stack: Provisioner supports multiple nvs namespaces
  components/bt/CMakeLists.txt
  components/bt/esp_ble_mesh/Kconfig.in
  components/bt/esp_ble_mesh/api/core/esp_ble_mesh_networking_api.c
  components/bt/esp_ble_mesh/api/core/include/esp_ble_mesh_networking_api.h
  components/bt/esp_ble_mesh/api/esp_ble_mesh_defs.h
  components/bt/esp_ble_mesh/btc/btc_ble_mesh_prov.c
  components/bt/esp_ble_mesh/btc/include/btc_ble_mesh_prov.h
  components/bt/esp_ble_mesh/mesh_core/net.c
  components/bt/esp_ble_mesh/mesh_core/net.h
  components/bt/esp_ble_mesh/mesh_core/provisioner_main.c
  components/bt/esp_ble_mesh/mesh_core/provisioner_main.h
  components/bt/esp_ble_mesh/mesh_core/provisioner_prov.c
  components/bt/esp_ble_mesh/mesh_core/provisioner_prov.h
  components/bt/esp_ble_mesh/mesh_core/settings.c
  components/bt/esp_ble_mesh/mesh_core/settings.h
  components/bt/esp_ble_mesh/mesh_core/settings_uid.c
  components/bt/esp_ble_mesh/mesh_core/settings_uid.h
  components/bt/esp_ble_mesh/mesh_core/storage/settings_nvs.c
  components/bt/esp_ble_mesh/mesh_core/storage/settings_nvs.h
Due: check-kconfigs, cmake-lint

ble_mesh: ci: Add settings sdkconfig test files
  examples/bluetooth/esp_ble_mesh/ble_mesh_provisioner/sdkconfig.ci.nvs00
  examples/bluetooth/esp_ble_mesh/ble_mesh_provisioner/sdkconfig.ci.nvs01
Due: check-deprecated-kconfigs-options

ci: disable some sdio_slave tests on single core config
  components/driver/test/test_sdio.c
Due: none

driver: add notes about GPIO36/39 issue (ECO 3.11) workaround
  components/driver/include/driver/gpio.h
Due: none

adc_i2s: solve the i2s_adc issue when using wifi
  components/driver/adc1_private.h
  components/driver/adc_common.c
  components/driver/esp32/adc.c
  components/driver/i2s.c
  components/driver/include/driver/adc_common.h
  components/driver/test/test_adc2_with_wifi.c
Due: none

adc: add adc_power_acquire/release, deprecate adc_power_on/off
  components/driver/i2s.c
Due: none

wifi: add set_xpd_sar override
  components/esp_wifi/CMakeLists.txt
  components/esp_wifi/src/wifi_init.c
Due: cmake-lint

tools: Avoid subprocess.run(capture_output) argument for Python <3.7 compatibility
  tools/ci/deploy_docs.py
  tools/idf_tools.py
Due: none

add CN translation for index.rst in get started section for MR10616
  docs/zh_CN/get-started/index.rst
Due: none

NimBLE: example running BLE prph & ICMP echo reply simultaneously.
  examples/bluetooth/nimble/README.md
  examples/bluetooth/nimble/bleprph_wifi_coex/CMakeLists.txt
  examples/bluetooth/nimble/bleprph_wifi_coex/Makefile
  examples/bluetooth/nimble/bleprph_wifi_coex/README.md
  examples/bluetooth/nimble/bleprph_wifi_coex/main/CMakeLists.txt
  examples/bluetooth/nimble/bleprph_wifi_coex/main/Kconfig.projbuild
  examples/bluetooth/nimble/bleprph_wifi_coex/main/bleprph.h
  examples/bluetooth/nimble/bleprph_wifi_coex/main/component.mk
  examples/bluetooth/nimble/bleprph_wifi_coex/main/gatt_svr.c
  examples/bluetooth/nimble/bleprph_wifi_coex/main/main.c
  examples/bluetooth/nimble/bleprph_wifi_coex/sdkconfig.defaults
Due: check-kconfigs, check-deprecated-kconfigs-options, cmake-lint

tools: add system check to verify Python versions and Windows Defender status
  tools/windows/tool_setup/Languages/idf_tool_en-US.islu
  tools/windows/tool_setup/README.md
  tools/windows/tool_setup/choice_page.iss.inc
  tools/windows/tool_setup/cmdline_page.iss.inc
  tools/windows/tool_setup/git_find_installed.iss.inc
  tools/windows/tool_setup/git_page.iss.inc
  tools/windows/tool_setup/idf_download_page.iss.inc
  tools/windows/tool_setup/idf_page.iss.inc
  tools/windows/tool_setup/idf_setup.iss.inc
  tools/windows/tool_setup/idf_tool_setup.iss
  tools/windows/tool_setup/main.iss.inc
  tools/windows/tool_setup/python_find_installed.iss.inc
  tools/windows/tool_setup/python_page.iss.inc
  tools/windows/tool_setup/summary.iss.inc
  tools/windows/tool_setup/system_check/system_check_download.py
  tools/windows/tool_setup/system_check/system_check_subprocess.py
  tools/windows/tool_setup/system_check/system_check_virtualenv.py
  tools/windows/tool_setup/system_check_page.iss.inc
  tools/windows/tool_setup/utils.iss.inc
Due: none

esp_crt_bundle: add additional unit tests
  components/mbedtls/esp_crt_bundle/esp_crt_bundle.c
  components/mbedtls/esp_crt_bundle/include/esp_crt_bundle.h
  components/mbedtls/test/CMakeLists.txt
  components/mbedtls/test/crts/bad_md_crt.pem
  components/mbedtls/test/crts/correct_sig_crt_esp32_com.pem
  components/mbedtls/test/crts/prvtkey.pem
  components/mbedtls/test/crts/server_cert_bundle
  components/mbedtls/test/crts/server_cert_chain.pem
  components/mbedtls/test/crts/server_root.pem
  components/mbedtls/test/crts/wrong_sig_crt_esp32_com.pem
  components/mbedtls/test/test_esp_crt_bundle.c
Due: cmake-lint

buildsystem: flash binary to a named partition
  components/esptool_py/project_include.cmake
  components/spiffs/project_include.cmake
Due: cmake-lint

bugfix: drop make support for tests have no esp32 support
  tools/find_build_apps/cmake.py
  tools/find_build_apps/common.py
  tools/find_build_apps/make.py
Due: none

find_apps.py: app with no supported targets will be skipped correctly
  tools/find_apps.py
Due: none

check_examples_cmake_make: now it can run not only under idf path
  tools/ci/check_examples_cmake_make.py
Due: none

ble_mesh: stack: Remove useless BT_DBG_ENABLED in a few files
  components/bt/esp_ble_mesh/mesh_core/access.c
  components/bt/esp_ble_mesh/mesh_core/adv.c
  components/bt/esp_ble_mesh/mesh_core/beacon.c
  components/bt/esp_ble_mesh/mesh_core/cfg_cli.c
  components/bt/esp_ble_mesh/mesh_core/cfg_srv.c
  components/bt/esp_ble_mesh/mesh_core/crypto.c
  components/bt/esp_ble_mesh/mesh_core/friend.c
  components/bt/esp_ble_mesh/mesh_core/health_cli.c
  components/bt/esp_ble_mesh/mesh_core/health_srv.c
  components/bt/esp_ble_mesh/mesh_core/lpn.c
  components/bt/esp_ble_mesh/mesh_core/main.c
  components/bt/esp_ble_mesh/mesh_core/net.c
  components/bt/esp_ble_mesh/mesh_core/prov.c
  components/bt/esp_ble_mesh/mesh_core/proxy_server.c
  components/bt/esp_ble_mesh/mesh_core/settings.c
  components/bt/esp_ble_mesh/mesh_core/transport.c
Due: none

ble_mesh: stack: Move bt_mesh_rand to mesh_common.c
  components/bt/esp_ble_mesh/mesh_common/include/mesh_common.h
  components/bt/esp_ble_mesh/mesh_common/mesh_common.c
  components/bt/esp_ble_mesh/mesh_core/bluedroid_host/mesh_bearer_adapt.c
  components/bt/esp_ble_mesh/mesh_core/include/mesh_bearer_adapt.h
  components/bt/esp_ble_mesh/mesh_core/nimble_host/mesh_bearer_adapt.c
  components/bt/esp_ble_mesh/mesh_core/proxy_server.c
Due: none

ble_mesh: stack: Update ARRAY_SIZE definition
  components/bt/esp_ble_mesh/mesh_common/include/mesh_util.h
Due: none

Path conditions:
  check-kconfigs: any of: ^Kconfig$|Kconfig.*$
  check-deprecated-kconfigs-options: any of: sdkconfig\.ci$|sdkconfig\.rename$|sdkconfig.*$
  cmake-lint: any of: CMakeLists.txt$|\.cmake$, but not: \/third_party\/
  check-codeowners: any of: \.gitlab/CODEOWNERS
