Repository MaiNhan94/esp_idf_c3: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-kconfigs, check-deprecated-kconfigs-options, cmake-lint, check-codeowners

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.3.0
    hooks:
      - id: trailing-whitespace
        exclude: '.+\.(md|rst)'
      - id: end-of-file-fixer
      - id: check-executables-have-shebangs
      - id: file-contents-sorter
        files: 'tools/ci/executable-list.txt'
      - id: mixed-line-ending
        args: ['-f=lf']
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.4
    hooks:
      - id: flake8
        args: ['--config=.flake8', '--tee', '--benchmark']
  - repo: local
    hooks:
      - id: check-executables
        name: Check File Permissions
        entry: tools/ci/check_executables.py --action executables
        language: python
        types: [executable]
        exclude: '\.pre-commit/.+'
      - id: check-executable-list
        name: Validate executable-list.txt
        entry: tools/ci/check_executables.py --action list
        language: python
        pass_filenames: false
        always_run: true
      - id: check-kconfigs
        name: Validate Kconfig files
        entry: tools/ci/check_kconfigs.py
        language: python
        files: '^Kconfig$|Kconfig.*$'
      - id: check-deprecated-kconfigs-options
        name: Check if any Kconfig Options Deprecated
        entry: tools/ci/check_deprecated_kconfigs.py
        language: python
        files: 'sdkconfig\.ci$|sdkconfig\.rename$|sdkconfig.*$'
      - id: cmake-lint
        name: Check CMake Files Format
        entry: cmakelint --linelength=120 --spaces=4 --filter=-whitespace/indent
        language: python
        additional_dependencies:
          - cmakelint==1.4.1
        files: 'CMakeLists.txt$|\.cmake$'
        exclude: '\/third_party\/'
      - id: check-codeowners
        name: Validate Codeowner File
        entry: tools/ci/check_codeowners.py ci-check
        language: python
        files: '\.gitlab/CODEOWNERS'
        pass_filenames: false

esp_modem: Fixed race condition on exiting PPP mode
  examples/protocols/pppos_client/components/modem/include/esp_modem.h
  examples/protocols/pppos_client/components/modem/include/esp_modem_dte.h
  examples/protocols/pppos_client/components/modem/src/bg96.c
  examples/protocols/pppos_client/components/modem/src/esp_modem.c
  examples/protocols/pppos_client/components/modem/src/esp_modem_netif.c
  examples/protocols/pppos_client/components/modem/src/sim800.c
Due: none

i2c: Acquire PM lock after acquiring mutex
  components/driver/i2c.c
Due: none

bugfix: fix some wifi bugs
  components/esp_wifi/esp32/include/phy_init_data.h
  components/esp_wifi/esp32s2/include/phy_init_data.h
  components/esp_wifi/include/esp_wifi.h
Due: none

esp_flash: add support for external flash on C3
  components/hal/CMakeLists.txt
  components/hal/esp32c3/include/hal/gpspi_flash_ll.h
  components/spi_flash/esp_flash_spi_init.c
  components/spi_flash/memspi_host_driver.c
Due: cmake-lint

mmap: fixed the issue mmap cannot be called with pointers to psram
  components/spi_flash/flash_mmap.c
Due: none

CI: bugfix: example_001a missing junit report
  tools/ci/config/target-test.yml
Due: none

unit_test: Refactor all performance tests that rely on cache compensated timer
  components/driver/test/test_sdio.c
  components/esp32/test/test_sha.c
  components/esp32s2/test/test_sha.c
  components/mbedtls/test/test_aes_perf.c
  components/mbedtls/test/test_rsa.c
  components/mbedtls/test/test_sha_perf.c
  components/soc/esp32/include/soc/soc_caps.h
  components/soc/esp32s2/include/soc/soc_caps.h
  components/soc/esp32s3/include/soc/soc_caps.h
  components/spi_flash/test/test_esp_flash.c
  components/spi_flash/test/test_spi_flash.c
  components/vfs/test/test_vfs_fd.c
  tools/unit-test-app/components/test_utils/include/test_utils.h
Due: none

ci: make flash performance test alternative
  components/spi_flash/test/test_esp_flash.c
Due: none

test_utils: Remove debug code, disable ccomp internal tests for C3
  tools/unit-test-app/components/test_utils/ccomp_timer_impl_riscv.c
  tools/unit-test-app/components/test_utils/test/ccomp_timer_test_data.c
Due: none

tools: decode esp32c3 stack dumps in idf_monitor.py
  tools/gdb_panic_server.py
  tools/idf_monitor.py
  tools/idf_py_actions/serial_ext.py
Due: none

wpa_supplicant: Remove lock during processing of btm/rrm packets
  components/wpa_supplicant/src/esp_supplicant/esp_common.c
Due: none

esp_hw_support: Add esp32c3 regi2c headers
  components/esp_hw_support/port/esp32c3/private_include/regi2c_bbpll.h
  components/esp_hw_support/port/esp32c3/private_include/regi2c_bias.h
  components/esp_hw_support/port/esp32c3/private_include/regi2c_brownout.h
  components/esp_hw_support/port/esp32c3/private_include/regi2c_dig_reg.h
  components/esp_hw_support/port/esp32c3/private_include/regi2c_lp_bias.h
  components/esp_hw_support/port/esp32c3/private_include/regi2c_saradc.h
  components/esp_hw_support/port/esp32c3/regi2c_ctrl.h
  components/hal/esp32c3/include/hal/adc_ll.h
Due: none

hal esp32c3: Add placeholder rtc_io_ll.h
  components/hal/esp32c3/include/hal/rtc_io_ll.h
Due: none

driver: Add adc_digi single conversion mode
  components/driver/esp32c3/adc.c
  components/driver/esp32c3/include/driver/adc.h
  components/driver/include/driver/adc_common.h
  components/hal/adc_hal.c
  components/hal/esp32c3/include/hal/adc_hal_conf.h
  components/hal/esp32c3/include/hal/adc_ll.h
  components/hal/include/hal/adc_hal.h
  components/hal/include/hal/adc_types.h
  components/soc/esp32c3/include/soc/soc_caps.h
Due: none

soc: Explain units for rtc_clk_cal() function, fix typo
  components/soc/esp32/include/soc/rtc.h
  components/soc/esp32c3/include/soc/rtc.h
  components/soc/esp32s2/include/soc/rtc.h
  components/soc/esp32s3/include/soc/rtc.h
Due: none

driver: Add rtc_io hold/wakeup c3 support
  components/driver/rtc_io.c
Due: none

rtc: add function to en/disable the rtc clock
  components/esp_hw_support/CMakeLists.txt
  components/esp_hw_support/clk_ctrl_os.c
  components/esp_hw_support/component.mk
  components/esp_hw_support/include/soc/clk_ctrl_os.h
  components/esp_hw_support/port/esp32/rtc_clk.c
  components/esp_hw_support/port/esp32/rtc_time.c
  components/esp_hw_support/port/esp32c3/rtc_clk.c
  components/esp_hw_support/port/esp32c3/rtc_time.c
  components/esp_hw_support/port/esp32s2/rtc_clk.c
  components/esp_hw_support/port/esp32s2/rtc_time.c
  components/esp_hw_support/port/esp32s3/rtc_clk.c
  components/esp_hw_support/port/esp32s3/rtc_time.c
  components/soc/esp32/include/soc/rtc.h
  components/soc/esp32c3/include/soc/rtc.h
  components/soc/esp32s2/include/soc/rtc.h
  components/soc/esp32s3/include/soc/rtc.h
Due: cmake-lint

driver: Add esp32c3 drivers (except ADC/DAC) and update tests
  components/driver/CMakeLists.txt
  components/driver/include/driver/spi_master.h
  components/driver/ledc.c
  components/driver/spi_bus_lock.c
  components/driver/test/include/test/test_common_spi.h
  components/driver/test/test_gpio.c
  components/driver/test/test_i2c.c
  components/driver/test/test_i2s.c
  components/driver/test/test_ledc.c
  components/driver/test/test_pwm.c
  components/driver/test/test_rmt.c
  components/driver/test/test_rs485.c
  components/driver/test/test_rtcio.c
  components/driver/test/test_sigmadelta.c
  components/driver/test/test_spi_bus_lock.c
  components/driver/test/test_spi_master.c
  components/driver/test/test_spi_param.c
  components/driver/test/test_spi_sio.c
  components/driver/test/test_spi_slave.c
  components/driver/test/test_spi_slave_hd.c
  components/driver/test/test_timer.c
  components/driver/test/touch_sensor_test/test_esp32.c
  components/driver/test/touch_sensor_test/test_esp32s2.c
  components/driver/touch_sensor_common.c
  components/hal/esp32/include/hal/spi_ll.h
  components/hal/esp32c3/include/hal/clk_gate_ll.h
  components/hal/esp32c3/include/hal/gpio_ll.h
  components/hal/esp32c3/include/hal/sha_ll.h
  components/hal/esp32c3/include/hal/timer_ll.h
  components/hal/include/hal/gpio_types.h
  components/hal/sha_hal.c
  components/hal/test/test_mpu.c
  components/soc/esp32c3/include/soc/clkout_channel.h
  components/soc/esp32c3/include/soc/gpio_caps.h
  components/soc/esp32c3/include/soc/gpio_struct.h
  components/soc/esp32s3/include/soc/gpio_caps.h
  components/soc/esp32s3/include/soc/i2s_caps.h
  tools/ci/config/target-test.yml
Due: cmake-lint

driver: Only build dedic_gpio driver on supported chips
  components/driver/CMakeLists.txt
  components/driver/component.mk
  components/driver/dedic_gpio.c
Due: cmake-lint

driver: Add esp32c3 ADC driver
  components/driver/CMakeLists.txt
  components/driver/esp32/adc.c
  components/driver/esp32c3/adc.c
  components/driver/esp32c3/include/driver/adc.h
  components/driver/include/driver/adc_common.h
  components/hal/adc_hal.c
  components/hal/esp32/adc_hal.c
  components/hal/esp32c3/adc_hal.c
  components/hal/esp32c3/include/hal/adc_hal.h
  components/hal/esp32c3/include/hal/adc_ll.h
  components/hal/esp32s2/adc_hal.c
  components/hal/esp32s3/include/hal/adc_hal.h
  components/hal/esp32s3/include/hal/adc_ll.h
  components/hal/include/hal/adc_hal.h
  components/hal/include/hal/adc_types.h
  components/soc/esp32c3/include/soc/periph_defs.h
  components/soc/esp32c3/include/soc/soc_caps.h
Due: cmake-lint

soc: Move esp32c3 soc_memory_layout.c to soc component
  components/esp_hw_support/port/esp32c3/CMakeLists.txt
  components/soc/esp32c3/CMakeLists.txt
  components/soc/esp32c3/include/soc/bb_reg.h
  components/soc/esp32c3/include/soc/dac_channel.h
  components/soc/esp32c3/include/soc/fe_reg.h
  components/soc/esp32c3/include/soc/host_struct.h
  components/soc/esp32c3/include/soc/int_caps.h
  components/soc/esp32c3/include/soc/nrx_reg.h
  components/soc/esp32c3/include/soc/rtc_gpio_channel.h
  components/soc/esp32c3/include/soc/soc_ulp.h
  components/soc/esp32c3/include/soc/usb_device_reg.h
  components/soc/esp32c3/include/soc/usb_device_struct.h
  components/soc/esp32c3/rtc_periph.c
  components/soc/esp32c3/sdio_slave_periph.c
  components/soc/esp32c3/soc_memory_layout.c
Due: cmake-lint

esp_wifi: optimize phy version log
  components/esp_wifi/include/esp_phy_init.h
  components/esp_wifi/src/phy_init.c
Due: none

components/pm: Add sleep related code iram opt chioce
  components/esp_common/linker.lf
  components/esp_hw_support/linker.lf
  components/esp_pm/CMakeLists.txt
  components/esp_pm/Kconfig
  components/esp_pm/component.mk
  components/esp_pm/linker.lf
  components/esp_system/linker.lf
  components/esp_timer/CMakeLists.txt
  components/esp_timer/component.mk
  components/esp_timer/linker.lf
  components/newlib/newlib.lf
Due: check-kconfigs, cmake-lint

ci: use "encrypted" information in flasher_args.json
  tools/ci/python_packages/ttfw_idf/IDFApp.py
  tools/ci/python_packages/ttfw_idf/IDFDUT.py
Due: none

efuse: Add support ESP32-C3
  components/efuse/efuse_table_gen.py
  components/efuse/esp32c3/component.mk
  components/efuse/esp32c3/esp_efuse_table.c
  components/efuse/esp32c3/esp_efuse_table.csv
  components/efuse/esp32c3/include/esp_efuse_table.h
  components/efuse/esp32c3/sources.cmake
  components/efuse/include/esp32c3/esp_efuse.h
  components/efuse/private_include/esp32c3/esp_efuse_utility.h
  components/efuse/src/esp32c3/esp_efuse_api.c
  components/efuse/src/esp32c3/esp_efuse_fields.c
  components/efuse/src/esp32c3/esp_efuse_utility.c
  tools/ci/config/host-test.yml
Due: cmake-lint

esp_tls_wolfssl : Add domain name check
  components/esp-tls/esp_tls_wolfssl.c
Due: none

soc: Update esp32c3 soc headers
  components/soc/esp32c3/include/soc/dac_channel.h
  components/soc/esp32c3/include/soc/host_struct.h
  components/soc/esp32c3/include/soc/i2s_caps.h
  components/soc/esp32c3/include/soc/i2s_struct.h
  components/soc/esp32c3/include/soc/io_mux_reg.h
  components/soc/esp32c3/include/soc/mmu.h
  components/soc/esp32c3/include/soc/rtc.h
  components/soc/esp32c3/include/soc/rtc_cntl_reg.h
  components/soc/esp32c3/include/soc/rtc_gpio_channel.h
  components/soc/esp32c3/include/soc/soc.h
  components/soc/esp32c3/include/soc/soc_caps.h
  components/soc/esp32c3/include/soc/syscon_reg.h
  components/soc/esp32c3/include/soc/usb_device_reg.h
  components/soc/esp32c3/include/soc/usb_device_struct.h
  components/soc/esp32c3/rtc_periph.c
  components/soc/esp32c3/sdio_slave_periph.c
  components/soc/esp32c3/soc_memory_layout.c
Due: none

esp_serial_slave_link: Add essl_spi definitions for esp32c3
  components/esp_serial_slave_link/include/essl_spi/esp32c3_defs.h
Due: none

esp_system: Rename _init_start symbol to _vector_table
  components/esp32/ld/esp32.project.ld.in
  components/esp32s2/ld/esp32s2.project.ld.in
  components/esp32s3/ld/esp32s3.project.ld.in
  components/esp_system/port/cpu_start.c
Due: none

esp_system: Add extra MMU config step for ESP32-C3
  components/esp_system/port/cpu_start.c
Due: none

esp_rom: Small changes for esp32c3 support
  components/esp_rom/CMakeLists.txt
  components/esp_rom/component.mk
  components/esp_rom/esp32c3/ld/esp32c3.rom.ld
  components/esp_rom/include/esp32/rom/aes.h
  components/esp_rom/include/esp32c3/rom/apb_dma.h
  components/esp_system/port/soc/esp32c3/apb_dma.c
Due: cmake-lint

esp_system: Add port-specific esp32c3 files
  components/esp_system/port/soc/esp32c3/CMakeLists.txt
  components/esp_system/port/soc/esp32c3/clk.c
  components/esp_system/port/soc/esp32c3/reset_reason.c
Due: cmake-lint

fatfs: Whitespace cleanup
  components/fatfs/vfs/vfs_fat.c
Due: none

soc: Move esp32c3 soc_memory_layout.c to soc component
  components/soc/esp32c3/CMakeLists.txt
Due: cmake-lint

bootloder_support: esp32c3 only supports XTS-AES-128 flash encryption
  components/bootloader_support/src/esp32c3/flash_encrypt.c
Due: none

esp32c3: Add new esp_sleep_is_valid_wakeup_gpio() function
  components/esp_system/include/esp_sleep.h
  components/esp_system/sleep_modes.c
  examples/system/console/components/cmd_system/cmd_system.c
Due: none

newlib: Update unit tests for ESP32-C3
  components/newlib/test/test_newlib.c
  components/newlib/test/test_shared_stack_printf.c
Due: none

sdmmc: Temporarily disable sd_spi test cases
  components/sdmmc/test/test_sd.c
Due: none
