Repository MaiNhan94/esp_idf_c3: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-kconfigs, check-deprecated-kconfigs-options, cmake-lint, check-codeowners

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.3.0
    hooks:
      - id: trailing-whitespace
        exclude: '.+\.(md|rst)'
      - id: end-of-file-fixer
      - id: check-executables-have-shebangs
      - id: file-contents-sorter
        files: 'tools/ci/executable-list.txt'
      - id: mixed-line-ending
        args: ['-f=lf']
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.4
    hooks:
      - id: flake8
        args: ['--config=.flake8', '--tee', '--benchmark']
  - repo: local
    hooks:
      - id: check-executables
        name: Check File Permissions
        entry: tools/ci/check_executables.py --action executables
        language: python
        types: [executable]
        exclude: '\.pre-commit/.+'
      - id: check-executable-list
        name: Validate executable-list.txt
        entry: tools/ci/check_executables.py --action list
        language: python
        pass_filenames: false
        always_run: true
      - id: check-kconfigs
        name: Validate Kconfig files
        entry: tools/ci/check_kconfigs.py
        language: python
        files: '^Kconfig$|Kconfig.*$'
      - id: check-deprecated-kconfigs-options
        name: Check if any Kconfig Options Deprecated
        entry: tools/ci/check_deprecated_kconfigs.py
        language: python
        files: 'sdkconfig\.ci$|sdkconfig\.rename$|sdkconfig.*$'
      - id: cmake-lint
        name: Check CMake Files Format
        entry: cmakelint --linelength=120 --spaces=4 --filter=-whitespace/indent
        language: python
        additional_dependencies:
          - cmakelint==1.4.1
        files: 'CMakeLists.txt$|\.cmake$'
        exclude: '\/third_party\/'
      - id: check-codeowners
        name: Validate Codeowner File
        entry: tools/ci/check_codeowners.py ci-check
        language: python
        files: '\.gitlab/CODEOWNERS'
        pass_filenames: false

uart: fixed incorrect baudrate on C3 and S3 when target is too slow
  components/hal/esp32c3/include/hal/uart_ll.h
  components/hal/esp32s3/include/hal/uart_ll.h
Due: none

driver: esp32s3 fix UART driver
  components/esp32s3/ld/esp32s3.peripherals.ld
Due: none

Fix issues during light sleep and DFS
  components/bt/controller/esp32c3/bt.c
  components/esp_system/sleep_modes.c
Due: none

bootloader: Add config options to skip validation of app for minimum boot time
  components/bootloader/Kconfig.projbuild
  components/bootloader_support/src/esp_image_format.c
Due: check-kconfigs

temp_sensor: add calibration for esp32c3
  components/driver/esp32c3/rtc_tempsensor.c
  components/driver/esp32s2/rtc_tempsensor.c
  components/efuse/include/esp32c3/esp_efuse_rtc_calib.h
  components/efuse/src/esp32c3/esp_efuse_rtc_calib.c
  docs/en/api-reference/peripherals/temp_sensor.rst
  examples/peripherals/temp_sensor/CMakeLists.txt
  examples/peripherals/temp_sensor/README.md
  examples/peripherals/temp_sensor/main/CMakeLists.txt
  examples/peripherals/temp_sensor/main/component.mk
  examples/peripherals/temp_sensor/main/temp_sensor_main.c
  examples/peripherals/temp_sensor_esp32s2/Makefile
Due: cmake-lint

spi_flash: remove useless dummy and make rom compatible on esp32s3
  components/hal/esp32s3/include/hal/spimem_flash_ll.h
  components/spi_flash/include/spi_flash_chip_driver.h
Due: none

doc: update "Fatal Errors" chapter for ESP32C3 board
  docs/en/api-guides/fatal-errors.rst
  docs/zh_CN/api-guides/fatal-errors.rst
Due: none

ota: fix ota with flash encryption
  components/spi_flash/esp32/flash_ops_esp32.c
  components/spi_flash/esp32c3/flash_ops_esp32c3.c
  components/spi_flash/esp32s2/flash_ops_esp32s2.c
  components/spi_flash/esp32s3/flash_ops_esp32s3.c
  components/spi_flash/flash_ops.c
Due: none

deep sleep: power down wifi and bt during deep sleep
  components/esp_system/sleep_modes.c
  components/soc/esp32c3/include/soc/soc_caps.h
  components/soc/esp32s2/include/soc/soc_caps.h
Due: none

light sleep: some default parameters optimization
  components/esp_pm/Kconfig
  components/esp_pm/include/esp_private/pm_impl.h
  components/esp_pm/pm_impl.c
  components/esp_wifi/Kconfig
  components/esp_wifi/include/esp_private/wifi.h
  components/esp_wifi/src/wifi_init.c
Due: check-kconfigs

esp_wifi: support sta to sleep at disconnected status
  components/esp_wifi/Kconfig
  components/esp_wifi/include/esp_now.h
  components/esp_wifi/include/esp_wifi.h
Due: check-kconfigs

fix ble connection event report remote address error
  components/bt/host/bluedroid/stack/btm/btm_ble_addr.c
Due: none

fix l2cap repeat cid
  components/bt/host/bluedroid/stack/l2cap/l2c_utils.c
Due: none

eth_phy: fix wrong register bit order in ksz8041
  components/esp_eth/src/esp_eth_phy_ksz8041.c
Due: none

[cxx]: fixed extern "C" declarations
  components/driver/esp32s2/include/driver/touch_sensor.h
  components/esp_adc_cal/include/esp_adc_cal.h
Due: none

vfs: use sys/dirent.h from newlib
  components/vfs/include/esp_vfs.h
Due: none

fix: clear interrupt in touch sensor initialization
  components/esp_system/sleep_modes.c
  components/hal/esp32/touch_sensor_hal.c
  components/hal/esp32s2/touch_sensor_hal.c
  components/hal/esp32s3/touch_sensor_hal.c
Due: none

secure boot: Add boot check for SBV2 "check app signature on update"
  components/bootloader_support/include/esp_secure_boot.h
  components/bootloader_support/src/secure_boot.c
  components/bootloader_support/src/secure_boot_v2/secure_boot_signatures_app.c
  components/esp_system/startup.c
Due: none

docs: Add docs for Secure Boot V2 "verify on update without secure boot"
  docs/en/security/secure-boot-v2.rst
Due: none

secure_boot: Secure Boot V2 verify app signature on update (without Secure boot)
  components/app_update/esp_ota_ops.c
  components/bootloader/Kconfig.projbuild
  components/bootloader/subproject/main/ld/esp32/bootloader.ld
  components/bootloader/subproject/main/ld/esp32c3/bootloader.ld
  components/bootloader/subproject/main/ld/esp32s2/bootloader.ld
  components/bootloader/subproject/main/ld/esp32s3/bootloader.ld
  components/bootloader_support/CMakeLists.txt
  components/bootloader_support/component.mk
  components/bootloader_support/include/esp_image_format.h
  components/bootloader_support/include/esp_secure_boot.h
  components/bootloader_support/src/esp32/secure_boot.c
  components/bootloader_support/src/esp32/secure_boot_signatures.c
  components/bootloader_support/src/esp32c3/secure_boot.c
  components/bootloader_support/src/esp32c3/secure_boot_signatures.c
  components/bootloader_support/src/esp32s2/secure_boot.c
  components/bootloader_support/src/esp32s2/secure_boot_signatures.c
  components/bootloader_support/src/esp32s3/secure_boot.c
  components/bootloader_support/src/esp32s3/secure_boot_signatures.c
  components/bootloader_support/src/esp_image_format.c
  components/bootloader_support/src/idf/secure_boot_signatures.c
  components/bootloader_support/src/secure_boot_v1/secure_boot_signatures_app.c
  components/bootloader_support/src/secure_boot_v1/secure_boot_signatures_bootloader.c
  components/bootloader_support/src/secure_boot_v2/secure_boot_signatures_app.c
  components/bootloader_support/src/secure_boot_v2/secure_boot_signatures_bootloader.c
  components/esp_rom/esp32/ld/esp32.rom.eco3.ld
  components/esp_rom/include/esp32/rom/rsa_pss.h
  components/esp_rom/include/esp32/rom/secure_boot.h
  components/esp_rom/include/esp32c3/rom/secure_boot.h
  components/esp_rom/include/esp32s2/rom/secure_boot.h
  components/esp_rom/include/esp32s3/rom/secure_boot.h
Due: check-kconfigs, cmake-lint

secure boot v2: Fix issue checking multiple signature blocks on OTA update
  components/bootloader_support/src/secure_boot_v2/secure_boot_signatures_app.c
  components/esp_rom/include/esp32/rom/secure_boot.h
Due: none

secure_boot: Adds empty esp_secure_boot_init_checks
  components/bootloader_support/CMakeLists.txt
  components/bootloader_support/include/esp_secure_boot.h
  components/bootloader_support/src/secure_boot.c
  components/esp_system/startup.c
Due: cmake-lint

CI: ignore result from check_doc_links
  tools/ci/config/post_deploy.yml
Due: none

components/bt: Fix crash in btc_hf_arg_deep_copy when name or number is NULL
  components/bt/host/bluedroid/btc/profile/std/hf_ag/btc_hf_ag.c
Due: none

mesh: support for chain topology
  components/esp_wifi/include/esp_mesh_internal.h
Due: none

efuse: revert ESP_LOG to ESP_EARLY_LOG in src/esp_efuse_utility.c
  components/efuse/src/esp_efuse_utility.c
Due: none

provisioning: Update README.md to explain QR code format
  examples/provisioning/README.md
Due: none

provisioning: update README.md
  examples/provisioning/README.md
Due: none

spi_flash: make spiflash compatible with ESP32C3 and ESP32S3 ROM
  components/hal/include/hal/spi_flash_types.h
  components/hal/spi_flash_hal_iram.c
  components/spi_flash/include/memspi_host_driver.h
  components/spi_flash/memspi_host_driver.c
Due: none

esp32c3: correct name for RTC memory region in heap
  components/soc/esp32c3/soc_memory_layout.c
Due: none

mesh/ps: network duty signaling
  components/esp_wifi/include/esp_mesh.h
  examples/mesh/internal_communication/main/Kconfig.projbuild
  examples/mesh/internal_communication/main/mesh_main.c
Due: check-kconfigs

freemodbuss: fix event processing after merge
  components/freemodbus/modbus/mb_m.c
Due: none

[doc]: elaborated nvs encryption comments in nvs
  components/nvs_flash/src/nvs_api.cpp
Due: none

Fix nvs_flash_generate_keys
  components/nvs_flash/src/nvs_api.cpp
Due: none

component/bt: Modify some ambiguous descriptions(release v4.3)
  components/bt/controller/esp32c3/Kconfig.in
  components/bt/host/bluedroid/api/include/api/esp_gattc_api.h
  components/bt/include/esp32/include/esp_bt.h
Due: check-kconfigs
