Repository MaiNhan94/esp_idf_c3: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-kconfigs, check-deprecated-kconfigs-options, cmake-lint, check-codeowners

check-kconfigs:
  name: Validate Kconfig files
  entry: tools/ci/check_kconfigs.py
  language: python

check-deprecated-kconfigs-options:
  name: Check if any Kconfig Options Deprecated
  entry: tools/ci/check_deprecated_kconfigs.py
  language: python

cmake-lint:
  name: Check CMake Files Format
  entry: cmakelint --linelength=120 --spaces=4 --filter=-whitespace/indent
  language: python
  additional_dependencies:
  - cmakelint==1.4.1

check-codeowners:
  name: Validate Codeowner File
  entry: tools/ci/check_codeowners.py ci-check
  language: python
  pass_filenames: false

esp32s3: BROWNOUT reset reason is set directly without using the brownout ISR
  components/hal/esp32s3/brownout_hal.c
Due: none

esp32c3: Adds support BROWNOUT reset
  components/esp32c3/Kconfig
  components/esp_common/src/brownout.c
  components/esp_system/startup.c
  components/esp_system/test/test_reset_reason.c
  components/hal/esp32c3/brownout_hal.c
Due: check-kconfigs

esp32s2: BROWNOUT reset reason is set directly without using the brownout ISR
  components/hal/esp32s2/brownout_hal.c
Due: none

touch_element: add new touch library component
  components/touch_element/CMakeLists.txt
  components/touch_element/include/touch_element/touch_button.h
  components/touch_element/include/touch_element/touch_element.h
  components/touch_element/include/touch_element/touch_element_private.h
  components/touch_element/include/touch_element/touch_matrix.h
  components/touch_element/include/touch_element/touch_slider.h
  components/touch_element/touch_button.c
  components/touch_element/touch_element.c
  components/touch_element/touch_matrix.c
  components/touch_element/touch_slider.c
Due: cmake-lint

win_installer: add PowerShell shortcut
  export.ps1
  tools/windows/tool_setup/idf_cmd_init.ps1
  tools/windows/tool_setup/idf_setup.iss.inc
  tools/windows/tool_setup/idf_tool_setup.iss
  tools/windows/tool_setup/main.iss.inc
Due: none

http2_request: Enable insecure TLS by default
  examples/protocols/http2_request/sdkconfig.defaults
Due: check-deprecated-kconfigs-options

tools: ninja: update to 1.10.2
  tools/tools.json
Due: none

httpd: Fixed wrong header in ws_send_async() for lengthy packets
  components/esp_http_server/src/httpd_ws.c
Due: none

mDNS: Fix of text length calculation when detecting a collision
  components/mdns/mdns.c
Due: none

MbedTLS: Add software fallback implementation for exp mod
  components/mbedtls/CMakeLists.txt
  components/mbedtls/Kconfig
  components/mbedtls/component.mk
  components/mbedtls/port/esp_bignum.c
  components/mbedtls/port/include/mbedtls/esp_config.h
Due: check-kconfigs, cmake-lint

fix: tools detection of wheels dir
  tools/idf_tools.py
Due: none

coredump: Switches to RTOS snapshots walking API
  components/espcoredump/include_core_dump/core_dump_elf.h
  components/espcoredump/include_core_dump/esp_core_dump_port.h
  components/espcoredump/include_core_dump/esp_core_dump_priv.h
  components/espcoredump/src/core_dump_common.c
  components/espcoredump/src/core_dump_elf.c
  components/espcoredump/src/core_dump_port.c
Due: none

coredump: Adds compile time check for target support
  components/espcoredump/src/core_dump_port.c
Due: none

ble_mesh: stack: Add prefix BLE_MESH_ for log related macros
  components/bt/esp_ble_mesh/mesh_common/include/mesh_trace.h
Due: none

ble_mesh: stack: Fix compile warning when log is disabled
  components/bt/esp_ble_mesh/mesh_core/nimble_host/mesh_bearer_adapt.c
Due: none

ble_mesh: ci: Add disable log sdkconfig test files
  examples/bluetooth/esp_ble_mesh/ble_mesh_node/onoff_server/sdkconfig.ci.bluedroid_log
  examples/bluetooth/esp_ble_mesh/ble_mesh_node/onoff_server/sdkconfig.ci.nimble_log
Due: check-deprecated-kconfigs-options

AES/SHA: use GDMA driver instead of LL
  components/driver/include/esp_private/gdma.h
  components/hal/aes_hal.c
  components/hal/include/hal/aes_hal.h
  components/hal/include/hal/sha_hal.h
  components/hal/sha_hal.c
  components/idf_test/include/esp32c3/idf_performance_target.h
  components/idf_test/include/esp32s3/idf_performance_target.h
  components/mbedtls/CMakeLists.txt
  components/mbedtls/port/aes/dma/esp_aes.c
  components/mbedtls/port/aes/dma/esp_aes_crypto_dma_impl.c
  components/mbedtls/port/aes/dma/esp_aes_gdma_impl.c
  components/mbedtls/port/aes/dma/include/esp_aes_dma_priv.h
  components/mbedtls/port/aes/esp_aes_common.c
  components/mbedtls/port/sha/dma/esp_sha1.c
  components/mbedtls/port/sha/dma/esp_sha256.c
  components/mbedtls/port/sha/dma/esp_sha512.c
  components/mbedtls/port/sha/dma/esp_sha_crypto_dma_impl.c
  components/mbedtls/port/sha/dma/esp_sha_gdma_impl.c
  components/mbedtls/port/sha/dma/include/esp_sha_dma_priv.h
  components/mbedtls/port/sha/dma/sha.c
  components/mbedtls/test/test_aes.c
  components/mbedtls/test/test_aes_perf.c
  components/mbedtls/test/test_mbedtls_sha.c
  components/soc/esp32c3/include/soc/soc_caps.h
  components/soc/esp32s3/include/soc/soc_caps.h
Due: cmake-lint

ci: enabled ldgen mapping check in ci
  components/esp_hw_support/linker.lf
  components/spi_flash/linker.lf
  tools/ci/check_ldgen_mapping_exceptions.txt
  tools/ci/config/build.yml
  tools/cmake/ldgen.cmake
  tools/ldgen/generation.py
Due: cmake-lint

components: fix ldgen check errors
  components/app_trace/linker.lf
  components/esp_hw_support/linker.lf
  components/esp_hw_support/port/esp32s3/CMakeLists.txt
  components/esp_hw_support/port/esp32s3/rtc_wdt.c
  components/esp_pm/linker.lf
  components/esp_system/linker.lf
  components/freertos/linker.lf
  components/hal/linker.lf
  components/heap/linker.lf
  components/lwip/linker.lf
  components/soc/esp32/CMakeLists.txt
  components/soc/esp32/rtc_periph.c
  components/soc/esp32s2/CMakeLists.txt
  components/soc/esp32s3/CMakeLists.txt
  components/soc/esp32s3/rtc_periph.c
  components/spi_flash/linker.lf
  components/xtensa/linker.lf
  tools/ci/check_ldgen_mapping_exceptions.txt
  tools/ci/config/build.yml
Due: cmake-lint

esp_wifi: Modify ESP_IF_WIFI_STA to WIFI_IF_STA
  components/driver/test/test_adc2_with_wifi.c
  components/esp_wifi/test/test_wifi.c
  components/wifi_provisioning/src/manager.c
  components/wpa_supplicant/src/esp_supplicant/esp_common.c
  components/wpa_supplicant/src/esp_supplicant/esp_scan.c
  components/wpa_supplicant/src/rsn_supp/wpa.c
  examples/bluetooth/esp_ble_mesh/ble_mesh_coex_test/components/case/wifi_connect.c
  examples/bluetooth/esp_ble_mesh/ble_mesh_wifi_coexist/components/iperf/cmd_wifi.c
  examples/bluetooth/nimble/bleprph_wifi_coex/main/main.c
  examples/common_components/protocol_examples_common/connect.c
  examples/mesh/ip_internal_network/main/mesh_netif.c
  examples/protocols/esp_local_ctrl/main/app_main.c
  examples/provisioning/legacy/ble_prov/main/app_prov.c
  examples/provisioning/legacy/console_prov/main/app_prov.c
  examples/provisioning/legacy/custom_config/main/app_prov.c
  examples/provisioning/legacy/softap_prov/main/app_prov.c
  examples/system/console/main/cmd_wifi.c
  examples/wifi/fast_scan/main/fast_scan.c
  examples/wifi/getting_started/station/main/station_example_main.c
  examples/wifi/iperf/main/cmd_wifi.c
  examples/wifi/power_save/main/power_save.c
  examples/wifi/roaming/main/roaming_example.c
  examples/wifi/smart_config/main/smartconfig_main.c
  examples/wifi/wpa2_enterprise/main/wpa2_enterprise_main.c
  examples/wifi/wps/main/wps.c
Due: none

esp_wifi: Modify ESP_IF_WIFI_AP to WIFI_IF_AP
  components/esp_wifi/test/test_wifi.c
  components/wifi_provisioning/src/scheme_softap.c
  examples/bluetooth/esp_ble_mesh/ble_mesh_wifi_coexist/components/iperf/cmd_wifi.c
  examples/ethernet/eth2ap/main/ethernet_example_main.c
  examples/mesh/ip_internal_network/main/mesh_netif.c
  examples/provisioning/legacy/custom_config/main/app_prov.c
  examples/provisioning/legacy/softap_prov/main/app_prov.c
  examples/wifi/getting_started/softAP/main/softap_example_main.c
  examples/wifi/iperf/main/cmd_wifi.c
Due: none

spi_flash: enable spi_flash write unit-test on esp32c3
  components/spi_flash/test/test_read_write.c
Due: none

esp32c3: fix rf 40M loss package bug
  components/soc/esp32c3/include/soc/rtc.h
Due: none

docs: Update full-scale voltages for ESP32-S2 chip
  components/driver/include/driver/adc_common.h
Due: none

light sleep: overhead time accuracy optimization for esp32c3
  components/esp_pm/pm_impl.c
  components/esp_system/sleep_modes.c
  components/hal/esp32c3/include/hal/rtc_cntl_ll.h
  components/soc/esp32c3/include/soc/rtc.h
Due: none

light sleep: dfs support for esp32c3
  components/esp_pm/CMakeLists.txt
  components/esp_pm/include/esp32c3/pm.h
  components/esp_pm/include/esp_pm.h
  components/esp_pm/pm_impl.c
  components/esp_pm/pm_trace.c
  components/freertos/port/riscv/port.c
  components/hal/esp32/include/hal/cpu_ll.h
  components/hal/esp32c3/include/hal/cpu_ll.h
  components/hal/esp32s2/include/hal/cpu_ll.h
  components/hal/esp32s3/include/hal/cpu_ll.h
  components/hal/include/hal/cpu_hal.h
  components/riscv/vectors.S
  examples/wifi/power_save/main/Kconfig.projbuild
  examples/wifi/power_save/main/power_save.c
Due: check-kconfigs, cmake-lint

light sleep: light sleep support for esp32c3
  components/esp_system/CMakeLists.txt
  components/esp_system/sleep_modes.c
  components/soc/esp32/include/soc/soc_caps.h
  components/soc/esp32c3/include/soc/rtc.h
  components/soc/esp32c3/include/soc/soc_caps.h
  components/soc/esp32s2/include/soc/soc_caps.h
  components/soc/esp32s3/include/soc/rtc.h
  components/soc/esp32s3/include/soc/soc_caps.h
Due: cmake-lint

light sleep: add gpio configure workaround at slept status for esp32c3
  components/driver/include/driver/gpio.h
  components/hal/esp32c3/include/hal/gpio_ll.h
  components/soc/esp32c3/include/soc/gpio_caps.h
Due: none

fix set `UART_FORCE_XOFF` can't stop new Tx request issue
  components/esp_system/sleep_modes.c
  components/hal/esp32/include/hal/uart_ll.h
  components/hal/esp32c3/include/hal/uart_ll.h
  components/hal/esp32s2/include/hal/uart_ll.h
  components/hal/esp32s3/include/hal/uart_ll.h
  components/soc/esp32c3/include/soc/uart_caps.h
Due: none

fix no RTOS SysTick interrupt for a period of time after the OS Scheduler is started
  components/freertos/port/riscv/port.c
Due: none

light sleep: add cpu power down support for esp32c3
  components/esp_pm/linker.lf
  components/esp_pm/pm_impl.c
  components/esp_system/Kconfig
  components/esp_system/include/esp_private/sleep_modes.h
  components/esp_system/include/esp_sleep.h
  components/esp_system/sleep_modes.c
  components/hal/CMakeLists.txt
  components/hal/esp32c3/include/hal/rtc_cntl_ll.h
  components/hal/esp32c3/rtc_cntl_hal.c
  components/hal/include/hal/rtc_hal.h
  components/soc/esp32c3/include/soc/rtc_caps.h
  components/soc/esp32c3/include/soc/soc_caps.h
Due: check-kconfigs, cmake-lint

ci: don't allow failure for submodule sync
  tools/ci/config/post_check.yml
Due: none

NimBLE: BLE 5.0 related configuration changes
  components/bt/Kconfig
  components/bt/host/nimble/Kconfig.in
  components/bt/host/nimble/port/include/esp_nimble_cfg.h
Due: check-kconfigs

NimBLE: Fix host flow control in NimBLE porting layer.
  components/bt/host/nimble/esp-hci/src/esp_nimble_hci.c
  examples/bluetooth/nimble/bleprph/main/main.c
Due: none

tools: fix: ubounded variable in win installer build script
  tools/windows/tool_setup/build_installer.sh
Due: none

Path conditions:
  check-kconfigs: any of: ^Kconfig$|Kconfig.*$
  check-deprecated-kconfigs-options: any of: sdkconfig\.ci$|sdkconfig\.rename$|sdkconfig.*$
  cmake-lint: any of: CMakeLists.txt$|\.cmake$, but not: \/third_party\/
  check-codeowners: any of: \.gitlab/CODEOWNERS
