Repository MaiNhan94/esp_idf_c3: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-kconfigs, check-deprecated-kconfigs-options, cmake-lint, check-codeowners

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.3.0
    hooks:
      - id: trailing-whitespace
        exclude: '.+\.(md|rst)'
      - id: end-of-file-fixer
      - id: check-executables-have-shebangs
      - id: file-contents-sorter
        files: 'tools/ci/executable-list.txt'
      - id: mixed-line-ending
        args: ['-f=lf']
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.4
    hooks:
      - id: flake8
        args: ['--config=.flake8', '--tee', '--benchmark']
  - repo: local
    hooks:
      - id: check-executables
        name: Check File Permissions
        entry: tools/ci/check_executables.py --action executables
        language: python
        types: [executable]
        exclude: '\.pre-commit/.+'
      - id: check-executable-list
        name: Validate executable-list.txt
        entry: tools/ci/check_executables.py --action list
        language: python
        pass_filenames: false
        always_run: true
      - id: check-kconfigs
        name: Validate Kconfig files
        entry: tools/ci/check_kconfigs.py
        language: python
        files: '^Kconfig$|Kconfig.*$'
      - id: check-deprecated-kconfigs-options
        name: Check if any Kconfig Options Deprecated
        entry: tools/ci/check_deprecated_kconfigs.py
        language: python
        files: 'sdkconfig\.ci$|sdkconfig\.rename$|sdkconfig.*$'
      - id: cmake-lint
        name: Check CMake Files Format
        entry: cmakelint --linelength=120 --spaces=4 --filter=-whitespace/indent
        language: python
        additional_dependencies:
          - cmakelint==1.4.1
        files: 'CMakeLists.txt$|\.cmake$'
        exclude: '\/third_party\/'
      - id: check-codeowners
        name: Validate Codeowner File
        entry: tools/ci/check_codeowners.py ci-check
        language: python
        files: '\.gitlab/CODEOWNERS'
        pass_filenames: false

components/bt: shorten some log messages for bluedroid
  components/bt/host/bluedroid/bta/gatt/bta_gattc_act.c
  components/bt/host/bluedroid/stack/btm/btm_ble_5_gap.c
  components/bt/host/bluedroid/stack/btu/btu_hcif.c
  components/bt/host/bluedroid/stack/l2cap/l2c_ble.c
Due: none

fixed incorrect Tx power mappings for ESP32C3 chip
  components/bt/controller/esp32c3/Kconfig.in
  components/bt/controller/esp32c3/bt.c
  components/bt/include/esp32c3/include/esp_bt.h
Due: check-kconfigs

fix multi-connection pair failed
  components/bt/host/bluedroid/stack/l2cap/l2c_api.c
Due: none

add option to enable/disable esp32 controller RPA
  components/bt/host/bluedroid/Kconfig.in
Due: check-kconfigs

* fixed generation of .gdbinit file (esp32c3 dbg issue)
  tools/idf_py_actions/debug_ext.py
Due: none

mbedtls tests: Add optional debug log output to AES stream tests
  components/mbedtls/test/test_aes.c
Due: none

mbedtls aes dma: Fix bug where DMA would complete when the first output descriptor was done, not the last
  components/mbedtls/port/aes/dma/esp_aes.c
Due: none

esp32s2 ds: Fix invalidating Digital Signature key from HMAC peripheral if assertions are disabled
  components/esp32s2/esp_ds.c
Due: none

bootloader/ ESP32_ECO3: Do not disable UART download mode by default
  components/bootloader/Kconfig.projbuild
  docs/en/security/flash-encryption.rst
  docs/en/security/secure-boot-v2.rst
Due: check-kconfigs

secure_boot/SIGNED_ON_UPDATE_NO_SECURE_BOOT: Only the first position of signature blocks is used to verify any update
  components/bootloader_support/src/secure_boot.c
  components/bootloader_support/src/secure_boot_v2/secure_boot_signatures_app.c
  docs/en/security/secure-boot-v2.rst
Due: none

component/coex: Decouple Wi-Fi and bluetooth with coexist to reduce binary file size
  components/bt/controller/esp32/bt.c
Due: none

components/bt: Fix assert without sw coexist enabled
  components/bt/controller/esp32/bt.c
Due: none

adc: remove unused functions on esp32c3
  components/driver/esp32c3/adc.c
  components/driver/esp32c3/include/driver/adc.h
  components/hal/esp32c3/adc_hal.c
  components/hal/esp32c3/include/hal/adc_hal.h
  components/hal/esp32c3/include/hal/adc_ll.h
Due: none

adc: seperate hal layer and driver layer
  components/driver/esp32c3/adc.c
  components/hal/adc_hal.c
  components/hal/include/hal/adc_hal.h
Due: none

adc: add implementation of missed public API
  components/driver/adc_common.c
  components/driver/esp32c3/adc.c
  components/driver/include/driver/adc_common.h
  components/hal/adc_hal.c
  components/hal/esp32c3/include/hal/adc_ll.h
  components/hal/include/hal/adc_hal.h
Due: none

adc: add pm_lock to adc driver on esp32c3
  components/driver/esp32c3/adc.c
  components/driver/include/driver/adc_common.h
  components/hal/adc_hal.c
Due: none

adc: update lock scope on esp32c3
  components/driver/esp32c3/adc.c
Due: none

adc: update adc programming guide to avoid build fail
  docs/en/api-reference/peripherals/adc.rst
Due: none

adc: update adc header files on c3
  components/driver/include/driver/adc_common.h
  components/soc/esp32c3/adc_periph.c
  components/soc/esp32c3/include/soc/adc_channel.h
  components/soc/esp32c3/include/soc/soc_caps.h
Due: none

adc: refactor adc single read api on esp32c3
  components/driver/adc_common.c
  components/driver/esp32c3/adc.c
  components/hal/adc_hal.c
  components/hal/esp32c3/adc_hal.c
  components/hal/esp32c3/include/hal/adc_ll.h
  components/hal/include/hal/adc_hal.h
  components/hal/include/hal/adc_types.h
Due: none

adc: rename adc examples according to hw feature and usage
  examples/peripherals/adc/esp32c3_dma_and_single_read/adc_dma/CMakeLists.txt
  examples/peripherals/adc/esp32c3_dma_and_single_read/adc_dma/README.md
  examples/peripherals/adc/esp32c3_dma_and_single_read/adc_dma/main/CMakeLists.txt
  examples/peripherals/adc/esp32c3_dma_and_single_read/adc_dma/main/adc_dma_example_main.c
  examples/peripherals/adc/single_read/adc/CMakeLists.txt
  examples/peripherals/adc/single_read/adc/Makefile
  examples/peripherals/adc/single_read/adc/README.md
  examples/peripherals/adc/single_read/adc/main/CMakeLists.txt
  examples/peripherals/adc/single_read/adc/main/adc1_example_main.c
  examples/peripherals/adc/single_read/adc/main/component.mk
  examples/peripherals/adc/single_read/adc2/CMakeLists.txt
  examples/peripherals/adc/single_read/adc2/Makefile
  examples/peripherals/adc/single_read/adc2/README.md
  examples/peripherals/adc/single_read/adc2/main/CMakeLists.txt
  examples/peripherals/adc/single_read/adc2/main/Kconfig.projbuild
  examples/peripherals/adc/single_read/adc2/main/adc2_example_main.c
  examples/peripherals/adc/single_read/adc2/main/component.mk
Due: check-kconfigs, cmake-lint

adc: rename adc related examples
  examples/peripherals/adc/esp32_esp32s2/adc/CMakeLists.txt
  examples/peripherals/adc/esp32_esp32s2/adc/Makefile
  examples/peripherals/adc/esp32_esp32s2/adc/README.md
  examples/peripherals/adc/esp32_esp32s2/adc/main/CMakeLists.txt
  examples/peripherals/adc/esp32_esp32s2/adc/main/adc1_example_main.c
  examples/peripherals/adc/esp32_esp32s2/adc/main/component.mk
  examples/peripherals/adc/esp32_esp32s2/adc2/CMakeLists.txt
  examples/peripherals/adc/esp32_esp32s2/adc2/Makefile
  examples/peripherals/adc/esp32_esp32s2/adc2/README.md
  examples/peripherals/adc/esp32_esp32s2/adc2/main/CMakeLists.txt
  examples/peripherals/adc/esp32_esp32s2/adc2/main/Kconfig.projbuild
  examples/peripherals/adc/esp32_esp32s2/adc2/main/adc2_example_main.c
  examples/peripherals/adc/esp32_esp32s2/adc2/main/component.mk
  examples/peripherals/adc/esp32c3/adc_dma/CMakeLists.txt
  examples/peripherals/adc/esp32c3/adc_dma/README.md
  examples/peripherals/adc/esp32c3/adc_dma/main/CMakeLists.txt
  examples/peripherals/adc/esp32c3/adc_dma/main/adc_dma_example_main.c
Due: check-kconfigs, cmake-lint

ble_mesh: aligenie_demo: Add sdkconfig.defaults for esp32c3 (backport V4.3)
  examples/bluetooth/esp_ble_mesh/aligenie_demo/components/vendor_model/genie_event.c
  examples/bluetooth/esp_ble_mesh/aligenie_demo/components/vendor_model/include/genie_mesh.h
  examples/bluetooth/esp_ble_mesh/aligenie_demo/sdkconfig.defaults.esp32c3
  examples/bluetooth/esp_ble_mesh/common_components/light_driver/iot_led.c
  examples/bluetooth/esp_ble_mesh/common_components/light_driver/light_driver.c
Due: check-deprecated-kconfigs-options

adc: apply adc power API to adc driver
  components/driver/adc_common.c
  components/driver/esp32/adc.c
  components/driver/esp32c3/adc.c
  components/driver/esp32s2/adc.c
  components/hal/adc_hal.c
  components/hal/esp32/adc_hal.c
  components/hal/esp32c3/adc_hal.c
  components/hal/esp32s2/adc_hal.c
  components/hal/include/hal/adc_hal.h
Due: none

esp32c3: Add support for building image with a minimum target revision
  components/esp32c3/Kconfig
  components/esptool_py/project_include.cmake
Due: check-kconfigs, cmake-lint

spi_flash: make suspend off by default and add more information for using suspend
  components/spi_flash/Kconfig
  components/spi_flash/esp_flash_api.c
  components/spi_flash/spi_flash_chip_boya.c
  components/spi_flash/spi_flash_chip_gd.c
  components/spi_flash/spi_flash_chip_generic.c
  components/spi_flash/spi_flash_chip_issi.c
  components/spi_flash/spi_flash_chip_mxic.c
  docs/en/api-reference/storage/auto_suspend.inc
  docs/zh_CN/api-reference/storage/auto_suspend.inc
Due: check-kconfigs

light sleep: add software workaround for esp32c3 gpio reset issue
  components/driver/gpio.c
  components/esp32c3/Kconfig
  components/esp_pm/pm_impl.c
  components/esp_system/include/esp_sleep.h
  components/esp_system/sleep_modes.c
  components/esp_system/startup.c
Due: check-kconfigs

tools: Reinstall virtualenv if it is broken
  tools/idf_tools.py
Due: none

docs: updated system api-reference chapters for C3
  components/esp_timer/Kconfig
  components/soc/esp32c3/include/soc/soc_caps.h
  components/soc/esp32s2/include/soc/soc_caps.h
  components/soc/esp32s3/include/soc/soc_caps.h
  docs/conf_common.py
  docs/en/api-reference/system/app_image_format.rst
  docs/en/api-reference/system/console.rst
  docs/en/api-reference/system/esp_https_ota.rst
  docs/en/api-reference/system/esp_pthread.rst
  docs/en/api-reference/system/esp_timer.rst
  docs/en/api-reference/system/heap_debug.rst
  docs/en/api-reference/system/index.rst
  docs/en/api-reference/system/intr_alloc.rst
  docs/en/api-reference/system/ipc.rst
  docs/en/api-reference/system/mem_alloc.rst
  docs/en/api-reference/system/ota.rst
  docs/en/api-reference/system/system.rst
  docs/zh_CN/api-reference/system/ota.rst
Due: check-kconfigs

Support new section addr and wifi lib for ESP32C3-ECO3.
  components/esp32c3/Kconfig
  components/esp_rom/CMakeLists.txt
  components/esp_rom/esp32c3/ld/esp32c3.rom.eco3.ld
Due: check-kconfigs, cmake-lint

spi: update slv dual board test for ci due to no pullup resistor on io10 on c3
  components/driver/test/test_spi_slave.c
Due: none

spi_slave: enable spi slave dual board test on esp32c3
  tools/ci/config/target-test.yml
Due: none

esp_wifi: Fix some wifi bugs
  components/esp_event/event_send.c
  components/esp_event/include/esp_event_legacy.h
  components/esp_wifi/include/esp_wifi_types.h
Due: none

bugfix for assert when tcp send data
  components/lwip/port/esp32/include/lwipopts.h
Due: none
