Repository MaiNhan94/esp_idf_c3: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-kconfigs, check-deprecated-kconfigs-options, cmake-lint, check-codeowners

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.3.0
    hooks:
      - id: trailing-whitespace
        exclude: '.+\.(md|rst)'
      - id: end-of-file-fixer
      - id: check-executables-have-shebangs
      - id: file-contents-sorter
        files: 'tools/ci/executable-list.txt'
      - id: mixed-line-ending
        args: ['-f=lf']
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.4
    hooks:
      - id: flake8
        args: ['--config=.flake8', '--tee', '--benchmark']
  - repo: local
    hooks:
      - id: check-executables
        name: Check File Permissions
        entry: tools/ci/check_executables.py --action executables
        language: python
        types: [executable]
        exclude: '\.pre-commit/.+'
      - id: check-executable-list
        name: Validate executable-list.txt
        entry: tools/ci/check_executables.py --action list
        language: python
        pass_filenames: false
        always_run: true
      - id: check-kconfigs
        name: Validate Kconfig files
        entry: tools/ci/check_kconfigs.py
        language: python
        files: '^Kconfig$|Kconfig.*$'
      - id: check-deprecated-kconfigs-options
        name: Check if any Kconfig Options Deprecated
        entry: tools/ci/check_deprecated_kconfigs.py
        language: python
        files: 'sdkconfig\.ci$|sdkconfig\.rename$|sdkconfig.*$'
      - id: cmake-lint
        name: Check CMake Files Format
        entry: cmakelint --linelength=120 --spaces=4 --filter=-whitespace/indent
        language: python
        additional_dependencies:
          - cmakelint==1.4.1
        files: 'CMakeLists.txt$|\.cmake$'
        exclude: '\/third_party\/'
      - id: check-codeowners
        name: Validate Codeowner File
        entry: tools/ci/check_codeowners.py ci-check
        language: python
        files: '\.gitlab/CODEOWNERS'
        pass_filenames: false

gdma: fix potential cocurrency issue
  components/driver/gdma.c
  components/driver/test/test_gdma.c
Due: none

rmt: support setting loop count at runtime
  components/driver/include/driver/rmt.h
  components/driver/rmt.c
Due: none

rmt: add musical buzzer example
  docs/en/api-reference/peripherals/rmt.rst
  examples/peripherals/rmt/morse_code/main/morse_code_main.c
  examples/peripherals/rmt/musical_buzzer/CMakeLists.txt
  examples/peripherals/rmt/musical_buzzer/README.md
  examples/peripherals/rmt/musical_buzzer/components/musical_buzzer/CMakeLists.txt
  examples/peripherals/rmt/musical_buzzer/components/musical_buzzer/include/musical_buzzer.h
  examples/peripherals/rmt/musical_buzzer/components/musical_buzzer/src/musical_buzzer_rmt.c
  examples/peripherals/rmt/musical_buzzer/main/CMakeLists.txt
  examples/peripherals/rmt/musical_buzzer/main/musical_buzzer_example_main.c
Due: cmake-lint

CI: Fix port for test app of IDF Monitor IDE integration
  tools/test_apps/system/monitor_ide_integration/app_test.py
Due: none

configure_ds.py: Add function documentation for improving redability.
  examples/protocols/mqtt/ssl_ds/README.md
  examples/protocols/mqtt/ssl_ds/configure_ds.py
Due: none

wifi_provisioning: Add a check for number of scanned networks while allocating memory
  components/wifi_provisioning/src/wifi_scan.c
Due: none

http_server example: Add example test which opens multiple connections
  examples/protocols/http_server/simple/http_server_simple_test.py
  examples/protocols/http_server/simple/main/main.c
Due: none

esp_http_server: Add lru_socket flag in sock_db to indicate httpd_sess_close is called from httpd_sess_close_lru
  components/esp_http_server/src/esp_httpd_priv.h
  components/esp_http_server/src/httpd_main.c
  components/esp_http_server/src/httpd_sess.c
Due: none

esp_wifi: add esptouch v2
  components/esp_wifi/include/esp_smartconfig.h
  components/esp_wifi/include/esp_wifi_crypto_types.h
  components/esp_wifi/src/smartconfig_ack.c
  components/wpa_supplicant/src/crypto/crypto_ops.c
  examples/wifi/smart_config/main/smartconfig_main.c
Due: none

freertos: Adds snapshot API to walk over tasks lists
  components/freertos/include/freertos/task.h
  components/freertos/tasks.c
Due: none

components/pm: Add slp gpio configure workaround
  components/driver/Kconfig
  components/driver/gpio.c
  components/driver/include/driver/gpio.h
  components/esp_pm/Kconfig
  components/esp_pm/linker.lf
  components/esp_pm/pm_impl.c
  components/esp_system/include/esp_sleep.h
  components/esp_system/sleep_modes.c
  components/hal/CMakeLists.txt
  components/hal/esp32/gpio_hal_workaround.c
  components/hal/esp32/include/hal/gpio_ll.h
  components/hal/esp32s2/include/hal/gpio_ll.h
  components/hal/include/hal/gpio_hal.h
  components/soc/esp32/include/soc/io_mux_reg.h
  components/soc/esp32/include/soc/soc_caps.h
  components/soc/esp32s2/include/soc/io_mux_reg.h
  components/soc/esp32s2/include/soc/soc_caps.h
  examples/wifi/power_save/sdkconfig.defaults
Due: check-kconfigs, check-deprecated-kconfigs-options, cmake-lint

console: fix linenoiseProbe never timing out
  components/console/linenoise/linenoise.c
Due: none

fix vendor hci memory leak
  components/bt/host/bluedroid/bta/dm/bta_dm_api.c
  components/bt/host/bluedroid/stack/btm/btm_ble_multi_adv.c
Due: none

fix scan rsp length err
  components/bt/host/bluedroid/stack/btm/btm_ble_gap.c
Due: none

fix ble read multi char err when the number of handles is more than 10
  components/bt/host/bluedroid/bta/gatt/bta_gattc_act.c
  components/bt/host/bluedroid/stack/gatt/gatt_sr.c
Due: none

- fix congest return value - fix system no rsp when doing disconnect - fix no congest event when ssc do writing performance
  components/bt/host/bluedroid/bta/gatt/bta_gattc_act.c
  components/bt/host/bluedroid/btc/profile/std/gatt/btc_gattc.c
  components/bt/host/bluedroid/stack/btm/btm_sec.c
  components/bt/host/bluedroid/stack/l2cap/l2c_api.c
Due: none

fix ble connect crash
  components/bt/host/bluedroid/stack/l2cap/l2c_main.c
  components/bt/host/bluedroid/stack/l2cap/l2c_utils.c
Due: none

fix bluedroid repair faild if the two most significant bits of public address is '01'
  components/bt/host/bluedroid/stack/btm/btm_ble.c
Due: none

fix add white list failed
  components/bt/host/bluedroid/stack/btm/btm_ble_bgconn.c
Due: none

fix multi-connection crash (smp-08003)
  components/bt/host/bluedroid/stack/l2cap/include/l2c_int.h
  components/bt/host/bluedroid/stack/l2cap/l2c_main.c
  components/bt/host/bluedroid/stack/l2cap/l2c_utils.c
Due: none

fix crash when creating aux open failed, fix GAP_22026 failed
  components/bt/host/bluedroid/stack/gatt/gatt_main.c
Due: none

fix connection param update timeout
  components/bt/host/bluedroid/stack/l2cap/l2c_ble.c
Due: none

example: Scan failure should not cause system crash
  examples/bluetooth/bluedroid/ble/blufi/main/blufi_example_main.c
  examples/bluetooth/esp_ble_mesh/ble_mesh_wifi_coexist/components/iperf/cmd_wifi.c
  examples/mesh/manual_networking/main/mesh_main.c
  examples/wifi/iperf/main/cmd_wifi.c
  examples/wifi/scan/main/scan.c
Due: none

feature: support tx amsdu
  components/esp_wifi/Kconfig
  components/esp_wifi/include/esp_private/wifi.h
  components/esp_wifi/include/esp_wifi.h
  components/wpa_supplicant/src/ap/wpa_auth.h
  components/wpa_supplicant/src/ap/wpa_auth_i.h
  components/wpa_supplicant/src/ap/wpa_auth_ie.c
  components/wpa_supplicant/src/common/eapol_common.h
  components/wpa_supplicant/src/common/wpa_common.h
  components/wpa_supplicant/src/esp_supplicant/esp_hostap.c
  components/wpa_supplicant/src/esp_supplicant/esp_wifi_driver.h
  components/wpa_supplicant/src/esp_supplicant/esp_wpa_main.c
  components/wpa_supplicant/src/rsn_supp/wpa.c
  components/wpa_supplicant/src/rsn_supp/wpa_i.h
  components/wpa_supplicant/src/rsn_supp/wpa_ie.c
Due: check-kconfigs

ble_mesh: stack: Enable updating lighting hsl state
  components/bt/esp_ble_mesh/api/esp_ble_mesh_defs.h
  components/bt/esp_ble_mesh/mesh_models/server/include/state_binding.h
  components/bt/esp_ble_mesh/mesh_models/server/state_binding.c
Due: none

fix bluedroid deinit crash
  components/bt/host/bluedroid/stack/btm/btm_ble_bgconn.c
  components/bt/host/bluedroid/stack/l2cap/l2c_main.c
Due: none

Update tinyusb to the latest upstream version
  components/tinyusb/additions/src/tinyusb.c
Due: none

NimBLE: Update NimBLE to latest 1.3.0 release
  components/bt/CMakeLists.txt
  components/bt/component.mk
  components/bt/host/nimble/Kconfig.in
  components/bt/host/nimble/esp-hci/src/esp_nimble_hci.c
  components/bt/host/nimble/port/include/esp_nimble_cfg.h
  examples/bluetooth/nimble/blemesh/main/app_mesh.c
Due: check-kconfigs, cmake-lint

BLE Mesh: Fix compilation for NimBLE-1.3.0 upgrade by typecasting adv data to void
  components/bt/esp_ble_mesh/mesh_core/nimble_host/mesh_bearer_adapt.c
Due: none

NimBLE: Enable `NIMBLE_MESH_FRIEND` by default for `blemesh` example
  examples/bluetooth/nimble/blemesh/sdkconfig.defaults
Due: check-deprecated-kconfigs-options

tools: Update esptool submodule
  examples/security/flash_encryption/example_test.py
Due: none

Add USB Host HAL
  components/hal/CMakeLists.txt
  components/hal/esp32s2/include/hal/usbh_hal.h
  components/hal/esp32s2/include/hal/usbh_ll.h
  components/hal/esp32s2/usbh_hal.c
Due: cmake-lint

esp32c3: Add UTs for reset_reason
  components/esp_common/test/test_attr.c
  components/esp_system/port/arch/riscv/panic_arch.c
  components/esp_system/test/test_reset_reason.c
  components/soc/esp32c3/soc_memory_layout.c
  tools/ci/config/target-test.yml
Due: none

ble_mesh: stack: Update mesh max conn macro when using bluedroid
  components/bt/esp_ble_mesh/mesh_core/include/mesh_bearer_adapt.h
Due: none

ble_mesh: stack: Fix compile warning with BIT macro
  components/bt/esp_ble_mesh/mesh_common/include/mesh_util.h
Due: none

ble_mesh: example: Add gpio option for ESP32C3-DevKitC
  examples/bluetooth/esp_ble_mesh/ble_mesh_fast_provision/fast_prov_server/main/Kconfig.projbuild
  examples/bluetooth/esp_ble_mesh/ble_mesh_fast_provision/fast_prov_server/main/board.h
  examples/bluetooth/esp_ble_mesh/ble_mesh_node/onoff_client/main/Kconfig.projbuild
  examples/bluetooth/esp_ble_mesh/ble_mesh_node/onoff_client/main/board.h
  examples/bluetooth/esp_ble_mesh/ble_mesh_node/onoff_server/main/Kconfig.projbuild
  examples/bluetooth/esp_ble_mesh/ble_mesh_node/onoff_server/main/board.h
  examples/bluetooth/esp_ble_mesh/ble_mesh_sensor_model/sensor_server/main/Kconfig.projbuild
  examples/bluetooth/esp_ble_mesh/ble_mesh_sensor_model/sensor_server/main/board.h
  examples/bluetooth/esp_ble_mesh/ble_mesh_vendor_model/vendor_server/main/Kconfig.projbuild
  examples/bluetooth/esp_ble_mesh/ble_mesh_vendor_model/vendor_server/main/board.h
  examples/bluetooth/esp_ble_mesh/ble_mesh_wifi_coexist/main/Kconfig.projbuild
  examples/bluetooth/esp_ble_mesh/ble_mesh_wifi_coexist/main/board.h
Due: check-kconfigs

bootloader: add flash encryption support for C3
  components/app_update/esp_ota_ops.c
  components/bootloader_support/src/esp32c3/flash_encrypt.c
  components/bootloader_support/src/flash_encrypt.c
  components/spi_flash/esp32c3/flash_ops_esp32c3.c
  docs/en/security/esp32_log.inc
  docs/en/security/esp32c3_log.inc
  docs/en/security/esp32s2_log.inc
  docs/en/security/flash-encryption.rst
  docs/zh_CN/security/esp32_log.inc
  docs/zh_CN/security/esp32c3_log.inc
  docs/zh_CN/security/esp32s2_log.inc
  examples/security/flash_encryption/main/flash_encrypt_main.c
Due: none

tools: support for embedded python
  docs/en/api-guides/tools/idf-tools-notes.inc
  docs/en/api-guides/tools/idf-windows-installer.rst
  docs/en/api-guides/tools/index.rst
  docs/en/get-started/windows-setup.rst
  docs/zh_CN/api-guides/tools/idf-tools-notes.inc
  docs/zh_CN/api-guides/tools/idf-windows-installer.rst
  docs/zh_CN/api-guides/tools/index.rst
  docs/zh_CN/get-started/windows-setup.rst
  tools/idf_tools.py
  tools/tools.json
  tools/windows/tool_setup/README.md
  tools/windows/tool_setup/Scripts/Install-Idf.ps1
  tools/windows/tool_setup/Scripts/Prepare-Cache.ps1
  tools/windows/tool_setup/Scripts/Test-Idf.ps1
  tools/windows/tool_setup/build_installer.sh
  tools/windows/tool_setup/choice_page.iss.inc
  tools/windows/tool_setup/cmdline_page.iss.inc
  tools/windows/tool_setup/docker-compose.yml
  tools/windows/tool_setup/git_find_installed.iss.inc
  tools/windows/tool_setup/git_page.iss.inc
  tools/windows/tool_setup/idf_download_page.iss.inc
  tools/windows/tool_setup/idf_page.iss.inc
  tools/windows/tool_setup/idf_setup.iss.inc
  tools/windows/tool_setup/idf_tool_setup.iss
  tools/windows/tool_setup/main.iss.inc
  tools/windows/tool_setup/python_find_installed.iss.inc
  tools/windows/tool_setup/python_page.iss.inc
  tools/windows/tool_setup/summary.iss.inc
  tools/windows/tool_setup/system_check_page.iss.inc
Due: none

esp_wifi: light sleep optimization
  components/driver/include/driver/periph_ctrl.h
  components/driver/periph_ctrl.c
  components/esp32/ld/esp32_fragments.lf
  components/esp32c3/ld/esp32c3_fragments.lf
  components/esp32s2/ld/esp32s2_fragments.lf
  components/esp_pm/include/esp_private/pm_impl.h
  components/esp_pm/linker.lf
  components/esp_pm/pm_impl.c
  components/esp_system/sleep_modes.c
  components/esp_wifi/Kconfig
  components/esp_wifi/esp32/esp_adapter.c
  components/esp_wifi/esp32c3/esp_adapter.c
  components/esp_wifi/esp32s2/esp_adapter.c
  components/esp_wifi/include/esp_private/wifi.h
  components/esp_wifi/linker.lf
  components/esp_wifi/src/phy_init.c
  components/esp_wifi/src/wifi_init.c
  components/hal/esp32/include/hal/clk_gate_ll.h
  components/hal/esp32c3/include/hal/clk_gate_ll.h
  components/hal/esp32s2/include/hal/clk_gate_ll.h
  components/hal/esp32s3/include/hal/clk_gate_ll.h
  examples/wifi/power_save/sdkconfig.defaults
Due: check-kconfigs, check-deprecated-kconfigs-options
