Repository MaiNhan94/esp_idf_c3: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-kconfigs, check-deprecated-kconfigs-options, cmake-lint, check-codeowners

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.3.0
    hooks:
      - id: trailing-whitespace
        exclude: '.+\.(md|rst)'
      - id: end-of-file-fixer
      - id: check-executables-have-shebangs
      - id: file-contents-sorter
        files: 'tools/ci/executable-list.txt'
      - id: mixed-line-ending
        args: ['-f=lf']
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.4
    hooks:
      - id: flake8
        args: ['--config=.flake8', '--tee', '--benchmark']
  - repo: local
    hooks:
      - id: check-executables
        name: Check File Permissions
        entry: tools/ci/check_executables.py --action executables
        language: python
        types: [executable]
        exclude: '\.pre-commit/.+'
      - id: check-executable-list
        name: Validate executable-list.txt
        entry: tools/ci/check_executables.py --action list
        language: python
        pass_filenames: false
        always_run: true
      - id: check-kconfigs
        name: Validate Kconfig files
        entry: tools/ci/check_kconfigs.py
        language: python
        files: '^Kconfig$|Kconfig.*$'
      - id: check-deprecated-kconfigs-options
        name: Check if any Kconfig Options Deprecated
        entry: tools/ci/check_deprecated_kconfigs.py
        language: python
        files: 'sdkconfig\.ci$|sdkconfig\.rename$|sdkconfig.*$'
      - id: cmake-lint
        name: Check CMake Files Format
        entry: cmakelint --linelength=120 --spaces=4 --filter=-whitespace/indent
        language: python
        additional_dependencies:
          - cmakelint==1.4.1
        files: 'CMakeLists.txt$|\.cmake$'
        exclude: '\/third_party\/'
      - id: check-codeowners
        name: Validate Codeowner File
        entry: tools/ci/check_codeowners.py ci-check
        language: python
        files: '\.gitlab/CODEOWNERS'
        pass_filenames: false

http_auth.c: Fix crash when opaque field is not present in challenge string
  components/esp_http_client/lib/http_auth.c
Due: none

spi: fix spi_ll.h func name
  components/hal/esp32/include/hal/spi_ll.h
  components/hal/esp32s2/include/hal/spi_ll.h
Due: none

examples: make mqtt tcp example to report tcp-transport errno
  examples/protocols/mqtt/ssl/main/app_main.c
  examples/protocols/mqtt/tcp/main/app_main.c
Due: none

add a chinese translation for wifi driver
  docs/en/api-guides/wifi.rst
  docs/zh_CN/api-guides/wifi.rst
Due: none

Driver(ADC): remove ESP_LOGD from adc_set_init_code
  components/driver/adc_common.c
Due: none

esp_netif: Fixed possible use of hostname pointer after its freed
  components/esp_netif/lwip/esp_netif_lwip.c
Due: none

esp_netif: Added test for failing to set hostname
  components/esp_netif/test/test_esp_netif.c
Due: none

ci: Fix annotated tag check
  tools/ci/config/pre_check.yml
Due: none

ble_mesh: stack: Provisioner supports receiving heartbeat
  components/bt/esp_ble_mesh/Kconfig.in
  components/bt/esp_ble_mesh/api/core/esp_ble_mesh_networking_api.c
  components/bt/esp_ble_mesh/api/core/include/esp_ble_mesh_networking_api.h
  components/bt/esp_ble_mesh/api/esp_ble_mesh_defs.h
  components/bt/esp_ble_mesh/btc/btc_ble_mesh_prov.c
  components/bt/esp_ble_mesh/btc/include/btc_ble_mesh_prov.h
  components/bt/esp_ble_mesh/mesh_core/provisioner_main.c
  components/bt/esp_ble_mesh/mesh_core/provisioner_main.h
  components/bt/esp_ble_mesh/mesh_core/transport.c
Due: check-kconfigs

ble_mesh: ci: Add enabling hb recv sdkconfig file
  examples/bluetooth/esp_ble_mesh/ble_mesh_provisioner/sdkconfig.ci.rx_hb
Due: check-deprecated-kconfigs-options

wpa_supplicant: Use WPA3 flag to reduce code size
  components/wpa_supplicant/CMakeLists.txt
  components/wpa_supplicant/component.mk
  components/wpa_supplicant/src/common/wpa_common.c
  components/wpa_supplicant/src/esp_supplicant/esp_wpa3_i.h
  components/wpa_supplicant/src/rsn_supp/wpa_ie.c
Due: cmake-lint

Secure Boot V2: Fix an issue leading to manual enablement of Secure Boot v2.
  components/bootloader_support/src/esp32/secure_boot.c
Due: none

ESP32: Fix xtal 32k not oscillate or oscillate too slowly issue
  components/driver/esp32/touch_sensor.c
  components/driver/include/driver/touch_sensor_common.h
  components/esp32/Kconfig
  components/esp_hw_support/CMakeLists.txt
  components/esp_hw_support/port/esp32/rtc_clk.c
  components/esp_system/sleep_modes.c
  components/hal/esp32/include/hal/touch_sensor_ll.h
  examples/peripherals/touch_pad_interrupt/main/esp32/tp_interrupt_main.c
  examples/peripherals/touch_pad_read/main/esp32/tp_read_main.c
  examples/system/deep_sleep/main/deep_sleep_example_main.c
Due: check-kconfigs, cmake-lint

blufi: fix an error caused by incorrect conn_id parameters.
  components/bt/host/bluedroid/btc/profile/esp/blufi/blufi_prf.c
Due: none

component/bt: Fix a potential double free error.
  components/bt/host/bluedroid/bta/gatt/bta_gattc_utils.c
Due: none

component/bt: Add a macro to control the compilation of blufi.
  components/bt/common/btc/core/btc_task.c
  components/bt/common/btc/include/btc/btc_task.h
  components/bt/host/bluedroid/Kconfig.in
  components/bt/host/bluedroid/api/esp_blufi_api.c
  components/bt/host/bluedroid/btc/profile/esp/blufi/blufi_prf.c
  components/bt/host/bluedroid/btc/profile/esp/blufi/blufi_protocol.c
  components/bt/host/bluedroid/btc/profile/esp/blufi/include/blufi_int.h
  components/bt/host/bluedroid/common/include/common/bluedroid_user_config.h
  components/bt/host/bluedroid/common/include/common/bt_target.h
  examples/bluetooth/bluedroid/ble/blufi/sdkconfig.defaults
Due: check-kconfigs, check-deprecated-kconfigs-options

CI: clarify file patterns in sonar_exclude_list.txt
  tools/ci/sonar_exclude_list.txt
Due: none

ci: Log failure to close any DUT
  tools/ci/python_packages/tiny_test_fw/Env.py
Due: none

ci: ttfw: Encode serial port data to whatever the console encoding is
  tools/ci/python_packages/tiny_test_fw/DUT.py
Due: none

spi_flash: add a block of flash chip supports in the document
  components/spi_flash/README.rst
Due: none

test: remove fake binary size check in example test:
  examples/bluetooth/nimble/blehr/blehr_test.py
  examples/bluetooth/nimble/bleprph/bleprph_test.py
  examples/get-started/blink/example_test.py
  examples/protocols/asio/chat_client/asio_chat_client_test.py
  examples/protocols/asio/chat_server/asio_chat_server_test.py
  examples/protocols/asio/tcp_echo_server/asio_tcp_server_test.py
  examples/protocols/asio/udp_echo_server/asio_udp_server_test.py
  examples/protocols/esp_http_client/esp_http_client_test.py
  examples/protocols/http_server/advanced_tests/http_server_advanced_test.py
  examples/protocols/http_server/persistent_sockets/http_server_persistence_test.py
  examples/protocols/http_server/simple/http_server_simple_test.py
  examples/protocols/http_server/ws_echo_server/ws_server_example_test.py
  examples/protocols/https_request/example_test.py
  examples/protocols/https_x509_bundle/example_test.py
  examples/protocols/mdns/mdns_example_test.py
  examples/protocols/mqtt/ssl/mqtt_ssl_example_test.py
  examples/protocols/mqtt/tcp/mqtt_tcp_example_test.py
  examples/protocols/mqtt/ws/mqtt_ws_example_test.py
  examples/protocols/mqtt/wss/mqtt_wss_example_test.py
  examples/protocols/sockets/tcp_client/example_test.py
  examples/protocols/sockets/tcp_server/example_test.py
  examples/protocols/sockets/udp_client/example_test.py
  examples/protocols/sockets/udp_server/example_test.py
  examples/protocols/websocket/example_test.py
  examples/provisioning/legacy/ble_prov/ble_prov_test.py
  examples/provisioning/legacy/softap_prov/softap_prov_test.py
  examples/provisioning/wifi_prov_mgr/wifi_prov_mgr_test.py
  examples/system/ota/advanced_https_ota/example_test.py
  examples/system/ota/native_ota_example/example_test.py
  examples/system/ota/simple_ota_example/example_test.py
Due: none

uart: add uart support on esp32s3
  components/console/esp_console_repl.c
  components/driver/test/test_uart.c
  components/driver/uart.c
  components/esp_pm/pm_impl.c
  components/hal/esp32/include/hal/uart_ll.h
  components/hal/esp32s2/include/hal/uart_ll.h
  components/hal/esp32s3/include/hal/uart_ll.h
  components/hal/include/hal/uart_hal.h
  components/hal/include/hal/uart_types.h
  components/hal/uart_hal.c
  components/soc/esp32/include/soc/soc_caps.h
  components/soc/esp32s2/include/soc/soc_caps.h
  components/soc/esp32s3/include/soc/soc.h
  components/soc/esp32s3/include/soc/soc_caps.h
  components/soc/esp32s3/include/soc/uart_caps.h
  components/soc/esp32s3/include/soc/uart_struct.h
  components/soc/esp32s3/uart_periph.c
Due: none

uart: seperate sclk and baudrate setting
  components/driver/uart.c
  components/esp32/test/test_dport.c
  components/esp_pm/pm_impl.c
  components/esp_system/test/test_sleep.c
  components/hal/esp32/include/hal/uart_ll.h
  components/hal/esp32s2/include/hal/uart_ll.h
  components/hal/esp32s3/include/hal/uart_ll.h
  components/hal/include/hal/uart_hal.h
  components/hal/uart_hal.c
Due: none

i2c: Fix bug on i2c clk allocator
  components/driver/i2c.c
  examples/peripherals/i2c/i2c_self_test/main/i2c_example_main.c
  examples/peripherals/i2c/i2c_tools/main/cmd_i2ctools.c
Due: none

Updated CN translation for index.rst and establish-serial-connection.rst and add CN translation for VScode-setup.rst in get-started folder to get EN and CN translation in sync
  docs/en/get-started/establish-serial-connection.rst
  docs/en/get-started/vscode-setup.rst
  docs/zh_CN/get-started/establish-serial-connection.rst
  docs/zh_CN/get-started/index.rst
  docs/zh_CN/get-started/vscode-setup.rst
Due: none

bugfix: Delete local variables to avoid null global variables
  examples/bluetooth/esp_ble_mesh/ble_mesh_wifi_coexist/components/iperf/cmd_wifi.c
Due: none

Fixed ssl_ctx not being freed at the time of error. Closes https://github.com/espressif/esp-idf/issues/6143
  components/esp_https_server/src/https_server.c
Due: none

Fixed typo in configure_ds.py script commmand.
  examples/protocols/mqtt/ssl_ds/configure_ds.py
Due: none

ble_mesh: ci: Add PB-ADV & PB-GATT sdkconfig test files
  examples/bluetooth/esp_ble_mesh/ble_mesh_provisioner/sdkconfig.ci.pba
  examples/bluetooth/esp_ble_mesh/ble_mesh_provisioner/sdkconfig.ci.pbg
Due: check-deprecated-kconfigs-options

ble_mesh: stack: Need uuid when adding device for provisioning
  components/bt/esp_ble_mesh/mesh_core/bluedroid_host/mesh_bearer_adapt.c
  components/bt/esp_ble_mesh/mesh_core/nimble_host/mesh_bearer_adapt.c
  components/bt/esp_ble_mesh/mesh_core/provisioner_prov.c
Due: none

tools: idf_exe: add Ctrl+C processing
  tools/windows/idf_exe/idf_main.c
Due: none

ci: Fix blecent example test
  examples/bluetooth/nimble/blecent/blecent_test.py
  tools/ble/lib_ble_client.py
Due: none

ci: Fixed wrong socket operation in python3
  tools/test_apps/protocols/pppos/app_test.py
Due: none

ci: Removed remaining binary size checks in app-tests
  components/idf_test/include/idf_performance.h
  tools/test_apps/protocols/mqtt/publish_connect_test/app_test.py
  tools/test_apps/protocols/openssl/app_test.py
Due: none

partition_table: Fix missing argument not present for all parsers
  components/partition_table/parttool.py
Due: none

buildsystem: flash binary to a named partition
  components/esptool_py/project_include.cmake
  components/partition_table/parttool.py
  components/spiffs/project_include.cmake
Due: cmake-lint

buildsystem: flash binary to a named partition
  components/esptool_py/project_include.cmake
Due: cmake-lint
